<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us - UNITE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/messages.css">
    <link rel="stylesheet" href="/jquery-ui.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/jquery-ui.min.js"></script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/sweetalert2@9.min.js"></script>
    <script src="/https.js"></script>
    <script src="/functions.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      let id = "<%= userId %>", 
      role = "<%= role %>", 
      avatar = "<%= avatar %>", 
      name = "<%= userName %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));
    });
  </script>
</head>

<body>
    <nav pos="1" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite.png?v=1593072732680" height="50">
        </a>
        <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
  
    <div class="container terms text-center home">
        <div class="text-center mx-auto">
            <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite.png?v=1593072732680" height="100">
        </div>        
        <span class="font-16pt color-primary">
            <b>U</b>nderserved <b>N</b>eeds <b>I</b>n <b>T</b>imes of <b>E</b>mergency
        </span>
      <br>
        <span class="font-16pt color-secondary">
            Public Procurement Platform
        </span>
      <br>
      <span class="color-secondary font-14pt-custom">
      We are driving the new normal!
    </span>
    </div>
    <br>
    <div style="" title="Welcome to UNITE!" class="customer-form">
        <p class="term-light text-center">UNITE is a Public Procurement Platform exclusively for governmental procurement of special orders of products and services for crisis response.
            <br>We call it "The Alibaba of urgent public procurement requests."<br><br>
            UNITE is a two-sided platform, connecting public buyers with companies that have the capability and capacity to refocus their activities to supplying goods and services in response to the COVID-19 crisis.<br><br>
            Companies are invited to register on the platform, describing their capability and capacity to manufacture urgently needed products or to supply in-demand services.
            <br>Companies can also browse and respond to open tender requests placed by public buyers.
            <br><br>
            Public buyers can access the platform and create a procurement request. Our software matches the procurement request with potential suppliers and facilitates the complete transaction - including initial contact, negotiation. order placement, delivery acceptance, and payment.
        </p>
      <p class="term-light text-center">
        UNITE differentiates itself from other solutions in that it provides a database of companies with capability to refocus operations and in that it automates the process. Other solutions include using existing suppliers and ERP/purchasing system (not suited to abnormal requirements); engagement with the market through contacting individual companies by email, telephone or in person (which is slow); use of other online sales platforms (no visibility of the ability of companies to refocus operations);  own knowledge of public buyers and their connections to industry (not widely shared - limited to individuals or local teams).
      </p>
      <div style='margin-top: 10px;'>
        <div class='about details text-center'>
          <p style='color: yellow'>
            More On Us:
          </p>
          <span><a href="https://covid-eic.easme-web.eu/solution/unite-public-procurement-platform/about">EIC COVID Platform presence</a></span>
          &nbsp;
          <span><a href="https://devpost.com/software/unite-government-procurement-platform">DevPost Details</a></span>
          <br><br>
        </div>
        
        <div class='about social-media text-center'>
          <p style='color: yellow'>
            Social Media Links:
          </p>
          <a href='https://twitter.com/UNITEteam1'>Twitter</a>
          &nbsp;
          <a href='https://www.youtube.com/channel/UCCb-1JN0KCCFMC16SW_Bmkw'>YouTube</a>
        </span>
      </div>
  </div>   
</body>

</html>