<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency - Antibribery Agreement</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert.min.js"></script> 
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var id = "<%= userId %>", 
      role = "<%= role %>", 
      avatar = "<%= avatar %>", 
      name = "<%= userName %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));
    });
  </script>
</head>

<body>
   <nav pos="4" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
        height="50">
    </a>
    <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container terms home">    
  </div>
   <div class="modal-body">
          <p class='term-black'><b>Note: </b>The UNITE platform is aiming at bringing help to European governmental agencies during this historically difficult COVID-19 challenge.</p>
          <p class='term-black'>At the same time, we are concerned about providing honest services to our users.</p>
          <p class='term-black'>Thus, we are setting this agreement as a guarantee that our platform and services are and will always be bribery-free. Fairness is one of our goals.</p>
          <p class='term-black'>
         In no situation shall we request money or other goods for you with the purpose of unfairly leveraging your access to our Services, or of giving you undeserved priority to other customers of ours.<br>Our UNITE team is made of honest, motivated, united, and dedicated people and we are putting our constant efforts in developing and maintaining a safe, user-friendly, honorable business environment in the benefit and the advantage of our society.<br><br>The peculiarly hard times that we are going through shall be <b><u><i>no excuse</i></u></b> for corruption and lack of honesty towards each other.
     </p>
     <p class='term-black'>
       In case we detect bribery-suspicious or obvious activities coming from the part of any type of our users, regardless of their nationality, richness of business, or other criteria, we shall deny their access to UNITE as soon as possible as well as announcing their related authorities with concern of such behaviour.
     </p>
     <p class='term-black'>
       Government Supervisors register on the UNITE platform site in order to look up the activity of government buyers. In case they detect unusual behaviour related, but not limited to, bribery, money launder, and other onerous activities, they are required to contact us and the law enforcement authorities.<br><b>Supervisors are strongly required to immediately report unfair acts coming from the part of Buyers, and they are also empowered with <u>removing</u> such malicious users from the UNITE platform.</b><br><br>As for our part, once the illegal behaviour is reported and proved we will forbid further access to the platform to involved users.
     </p>
  </div>    
</body>
  
</html>