<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= translation.bannedUsers.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      let data = [];
      <% if(titles != null) { for(let s of titles) { %>
      data.push({
        id: '<%= s._id %>',
        name: '<%= s.name %>'
      });
      <% } } %>
      
      let banData = [];
      <% if(bannedUsers != null) { for(let s of bannedUsers) { %>
      banData.push({
        id: '<%= s._id %>',
        name: '<%= s.name %>',
        type: '<%= s.type %>',
        userId: '<%= s.userId %>',
        email: '<%= s.email %>',
        ip: '<%= s.ip %>',
        banDate: '<%= s.banDate %>',
        banExpiryDate: '<%= s.banExpiryDate %>'
      });
      <% } } %>      
      
      getCancelReasonTitles($('#mainForm'), data);
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
      $('#endDate').datepicker();
      let str = '';
      str += '<div id="jqDiv" class="jqGridProd form-group"><table id="gridBans"></table><div id="banPager"></div></div>';
      $('div.bodyBuilder').append(str);

      let colModel = [             
        { name: 'name', label: 'User Name', search: true, width: 140},
        { name: 'type', label: 'User Type', align: 'center', search: true, width: 140},
        { name: 'email', label: 'E-mail Address', sorttype: 'text', align: 'center', search: true, width: 140},
        { name: 'ip', label: 'IPv4 Address', align: 'center', sorttype: 'text', search: true, width: 140 },
        { name: 'banDate', label: 'Ban Date', align: 'center', formatter: 'date', formatoptions: { srcformat: 'd/m/Y', newformat: 'd/m/Y'}, search: true, width: 90},
        { name: 'banExpiryDate', label: 'Ban Expiry Date', align: 'center', formatter: 'date', formatoptions: { srcformat: 'd/m/Y', newformat: 'd/m/Y'}, search: true, width: 90}
      ];

      initGrid(colModel, banData, "#gridBans", '#banPager', "userName", 'Banned Users List', 1100);
      $('#loadBannedUsers').off('click');

      $('#mainForm').submit(function(e) {
        let radio = $(this).find('input[type="radio"]:checked');
        radio.attr('name', 'reasonTitle');
        if(!confirm('<%= translation.bannedUsers.banConfirmation %>')) {
          return false;
        }
      });
      
      setTimeout(function() {    
        <% if(keys != null) { %>
        let i = 0, indexes = [];
        
        $('a.nav-link').each(function(ind, elem) {      
          indexes.push($(elem).attr('index'));
        });

        <% for(let k in keys) { %>   
        if(isInArray(i, indexes)) {
          $('a.nav-link span').eq(i).text('<%= eval(keys[k]) %>');
        }
        i++;
        <% } } %>
      }, 500);
  });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/"><%= translation.bannedUsers.title %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container home">
       <div class="col-md-12">
        <legend>
          <%= translation.bannedUsers.banTitle %>
        </legend>
        <form id="mainForm" method="POST">
          <div class="form-group">
            <label for="reason"><%= translation.bannedUsers.banReason %>*:</label>
            <textarea required rows="10" cols="50" class="form-control" id="reason" name="reason"></textarea>
          </div>
          <input type="hidden" name="type" value="User Ban by Admin">
          <input type="hidden" name="id" value="<%= banId %>">
          <input type="hidden" name="userType" value="<%= banType %>">
          <input type="hidden" name="emailAddress" value="<%= emailAddress %>">
          <input type="hidden" name="ipv4Address" value="<%= ipv4Address %>">          
          <div class="form-group">
            <label for="name"><%= translation.bannedUsers.userName %>:</label>
            <input readonly type="text" name="name" value="<%= name %>">  
          </div>
          <div class="form-group">
            <label for="endDate"><%= translation.bannedUsers.banPrefEndingDate %>:</label>
            <input type="text" class="form-control" required id="endDate" name="endDate">
          </div>
          <input type="hidden" name="uniteID" value="<%= uniteID %>">
          <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" id="delete" title="Ban User" class="btn btn-primary btn-block btn-lg"><%= translation.bannedUsers.banUser %></button>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label><%= translation.bannedUsers.loadBannedList %></label>
          <button class="form-control btn btn-outline-warning" id="loadBannedUsers">
            <%= translation.bannedUsers.loadButton %>
          </button>
        </div>
        <div class="bodyBuilder">
        </div>
      </div>
    </div>
  </body>
</html>