<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= translation.bidsCatalog.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/jquery.simulate.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      //errorSuccess(Swal, '< %= errorMessage %>', '< %= successMessage %>');
     let id = "<%= userId %>", 
      role = "<%= role %>", 
      avatar = "<%= avatar %>", 
      name = "<%= userName %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));
      
      <% if(keys != null) { %>
      let i = 0, indexes = [];

      $('a.nav-link').each(function(ind, elem) {      
        indexes.push($(elem).attr('index'));
      });

      let iter = 0;
        
      <% for(let k in keys) { %>   
      if(isInArray(i, indexes)) {
        $('a.nav-link span').eq(iter++).text('<%= eval(keys[k]) %>');
      }
      i++;
      <% } } %>      
    });
  </script>
  </head>

<body>
  <nav pos="8" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/"><%= translation.bidsCatalog.title %></a>
    <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container home">
  <h1>
   <%= translation.bidsCatalog.secondTitle %>
  </h1>
  <br>
  <div>
    <p class='term'>
      <%= translation.bidsCatalog.description_partOne %>
    </p>
    <p class='term'>
      <%= translation.bidsCatalog.description_partTwo %>
    </p>
  </div>
  <br><br>
  <h3 style="color: teal">
    <%= translation.bidsCatalog.contentTitle %>
  </h3>
  <br>
<% if(bids != null && bids.length > 0) { %>
  <div class="container form-group mt-4" style="text-align: center"> 
    </div>
    <div id="jqDiv_0" class="form-group">
      <table id="gridBids">
      </table>
      <div id='bidsPager'>
      </div>
    </div>
  <script type="text/javascript">
    let data = [];
    colModelGridBids.splice(1, 0, { name: 'buyerName', label: '<%= translation.gridBids.buyerName %>', align: 'center', search: true, width: 220});
    <% if(gridKeys != null) { %>
    let i = 0;
    <% for(let k in gridKeys) { %>
    colModelGridBids[i].label = '<%= eval(gridKeys[k]) %>';
    i++;
    <% } } %>
  
  <% i = 0; for (let bid of bids) { %>    
    data.push({
          id: "<%= i %>",
          bidName: "<%= bid.requestName %>",
          buyerName: "<%= bid.buyerName %>",
          supplierName: "<%= bid.supplierName %>",
          expiryDate: "<%= bid.expiryDateFormatted %>",
          dateCreated: "<%= bid.createdAtFormatted %>",
          isCancelled: "<%= bid.isCancelled %>",
          isExpired: "<%= bid.isExpired %>",
          buyerPriceHref: "<%= parseFloat(bid.buyerPrice) %> <%= bid.buyerCurrency %>",
          supplierPriceHref: "<%= parseFloat(bid.supplierPrice) %> <%= bid.supplierCurrency %>"
    });
     <% i++; } %>
    
    initGrid(colModelGridBids, data, "#gridBids", '#bidsPager', "bidName", '<%= translation.gridBids.title %>', 1200);
    </script>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            <%= translation.bidsCatalog.noElements %>
          </p>
        </div>
        <% }%>
  </div>  
  </body>  
</html>  