<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyer's Balance</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/jquery.simulate.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      //errorSuccess(Swal, '< %= errorMessage %>', '< %= successMessage %>');
     let id = "<%= userId %>", 
      role = "<%= role %>", 
      avatar = "<%= avatar %>", 
      name = "<%= userName %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));
      //initBaseRates(fx, '#currency');
    });
  </script>
  </head>

<body>
  <nav pos="8" user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE</a>
    <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container home">
  <h1>
    FULL LIST OF BUYER BIDS - UNITE
  </h1>
  <br>
  <div>
    <p class='term'>
      This is the whole list of bid requests (Tender Requests) that have been placed by all our UNITE Buyers by now. It includes bids of any status (valid, expired, cancelled), and also their prices, given in supplier's agreed currency.
    </p>
    <p class='term'>
      We may also convert each bid's price to the default currency of the Bid Request. We assume that suppliers may use different national currencies from those of the buyers, so then we apply conversion rates.
    </p>
  </div>
  <br><br>
  <h3 style="color: teal">
    Full table of your Buyer Bids
  </h3>
  <br>
<% if(bids != null && bids.length > 0) { %>
  <div class="container form-group mt-4" style="text-align: center"> 
    </div>
    <div id="jqDiv_0" class="form-group">
      <table id="gridBids">
      </table>
      <div id='bidsPager'>
      </div>
    </div>
  <script type="text/javascript">
    var data = [];
    var colModelGridBids = [
      { name: 'bidName', label: 'Bid Request Name', search: true, width: 210},
      { name: 'buyerName', label: 'Bid Buyer Name', align: 'center', search: true, width: 220},
      { name: 'supplierName', label: 'Bid Supplier Name', align: 'center', sorttype: 'text', search: true, width: 220},      
      { name: 'buyerPrice', label: 'Buyer\'s Price', align: 'center', formatter: buyerPriceFormatter, search: true, width: 100},
      { name: 'supplierPrice', label: 'Supplier\'s Price', align: 'center', formatter: supplierPriceFormatter, search: true, width: 100 },
      { name: 'buyerPriceHref', hidden: true },
      { name: 'supplierPriceHref', hidden: true },
      { name: 'dateCreated', label: 'Creation Date', align: 'center', search: true, width: 200},
      { name: 'expiryDate', label: 'Expiry Date', align: 'center', search: true, width: 100},
      { name: 'isCancelled', label: 'Is Cancelled?', align: 'center', search: true, width: 100},
      { name: 'isExpired', label: 'Is Expired?', align: 'center', search: true, width: 100 }
    ];

    initGrid(colModelGridBids, data, "#gridBids", '#bidsPager', "bidName", 'Bids List');
  </script>
  <% i = 0; for (bid of bids) { %>
  <script type="text/javascript">
    
    var data = {
          id: "<%= i %>",
          bidName: "<%= bid.requestName %>",
          buyerName: "<%= bid.buyerName %>",
          supplierName: "<%= bid.supplierName %>",
          expiryDate: "<%= bid.expiryDateFormatted %>",
          dateCreated: "<%= bid.createdAtFormatted %>",
          isCancelled: "<%= bid.isCancelled %>",
          isExpired: "<%= bid.isExpired %>",
          buyerPriceHref: "<%= parseFloat(bid.buyerPrice) %> <%= bid.buyerCurrency %>",
          supplierPriceHref: "<%= parseFloat(bid.supplierPrice) %> <%= bid.supplierCurrency %>"
    };

    $("#gridBids").jqGrid('addRowData', data.id, data, 'last');        
  </script>
     <% i++; } %>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no buyers here.
          </p>
        </div>
        <% }%>
  </div>
  
  </body>
  
</html>
  