<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= translation.deleteUser.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      let data = [];
      <% if(titles != null) { for(let s of titles) { %>
      data.push({
        id: '<%= s._id %>',
        name: '<%= s.name %>'
      });
      <% } } %>
      
      getCancelReasonTitles($('#mainForm'), data);
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');

      $('#mainForm').submit(function(e) {
        let radio = $(this).find('input[type="radio"]:checked');
        radio.attr('name', 'reasonTitle');
        if(!confirm('<%= translation.deleteUser.confirmation %>')) {
          return false;
        }
      });
      
      <% if(keys != null) { %>
      let i = 0, indexes = [];

      $('a.nav-link').each(function(ind, elem) {      
        indexes.push($(elem).attr('index'));
      });

      let iter = 0;
        
      <% for(let k in keys) { %>   
      if(isInArray(i, indexes)) {
        $('a.nav-link span').eq(iter++).text('<%= eval(keys[k]) %>');
      }
      i++;
      <% } } %>      
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/"><%= translation.deleteUser.title %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container home">
       <div class="col-md-12">
        <legend>
          <%= translation.deleteUser.secondTitle %>
        </legend>
        <form id="mainForm" method="POST">
          <div class="form-group">
            <label for="reason"><%= translation.deleteUser.reason %>*:</label>
            <textarea required rows="10" cols="50" class="form-control" id="reason" name="reason"></textarea>
          </div>
          <input type="hidden" name="type" value="User Cancellation by Admin">
          <input type="hidden" name="id" value="<%= deleteId %>">
          <input type="hidden" name="userType" value="<%= deleteType %>">
          <input type="hidden" name="emailAddress" value="<%= emailAddress %>">
          <div class="form-group">
            <label for="reason"><%= translation.deleteUser.userName %>:</label>
            <input disabled type="text" name="name" value="<%= name %>">  
          </div>
          <input type="hidden" name="uniteID" value="<%= uniteID %>">
          <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" id="delete" title="Delete User" class="btn btn-primary btn-block btn-lg"><%= translation.deleteUser.deletion %></button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>