<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNITE - Platform Feedback</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>  
  <script src="/https.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      let id = "<%= userId %>", 
      role = "<%= role %>", 
      avatar = "<%= avatar %>", 
      name = "<%= userName %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));
      
      let data = [];
      <% if(subjects != null) { for(let s of subjects) { %>
      data.push({
        id: '<%= s._id %>',
        name: '<%= s.name %>'
      });
      <% } } %>
      
      getFeedbackSubjects(data, $('#feedbackForm'), $('input[name="_csrf"]').val());
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');

      $('#feedbackForm').submit(function(e) {
        let formData = new FormData(document.getElementById('feedbackForm'));
        let captchaResponse = formData.get('g-recaptcha-response');
        $('input[name="captchaResponse"]').val(captchaResponse);
        let option = $(this).find('select option:not(:eq(0)):selected');
        
        if(!option.length) {
          alert('Please choose a feedback type from the list.');
          return false;
        }
        
        $('input[name="subject"]').val(option.text());
      });
    });
  </script>
</head>

<body>
  <nav pos="5" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite.png?v=1593072732680" height="50">
        </a>
        <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
  
    <div class="container home">
       <div class="col-md-12 mt-3">
        
        <h1>Provide Feedback!</h1>
         <p>Provide user feedback, suggestions or inquiries - <i>Please fill in the required (*) fields.</i></p>
         <br>
          <form class="feedbackForm" id="feedbackForm" method="POST">
            <input type="hidden" name="subject">
            <div class="form-group">
              <label>Your Name*</label>
              <input required type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
              <label>E-mail address*</label>
              <input required type="email" id="emailAddress" name="emailAddress" class="form-control">
            </div>
            <div class="form-group">
              <label>Feedback Details*</label>
              <textarea required class="form-control" id="details" name="details" rows="10" placeholder="Details..." cols="50"></textarea>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="g-recaptcha" data-sitekey="<%= captchaSiteKey %>"></div>
            <input type="hidden" name="captchaResponse">
            <button style="float: right" type="submit" id="submitFeedback" title="Send Feedback" class="btn-primary btn">Send your Feedback</button><br>
          </form>
      </div>
    </div>
  </body>
</html>