<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency - Uploaded Files List</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/jquery.simulate.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    var id = "<%= userId %>", 
    role = "<%= role %>", 
    avatar = "<%= avatar %>", 
    name = "<%= userName %>", 
    type = "<%= userType %>";
    userInputs(id, role, avatar, name, type, $('ul.mr-auto'));

    prepareSortTable();
    var token = $('input[name="_csrf"]').val();
    $('.downloadFile,.deleteFile').attr('token', token);
    $('.deleteFile').on('click', function() {
      removeFile(this, Swal);
    });
    
    $('.download,.delete,.downloadFile,.deleteFile').css({'cursor': 'pointer', 'color': 'lime', 'font-weight': 'bold'});
    errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
    
    $('.download,.delete').on('click', function() {
      takeAction($(this), token, $(this).parent('td').parent('tr'));
    });
    
  });
  </script>
</head>
  
<body>
  <nav pos="7" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
        height="50">
    </a>
    <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    
<div class="container home">
  <h1>
    UNITE FULL LIST OF UPLOADED FILES
  </h1>
  <br>
  <div>
    <p class='term'>
      Disclaimer: This is a Demo list of files that are uploaded to our App folders.
    </p>
    <p class='term'>
      We include Avatars and user-specific files that are uploaded. For practical reasons, we prefer uploading files to dedicated folders of the application hosting space, and not to the DB itself - currently the database only contains a few uploaded files.<br>Note: Only Site Administrators can access these lists. So, guys, what we get to see here - it is only for us!
    </p>
  </div>
  <br><br>
  <h3 style="color: green">
    List of UNITE Product Image Files
  </h3>
  <br>
<% if(files != null && files.length > 0) {%>
  <div class="container form-group mt-4" style="text-align: center">
    <table id="files" class="table table-striped table-hover table-condensed files">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">File name</th>
          <th scope="col">File folder</th>
          <th scope="col">File Size</th>
          <th scope="col">Upload Date</th>
          <th scope="col">Download File</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 0; for (file of files) { %>
        <tr id="<%= file._id %>">
          <td scope="col"><%= i+1 %></td>
          <td scope="col"><%= file.name %></td>
          <td scope="col"><%= file.folder %></td>
          <td scope="col"><%= file.size %></td>
          <td scope="col"><%= file.date %></td>
          <td><a href="../<%= file.path.substring(7) %>" title="Download <%= file.name %>" class="downloadFile" download>Download file</a></td>
          <td><span name="<%= file.path %>" class="deleteFile">Remove</span></td>
        </tr>
        <% i++; } %>
        </tbody>
      </table>
    </div>
    <div id="jqDiv_0" class="form-group">
      <table id="gridProdImages">
      </table>
    </div>
  
  <script type="text/javascript">
    var data = [];
    var colModelProdImages = [
      { name: 'filename', label: 'File Name', search: true, width: 210},
      { name: 'folder', label: 'File Folder', align: 'center', search: true, width: 220},
      { name: 'length', label: 'File Length', align: 'center', sorttype: 'number', search: true, width: 220},
      { name: 'uploadDate', label: 'Upload Date', align: 'center', search: true, width: 200},
      { name: 'download', label: 'Download it', align: 'center', formatter: downloadFormatter, search: false, width: 100},
      { name: 'deletion', label: 'Remove', align: 'center', formatter: fileRemovalFormatter, search: false, width: 100},
      { name: 'downloadHref', hidden: true },
      { name: 'downloadName', hidden: true },
      { name: 'deletionHref', hidden: true }
    ];   
    
    $("#gridProdImages").jqGrid({
      colModel: colModelProdImages,
      data: data,
      guiStyle: "bootstrap4",
      iconSet: "fontAwesome",
      idPrefix: "gb1_",
      viewrecords : true,
      gridview : true,
      altRows: true,
      //autowidth: true,
      rownumbers : true,
      autoencode : false,
      toolbar: [true, "top"],
      width: 1500,
      //height: 300,
      sortname: "name",
      sortorder: "asc",
      caption: "The Product Image Files grid, which uses predefined formatters and templates:"
    });
  
  </script>
    <% i = 0; for (file of files) { %>
  <script type="text/javascript">                 
    var data = {
          id: "<%= i %>",
          filename: "<%= file.name %>",
          folder: "<%= file.folder %>",
          length: "<%= file.size %>",
          uploadDate: "<%= file.date %>",
          downloadHref: "../<%= file.path.substring(7) %>",
          downloadName: "<%= file.name %>",
          deletionHref: "<%= file.path %>"
    };

    $("#gridProdImages").jqGrid('addRowData', data.id, data, 'last');        
  </script>
     <% i++; } %>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no Product Image files here.
          </p>
        </div>
        <% }%>  
  <br><br>
  <h3 style="color: green">
    List of UNITE Upload Files
  </h3>
  <br>
<% if(uploads != null && uploads.length > 0) {%>
  <div class="container form-group mt-4" style="text-align: center">
    <table id="files" class="table table-striped table-hover table-condensed files">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">File name</th>
          <th scope="col">File folder</th>
          <th scope="col">File Size (bytes)</th>
          <th scope="col">Upload Date</th>
          <th scope="col">Download File</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 0; for (file of uploads) { %>
        <tr id="<%= file._id %>">
          <td scope="col"><%= i+1 %></td>
          <td scope="col"><%= file.name %></td>
          <td scope="col"><%= file.folder %></td>
          <td scope="col"><%= file.size %></td>
          <td scope="col"><%= file.date %></td>
          <td><a href="../<%= file.path.substring(7) %>" title="Download <%= file.name %>" class="downloadFile" download>Download file</a></td>
          <td><span name="<%= file.path %>" class="deleteFile">Remove</span></td>
        </tr>
        <% i++; } %>
        </tbody>
      </table>
    </div>
    <div id="jqDiv_1" class="form-group">
      <table id="gridUploads">
      </table>
    </div>  
 
  <script type="text/javascript">
    var data = [];
    var colModelUploadImages = [
      { name: 'filename', label: 'File Name', search: true, width: 210},
      { name: 'folder', label: 'File Folder', align: 'center', search: true, width: 220},
      { name: 'length', label: 'File Length', align: 'center', search: true, sorttype: 'number', width: 220},
      { name: 'uploadDate', label: 'Upload Date', align: 'center', search: true, width: 200},
      { name: 'download', label: 'Download it', align: 'center', formatter: downloadFormatter, search: false, width: 100},
      { name: 'deletion', label: 'Remove', align: 'center', formatter: fileRemovalFormatter, search: false, width: 100},
      { name: 'downloadHref', hidden: true },
      { name: 'downloadName', hidden: true },
      { name: 'deletionHref', hidden: true }
    ];   
    
    $("#gridUploads").jqGrid({
      colModel: colModelUploadImages,
      data: data,
      guiStyle: "bootstrap4",
      iconSet: "fontAwesome",
      idPrefix: "gb1_",
      viewrecords : true,
      gridview : true,
      altRows: true,
      //autowidth: true,
      rownumbers : true,
      autoencode : false,
      toolbar: [true, "top"],
      width: 1500,
      //height: 300,
      sortname: "name",
      sortorder: "asc",
      caption: "The Uploaded Files grid, which uses predefined formatters and templates:"
    });
  
  </script>
    <% i = 0; for (file of uploads) { %>
  <script type="text/javascript">                 
    var data = {
          id: "<%= i %>",
          filename: "<%= file.name %>",
          folder: "<%= file.folder %>",
          length: "<%= file.size %>",
          uploadDate: "<%= file.date %>",
          downloadHref: "../<%= file.path.substring(7) %>",
          downloadName: "<%= file.name %>",
          deletionHref: "<%= file.path %>"
    };

    $("#gridUploads").jqGrid('addRowData', data.id, data, 'last');        
  </script>
     <% i++; } %>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no Uploaded files here.
          </p>
        </div>
        <% }%>
  <br><br>
  <h3 style="color: green">
    List of UNITE Avatar Files
  </h3>
  <br>
<% if(avatars != null && avatars.length > 0) {%>
  <div class="container form-group mt-4" style="text-align: center">
    <table id="files" class="table table-striped table-hover table-condensed files">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">File name</th>
          <th scope="col">File folder</th>
          <th scope="col">File Size (bytes)</th>
          <th scope="col">Upload Date</th>
          <th scope="col">Download File</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 0; for (file of avatars) { %>
        <tr id="<%= file._id %>">
          <td scope="col"><%= i+1 %></td>
          <td scope="col"><%= file.name %></td>
          <td scope="col"><%= file.folder %></td>
          <td scope="col"><%= file.size %></td>
          <td scope="col"><%= file.date %></td>
          <td><a href="../<%= file.path.substring(7) %>" title="Download <%= file.name %>" class="downloadFile" download>Download file</a></td>
          <td><span name="<%= file.path %>" class="deleteFile">Remove</span></td>
        </tr>
        <% i++; } %>
        </tbody>
      </table>
    </div>
    <div id="jqDiv_2" class="form-group">
      <table id="gridAvatars">
      </table>
    </div>
 
  <script type="text/javascript">
    var data = [];
    var colModelAvatarImages = [
      { name: 'filename', label: 'File Name', search: true, width: 210},
      { name: 'folder', label: 'File Folder', align: 'center', search: true, width: 220},
      { name: 'length', label: 'File Length', align: 'center', sorttype: 'number', search: true, width: 220},
      { name: 'uploadDate', label: 'Upload Date', align: 'center', search: true, width: 200},
      { name: 'download', label: 'Download it', align: 'center', formatter: downloadFormatter, search: false, width: 100},
      { name: 'deletion', label: 'Remove', align: 'center', formatter: fileRemovalFormatter, search: false, width: 100},
      { name: 'downloadHref', hidden: true },
      { name: 'downloadName', hidden: true },
      { name: 'deletionHref', hidden: true }
    ];   
    
    $("#gridAvatars").jqGrid({
      colModel: colModelAvatarImages,
      data: data,
      guiStyle: "bootstrap4",
      iconSet: "fontAwesome",
      idPrefix: "gb1_",
      viewrecords : true,
      gridview : true,
      altRows: true,
      //autowidth: true,
      rownumbers : true,
      autoencode : false,
      toolbar: [true, "top"],
      width: 1500,
      //height: 300,
      sortname: "name",
      sortorder: "asc",
      caption: "The Avatar Files grid, which uses predefined formatters and templates:"
    });
  
  </script>
    <% i = 0; for (file of avatars) { %>
  <script type="text/javascript">                 
    var data = {
          id: "<%= i %>",
          filename: "<%= file.name %>",
          folder: "<%= file.folder %>",
          length: "<%= file.size %>",
          uploadDate: "<%= file.date %>",
          downloadHref: "../<%= file.path.substring(7) %>",
          downloadName: "<%= file.name %>",
          deletionHref: "<%= file.path %>"
    };

    $("#gridAvatars").jqGrid('addRowData', data.id, data, 'last');        
  </script>
     <% i++; } %>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no Avatar files here.
          </p>          
        </div>
        <% }%> 
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </div>
    
  </body>
  
</html>