<!DOCTYPE html>
<html lang="en">
<!-- We will also implement payment (via an Escrow system) in the platform, as well as agreement policies, should the UNITE project go further.-->
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert.min.js"></script>
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    var id = "<%= userId %>", 
    name = "<%= userName %>", 
    type = "<%= userType %>";
    userInputs(id, name, type, $('ul.mr-auto'));
  });
  </script>
</head>
  
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
        height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memberList">Full members list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/termsConditions" title="Terms and Conditions">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/antibriberyAgreement" title="Anti-Bribery Agreement">Anti-Bribery</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="?exit=true&home=true" title="Clear user session">Clear Session</a>
        </li>
      </ul>
      <br>
      <button class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">Sign up</button>
    </div>
  </nav>  
    
<div class="container home">
  
  <h3 style="color: green">
    List of UNITE Buyers
  </h3>
  <br>
<% if(buyers != null && buyers.length > 0) {%>
  <div class="container mt-4">
    <table id="buyers" class="table table-striped table-hover members">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Organization name</th>
          <th scope="col">Dept Agency Group</th>
          <th scope="col">Contact Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Contact Mobile Number</th>
          <th scope="col">Country</th>          
          <th scope="col">Qualification</th>
          <th scope="col">isActive</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 0; for (buyer of buyers) { %>
        <tr id="<%= buyer._id %>">
          <td scope="col"><%= i %></td>
          <td scope="col"><%= buyer.organizationName %></td>
          <td scope="col"><%= buyer.deptAgencyGroup %></td>
          <td scope="col"><%= buyer.contactName %></td>
          <td scope="col"><%= buyer.emailAddress %></td>
          <td scope="col"><%= buyer.contactMobileNumber %></td>
          <td scope="col"><%= buyer.country %></td>
          <td scope="col"><%= buyer.qualification %></td>
          <td scope="col"><%= buyer.isActive %></td>
        </tr>
        <% i++; } %>
        </tbody>
      </table>
    </div>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no buyers here.
          </p>          
        </div>
        <% }%>
  <br>
  <hr>
  <br>
  
  <h3 style="color: green">
    List of UNITE Supervisors
  </h3>
  <br>
<% if(supervisors != null && supervisors.length > 0) {%>
  <div class="container mt-4">
    <table id="supervisors" class="table table-striped table-hover members">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Organization name</th>
          <th scope="col">Organization Unite ID</th>
          <th scope="col">Contact Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Contact Mobile Number</th>
          <th scope="col">Country</th>          
        </tr>
      </thead>
      <tbody>
        <% let i = 0; for (supervisor of supervisors) { %>
        <tr id="<%= supervisor._id %>">
          <td scope="col"><%= i %></td>
          <td scope="col"><%= supervisor.organizationName %></td>
          <td scope="col"><%= supervisor.organizationUniteID %></td>
          <td scope="col"><%= supervisor.contactName %></td>
          <td scope="col"><%= supervisor.emailAddress %></td>
          <td scope="col"><%= supervisor.contactMobileNumber %></td>
          <td scope="col"><%= supervisor.country %></td>
        </tr>
        <% i++; } %>
        </tbody>
      </table>
    </div>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no supervisors here.
          </p>          
        </div>
        <% }%>

  <br>
  <hr>
  <br>  
  
  <h3 style="color: green">
    List of UNITE Suppliers
  </h3>
  <br>
<% if(suppliers != null && suppliers.length > 0) {%>
  <div class="container mt-4">
    <table id="suppliers" class="table table-striped table-hover members">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Company name</th>
          <th scope="col">Director's name</th>
          <th scope="col">Contact Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Registered Country</th>
          <th scope="col">Contact Mobile Number</th>
          <th scope="col">Country</th>
          <th scope="col">Area Covered</th>
          <th scope="col">Company Address</th>
          <th scope="col">Employees Number</th>
          <th scope="col">Industry</th>
          <th scope="col">Capability Description</th>
          <th scope="col">isActive</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 0; for (supplier of suppliers) { %>
        <tr id="<%= supplier._id %>">
          <td scope="col"><%= i %></td>
          <td scope="col"><%= supplier.companyName %></td>
          <td scope="col"><%= supplier.directorsName %></td>
          <td scope="col"><%= supplier.contactName %></td>
          <td scope="col"><%= supplier.emailAddress %></td>
          <td scope="col"><%= supplier.registeredCountry %></td>
          <td scope="col"><%= supplier.contactMobileNumber %></td>
          <td scope="col"><%= supplier.country %></td>
          <td scope="col"><%= supplier.areaCovered %></td>
          <td scope="col"><%= supplier.companyAddress %></td>
          <td scope="col"><%= supplier.employeeNumbers %></td>
          <td scope="col"><%= supplier.industry %></td>
          <td scope="col"><%= supplier.capabilityDescription %></td>
          <td scope="col"><%= supplier.isActive %></td>
        </tr>
        <% i++; } %>
        </tbody>
      </table>
    </div>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no suppliers here.
          </p>          
        </div>
        <% }%>

      
    </div>
    
  </body>
  
</html>