<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency - <%= translation.memberList.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
   let id = "<%= userId %>", 
    role = "<%= role %>", 
    name = "<%= userName %>", 
    avatar = "<%= avatar %>", 
    type = "<%= userType %>";
    userInputs(id, role, avatar, name, type, $('ul.mr-auto'));  
    errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
                   
    <% if(keys != null) { %>
    let i = 0, indexes = [];

    $('a.nav-link').each(function(ind, elem) {      
      indexes.push($(elem).attr('index'));
    });

    let iter = 0;

    <% for(let k in keys) { %>   
    if(isInArray(i, indexes)) {
      $('a.nav-link span').eq(iter++).text('<%= eval(keys[k]) %>');
    }
    i++;
    <% } } %>      
  });
  </script>
</head>
  
<body>
<nav pos="6" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
      height="50">
  </a>
  <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
    
<div class="container home">
  <h1>
    <%= translation.memberList.title %>
  </h1>
  <br>
  <div>
    <p class='term'>
      <%= translation.memberList.description_partOne %>
    </p>
    <p class='term'>
      <%= translation.memberList.description_partTwo %>
    </p>
  </div>
  <br><br>
  <h3 style="color: green">
    <%= translation.memberList.buyersList %>
  </h3>
  <br>
<% if(buyers != null && buyers.length > 0) { %>
  <div class="container form-group mt-4" style="text-align: center">
    </div>
    <div id="jqDiv_0" class="form-group">
      <table id="gridBuyer">
      </table>
      <div id="buyerPager">
      </div>
    </div>
  
  <script type="text/javascript">
    let data = [];
    let colModelBuyer = [
      { name: 'organizationName', label: '<%= translation.gridBuyerHome.organizationName %>', search: true, width: 210},
      { name: 'organizationUniteID', label: '<%= translation.gridBuyerHome.organizationUniteID %>', align: 'center', search: true, width: 140},
      { name: 'deptAgencyGroup', label: '<%= translation.gridBuyerHome.deptAgencyGroup %>', align: 'center', search: true, width: 220},
      { name: 'contactName', label: '<%= translation.gridBuyerHome.contactName %>', align: 'center', search: true, width: 200},
      { name: 'emailAddress', label: '<%= translation.gridBuyerHome.emailAddress %>', align: 'center', search: true, width: 160},
      { name: 'contactMobileNumber', label: '<%= translation.gridBuyerHome.contactMobileNumber %>', align: 'center', search: true, width: 120},
      { name: 'country', label: '<%= translation.gridBuyerHome.country %>', align: 'center', search: true, width: 105},
      { name: 'qualification', label: '<%= translation.gridBuyerHome.qualification %>', align: 'center', search: true, width: 200},
      { name: 'role', label: '<%= translation.gridBuyerHome.role %>', align: 'center', search: true, width: 75},
      { name: 'isActive', label: '<%= translation.gridBuyerHome.isActive %>', align: 'center', search: true, width: 60},
      { name: 'ipv4', label: '<%= translation.gridBuyerHome.ipv4 %>', align: 'center', sorttype: "text", search: true, width: 180},
      { name: 'deletion', label: '<%= translation.gridBuyerHome.deletion %>', align: 'center', formatter: removalFormatter, search: false, width: 100},
      { name: 'ban', label: '<%= translation.gridBuyerHome.ban %>', align: 'center', formatter: banFormatter, search: false, width: 100},
      { name: 'hiddenDeleteHref', hidden: true },
      { name: 'hiddenBanHref', hidden: true }
    ];
  
  <% i = 0; for (buyer of buyers) { %>
      data.push({
            id: "<%= i %>",
            organizationName: "<%= buyer.organizationName %>",
            organizationUniteID: "<%= buyer.organizationUniteID %>",
            deptAgencyGroup: "<%= buyer.deptAgencyGroup %>",
            contactName: "<%= buyer.contactName %>",
            emailAddress: "<%= buyer.emailAddress %>",
            contactMobileNumber: "<%= buyer.contactMobileNumber %>",
            country: "<%= buyer.country %>",
            qualification: "<%= buyer.qualification %>",
            role: "<%= buyer.role %>",
            isActive: "<%= buyer.isActive %>",
            ipv4: "<%= buyer.ipv4 %>",
            hiddenDeleteHref: <% if(buyer.role != 'Admin') { %> "deleteUser/<%= buyer._id %>/Buyer/<%= buyer.organizationName %>/None/<%= buyer.emailAddress %>" <% } else { %> '' <% } %>,
            hiddenBanHref: <% if(buyer.role != 'Admin') { %> "banUser/<%= buyer._id %>/Buyer/<%= buyer.organizationName %>/None/<%= buyer.emailAddress %>/<%= buyer.ipv4 %>" <% } else { %> '' <% } %>
      });
     <% i++; } %>
    
    initGrid(colModelBuyer, data, "#gridBuyer", '#buyerPager', "organizationName", '<%= translation.gridBuyerHome.title %>', 1680);
    </script>
        <% } else { %>
        <div>
          <p style="color: green; font-family: arial">
            <%= translation.memberList.buyersList %>
          </p>
        </div>
        <% }%>
  <br>
  <hr>
  <br>
  
  <h3 style="color: green">
    <%= translation.memberList.supervisorsList %>
  </h3>
  <br>
<% if(supervisors != null && supervisors.length > 0) {%>
  <div class="container mt-4">    
    </div>
    <div id="jqDiv_1" class="form-group">
      <table id="gridSupervisor">
      </table>
      <div id="supervPager">
      </div>
    </div>
  
  <script type="text/javascript">
    let data0 = [];
    let colModelSupervisor = [
      { name: 'organizationName', label: '<%= translation.gridSupervisorHome.organizationName %>', search: true, width: 240},
      { name: 'organizationUniteID', label: '<%= translation.gridSupervisorHome.organizationUniteID %>', align: 'center', search: true, width: 140},
      { name: 'contactName', label: '<%= translation.gridSupervisorHome.contactName %>', align: 'center', search: true, width: 200},
      { name: 'emailAddress', label: '<%= translation.gridSupervisorHome.emailAddress %>', align: 'center', search: true, width: 160},
      { name: 'contactMobileNumber', label: '<%= translation.gridSupervisorHome.contactMobileNumber %>', align: 'center', search: true, width: 120},
      { name: 'country', label: '<%= translation.gridSupervisorHome.country %>', align: 'center', search: true, width: 105},
      { name: 'role', label: '<%= translation.gridSupervisorHome.role %>', align: 'center', search: true, width: 75},
      { name: 'isActive', label: '<%= translation.gridSupervisorHome.isActive %>', align: 'center', search: true, width: 60},
      { name: 'ipv4', label: '<%= translation.gridSupervisorHome.ipv4 %>', align: 'center', sorttype: "text", search: true, width: 180},
      { name: 'deletion', label: '<%= translation.gridSupervisorHome.deletion %>', align: 'center', formatter: removalFormatter, search: false, width: 100},
      { name: 'ban', label: '<%= translation.gridSupervisorHome.ban %>', align: 'center', formatter: banFormatter, search: false, width: 100},
      { name: 'hiddenDeleteHref', hidden: true },
      { name: 'hiddenBanHref', hidden: true }
    ];
 
  <% i = 0; for (supervisor of supervisors) { %>  
      data0.push({
            id: "<%= i %>",
            organizationName: "<%= supervisor.organizationName %>",
            organizationUniteID: "<%= supervisor.organizationUniteID %>",
            contactName: "<%= supervisor.contactName %>",
            emailAddress: "<%= supervisor.emailAddress %>",
            contactMobileNumber: "<%= supervisor.contactMobileNumber %>",
            country: "<%= supervisor.country %>",
            role: "<%= supervisor.role %>",
            isActive: "<%= supervisor.isActive %>",
            ipv4: "<%= supervisor.ipv4 %>",
            hiddenDeleteHref: <% if(supervisor.role != 'Admin') { %> "deleteUser/<%= supervisor._id %>/Supervisor/<%= supervisor.organizationName %>/<%= supervisor.organizationUniteID %>/<%= supervisor.emailAddress %>" <% } else { %> '' <% } %>,
            hiddenBanHref: <% if(supervisor.role != 'Admin') { %> "banUser/<%= supervisor._id %>/Supervisor/<%= supervisor.organizationName %>/None/<%= supervisor.emailAddress %>/<%= supervisor.ipv4 %>" <% } else { %> '' <% } %>
      });
     <% i++; } %>
    
    initGrid(colModelSupervisor, data0, "#gridSupervisor", '#supervPager', "organizationName", '<%= translation.gridSupervisorHome.title %>', 1600);
    </script>
        <% } else { %>
        <div>
          <p style="color: green; font-family: arial">
            <%= translation.memberList.noSupervisors %>
          </p>          
        </div>
        <% }%>

  <br>
  <hr>
  <br>  
  
  <h3 style="color: green">
    <%= translation.memberList.suppliersList %>
  </h3>
  <br>
<% if(suppliers != null && suppliers.length > 0) {%>
  <div class="container mt-4">    
    </div>
    <div id="jqDiv_2" class="form-group">
      <table id="gridSupplier">
      </table>
      <div id="suppPager">
      </div>
    </div>
  
  <script type="text/javascript">
    let data1 = [];
    let colModelSupplier = [
      { name: 'companyName', label: '<%= translation.gridSupplierHome.companyName %>', search: true, width: 150},
      { name: 'directorsName', label: '<%= translation.gridSupplierHome.directorsName %>', align: 'center', search: true, width: 180},
      { name: 'contactName', label: '<%= translation.gridSupplierHome.contactName %>', align: 'center', search: true, width: 225},
      { name: 'emailAddress', label: '<%= translation.gridSupplierHome.emailAddress %>', align: 'center', search: true, width: 240},
      { name: 'registeredCountry', label: '<%= translation.gridSupplierHome.registeredCountry %>', align: 'center', search: true, width: 170},
      { name: 'contactMobileNumber', label: '<%= translation.gridSupplierHome.contactMobileNumber %>', align: 'center', search: true, width: 150},
      { name: 'country', label: '<%= translation.gridSupplierHome.country %>', align: 'center', search: true, width: 140},
      { name: 'areaCovered', label: '<%= translation.gridSupplierHome.areaCovered %>', align: 'center', search: true, width: 200},
      { name: 'companyAddress', label: '<%= translation.gridSupplierHome.companyAddress %>', align: 'center', search: true, width: 360},
      { name: 'employeeNumbers', label: '<%= translation.gridSupplierHome.employeeNumbers %>', align: 'center', sorttype: 'number', search: true, width: 140},
      { name: 'industry', label: '<%= translation.gridSupplierHome.industry %>', align: 'center', search: true, width: 160},
      { name: 'capabilityDescription', label: '<%= translation.gridSupplierHome.capabilityDescription %>', align: 'center', search: true, width: 210},
      { name: 'role', label: '<%= translation.gridSupplierHome.role %>', align: 'center', search: true, width: 75},
      { name: 'isActive', label: '<%= translation.gridSupplierHome.isActive %>', align: 'center', search: true, width: 60},
      { name: 'ipv4', label: '<%= translation.gridSupplierHome.ipv4 %>', align: 'center', sorttype: "text", search: true, width: 180},
      { name: 'deletion', label: '<%= translation.gridSupplierHome.deletion %>', align: 'center', formatter: removalFormatter, search: false, width: 100},      
      { name: 'ban', label: '<%= translation.gridSupplierHome.ban %>', align: 'center', formatter: banFormatter, search: false, width: 100},
      { name: 'hiddenDeleteHref', hidden: true },
      { name: 'hiddenBanHref', hidden: true }
    ];   
   
  <% i = 0; for (supplier of suppliers) { %>
      data1.push({
            id: "<%= i %>",
            companyName: "<%= supplier.companyName %>",
            directorsName: "<%= supplier.directorsName %>",
            contactName: "<%= supplier.contactName %>",
            emailAddress: "<%= supplier.emailAddress %>",
            registeredCountry: "<%= supplier.registeredCountry %>",
            contactMobileNumber: "<%= supplier.contactMobileNumber %>",
            country: "<%= supplier.country %>",
            areaCovered: "<%= supplier.areaCovered %>",
            companyAddress: "<%= supplier.companyAddress %>",
            employeeNumbers: "<%= supplier.employeeNumbers %>",
            industry: "<%= supplier.industry %>",
            capabilityDescription: "<%= supplier.capabilityDescription %>",
            role: "<%= supplier.role %>",
            isActive: "<%= supplier.isActive %>",
            ipv4: "<%= supplier.ipv4 %>",
            hiddenDeleteHref: <% if(supplier.role != 'Admin') { %> "deleteUser/<%= supplier._id %>/Supplier/<%= supplier.companyName %>/None/<%= supplier.emailAddress %>" <% } else { %> '' <% } %>,
            hiddenBanHref: <% if(supplier.role != 'Admin') { %> "banUser/<%= supplier._id %>/Supplier/<%= supplier.organizationName %>/None/<%= supplier.emailAddress %>/<%= supplier.ipv4 %>" <% } else { %> '' <% } %>
      });
     <% i++; } %>
    
    initGrid(colModelSupplier, data1, "#gridSupplier", '#suppPager', "companyName", '<%= translation.gridSupplierHome.title %>', 1600);    
    </script>
        <% } else { %>
        <div>
          <p style="color: green; font-family: arial">
            <%= translation.memberList.noSuppliers %>
          </p>          
        </div>
        <% }%>
    </div>    
  </body>  
</html>