<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency - Member List</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
     var id = "<%= userId %>", 
      role = "<%= role %>", 
      name = "<%= userName %>", 
      avatar = "<%= avatar %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));  
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
  });
  </script>
</head>
  
<body>
<nav pos="6" class="navbar home navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
      height="50">
  </a>
  <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
    
<div class="container home">
  <h1>
    UNITE FULL LIST OF MEMBERS - Buyers, Supervisors, Suppliers
  </h1>
  <br>
  <div>
    <p class='term'>
      Disclaimer: This is a Demo list of members. At this moment they do not represent real economic entities from the world. Any resemblance to any real-life company is unintentional. This list is shown only for Development purposes, and it is only accessible to Administrators.
    </p>
    <p class='term'>
      However, in the coming future UNITE will have real members that will be listed. We will limit the amount of specific data to be made publicly available on our platform, according to the GDPR laws and rules. We may also restrict the access of external visitors to data about our members, meaning that you have to join UNITE (remember: business-to-business) to see the said information.
    </p>
  </div>
  <br><br>
  <h3 style="color: green">
    List of UNITE Buyers
  </h3>
  <br>
<% if(buyers != null && buyers.length > 0) { %>
  <div class="container form-group mt-4" style="text-align: center">
    </div>
    <div id="jqDiv_0" class="form-group">
      <table id="gridBuyer">
      </table>
      <div id="buyerPager">
      </div>
    </div>
  
  <script type="text/javascript">
    var data = [];
    var colModelBuyer = [
      { name: 'organizationName', label: 'Organization name', search: true, width: 210},
      { name: 'deptAgencyGroup', label: 'Dept. Agency Group', align: 'center', search: true, width: 220},
      { name: 'contactName', label: 'Contact Name', align: 'center', search: true, width: 200},
      { name: 'emailAddress', label: 'E-mail Address', align: 'center', search: true, width: 160},
      { name: 'contactMobileNumber', label: 'Contact Mobile Number', align: 'center', search: true, width: 120},
      { name: 'country', label: 'Country', align: 'center', search: true, width: 105},
      { name: 'qualification', label: 'Qualification', align: 'center', search: true, width: 200},
      { name: 'role', label: 'Role', align: 'center', search: true, width: 75},
      { name: 'isActive', label: 'Is Active?', align: 'center', search: true, width: 60},
      { name: 'ipv4', label: 'IP Address (v4)', align: 'center', sorttype: "text", search: true, width: 60},
      { name: 'deletion', label: 'Remove User', align: 'center', formatter: removalFormatter, search: false, width: 100},
      { name: 'ban', label: 'Ban User', align: 'center', formatter: banFormatter, search: false, width: 100},
      { name: 'hiddenDeleteHref', hidden: true },
      { name: 'hiddenBanHref', hidden: true }
    ];   
    
    initGrid(colModelBuyer, data, "#gridBuyer", '#buyerPager', "organizationName", 'Buyers');
  </script>
  <% i = 0; for (buyer of buyers) { %>
    <script type="text/javascript">                 
      var data = {
            id: "<%= i %>",
            organizationName: "<%= buyer.organizationName %>",
            deptAgencyGroup: "<%= buyer.deptAgencyGroup %>",
            contactName: "<%= buyer.contactName %>",
            emailAddress: "<%= buyer.emailAddress %>",
            contactMobileNumber: "<%= buyer.contactMobileNumber %>",
            country: "<%= buyer.country %>",
            qualification: "<%= buyer.qualification %>",
            role: "<%= buyer.role %>",
            isActive: "<%= buyer.isActive %>",
            ipv4: "<%= buyer.ipv4 %>",
            hiddenDeleteHref: <% if(buyer.role != 'Admin') { %> "deleteUser/<%= buyer._id %>/Buyer/<%= buyer.organizationName %>/None/<%= buyer.emailAddress %>" <% } else { %> '' <% } %>,
        hiddenBanHref: <% if(buyer.role != 'Admin') { %> "banUser/<%= buyer._id %>/Buyer/<%= buyer.organizationName %>/None/<%= buyer.emailAddress %>/<%= buyer.ipv4 %>" <% } else { %> '' <% } %>
      };
        
      $("#gridBuyer").jqGrid('addRowData', data.id, data, 'last');        
    </script>
     <% i++; } %>
        <% } else { %>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no buyers here.
          </p>
        </div>
        <% }%>
  <br>
  <hr>
  <br>
  
  <h3 style="color: green">
    List of UNITE Supervisors
  </h3>
  <br>
<% if(supervisors != null && supervisors.length > 0) {%>
  <div class="container mt-4">    
    </div>
    <div id="jqDiv_1" class="form-group">
      <table id="gridSupervisor">
      </table>
      <div id="supervPager">
      </div>
    </div>
  
  <script type="text/javascript">
    var data = [];
    var colModelSupervisor = [
      { name: 'organizationName', label: 'Organization name', search: true, width: 240},
      { name: 'organizationUniteID', label: 'Organization UNITE ID', align: 'center', search: true, width: 140},
      { name: 'contactName', label: 'Contact Name', align: 'center', search: true, width: 200},
      { name: 'emailAddress', label: 'E-mail Address', align: 'center', search: true, width: 160},
      { name: 'contactMobileNumber', label: 'Contact Mobile Number', align: 'center', search: true, width: 120},
      { name: 'country', label: 'Country', align: 'center', search: true, width: 105},
      { name: 'role', label: 'Role', align: 'center', search: true, width: 75},
      { name: 'isActive', label: 'Is Active?', align: 'center', search: true, width: 60},
      { name: 'ipv4', label: 'IP Address (v4)', align: 'center', sorttype: "text", search: true, width: 60},
      { name: 'deletion', label: 'Removal', align: 'center', formatter: removalFormatter, search: false, width: 100},
      { name: 'ban', label: 'Ban User', align: 'center', formatter: banFormatter, search: false, width: 100},
      { name: 'hiddenDeleteHref', hidden: true },
      { name: 'hiddenBanHref', hidden: true }
    ];
    
    initGrid(colModelSupervisor, data, "#gridSupervisor", '#supervPager', "organizationName", 'Supervisors');
  </script>
  <% i = 0; for (supervisor of supervisors) { %>
    <script type="text/javascript">                 
      var data = {
            id: "<%= i %>",
            organizationName: "<%= supervisor.organizationName %>",
            organizationUniteID: "<%= supervisor.organizationUniteID %>",
            contactName: "<%= supervisor.contactName %>",
            emailAddress: "<%= supervisor.emailAddress %>",
            contactMobileNumber: "<%= supervisor.contactMobileNumber %>",
            country: "<%= supervisor.country %>",
            role: "<%= supervisor.role %>",
            isActive: "<%= supervisor.isActive %>",
            ipv4: "<%= supervisor.ipv4 %>",
            hiddenHref: <% if(supervisor.role != 'Admin') { %> "deleteUser/<%= supervisor._id %>/Supervisor/<%= supervisor.organizationName %>/<%= supervisor.organizationUniteID %>/<%= supervisor.emailAddress %>" <% } else { %> '' <% } %>,
            hiddenBanHref: <% if(supervisor.role != 'Admin') { %> "banUser/<%= supervisor._id %>/Supervisor/<%= supervisor.organizationName %>/None/<%= supervisor.emailAddress %>/<%= supervisor.ipv4 %>" <% } else { %> '' <% } %>
      };
        
      $("#gridSupervisor").jqGrid('addRowData', data.id, data, 'last');        
    </script>
     <% i++; } %>
        <% } else { %>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no supervisors here.
          </p>          
        </div>
        <% }%>

  <br>
  <hr>
  <br>  
  
  <h3 style="color: green">
    List of UNITE Suppliers
  </h3>
  <br>
<% if(suppliers != null && suppliers.length > 0) {%>
  <div class="container mt-4">    
    </div>
    <div id="jqDiv_2" class="form-group">
      <table id="gridSupplier">
      </table>
      <div id="suppPager">
      </div>
    </div>
  
  <script type="text/javascript">
    var data = [];
    var colModelSupplier = [
      { name: 'companyName', label: 'Company name', search: true, width: 150},
      { name: 'directorsName', label: 'Director\'s Name', align: 'center', search: true, width: 180},
      { name: 'contactName', label: 'Contact Name', align: 'center', search: true, width: 225},
      { name: 'emailAddress', label: 'E-mail Address', align: 'center', search: true, width: 240},
      { name: 'registeredCountry', label: 'Registered Country', align: 'center', search: true, width: 170},
      { name: 'contactMobileNumber', label: 'Contact Mobile Number', align: 'center', search: true, width: 150},
      { name: 'country', label: 'Country', align: 'center', search: true, width: 140},
      { name: 'areaCovered', label: 'Area Covered', align: 'center', search: true, width: 200},
      { name: 'companyAddress', label: 'Company Address', align: 'center', search: true, width: 360},
      { name: 'employeeNumbers', label: 'Employees Number', align: 'center', sorttype: 'number', search: true, width: 140},
      { name: 'industry', label: 'Industry', align: 'center', search: true, width: 160},
      { name: 'capabilityDescription', label: 'Capability Description', align: 'center', search: true, width: 210},
      { name: 'role', label: 'Role', align: 'center', search: true, width: 75},
      { name: 'isActive', label: 'Is Active?', align: 'center', search: true, width: 60},
      { name: 'deletion', label: 'Removal', align: 'center', formatter: removalFormatter, search: false, width: 100},
      { name: 'ipv4', label: 'IP Address (v4)', align: 'center', sorttype: "text", search: true, width: 60},
      { name: 'ban', label: 'Ban User', align: 'center', formatter: banFormatter, search: false, width: 100},
      { name: 'hiddenDeleteHref', hidden: true },
      { name: 'hiddenBanHref', hidden: true }
    ];   
    
    initGrid(colModelSupplier, data, "#gridSupplier", '#suppPager', "companyName", 'Suppliers');    
  
  </script>
  <% i = 0; for (supplier of suppliers) { %>
    <script type="text/javascript">                 
      var data = {
            id: "<%= i %>",
            companyName: "<%= supplier.companyName %>",
            directorsName: "<%= supplier.directorsName %>",
            contactName: "<%= supplier.contactName %>",
            emailAddress: "<%= supplier.emailAddress %>",
            registeredCountry: "<%= supplier.registeredCountry %>",
            contactMobileNumber: "<%= supplier.contactMobileNumber %>",
            country: "<%= supplier.country %>",
            areaCovered: "<%= supplier.areaCovered %>",
            companyAddress: "<%= supplier.companyAddress %>",
            employeeNumbers: "<%= supplier.employeeNumbers %>",
            industry: "<%= supplier.industry %>",
            capabilityDescription: "<%= supplier.capabilityDescription %>",
            role: "<%= supplier.role %>",
            isActive: "<%= supplier.isActive %>",
            ipv4: "<%= supplier.ipv4 %>",
            hiddenHref: <% if(supplier.role != 'Admin') { %> "deleteUser/<%= supplier._id %>/Supplier/<%= supplier.companyName %>/None/<%= supplier.emailAddress %>" <% } else { %> '' <% } %>,
            hiddenBanHref: <% if(supplier.role != 'Admin') { %> "banUser/<%= supplier._id %>/Supplier/<%= supplier.organizationName %>/None/<%= supplier.emailAddress %>/<%= supplier.ipv4 %>" <% } else { %> '' <% } %>
      };
        
      $("#gridSupplier").jqGrid('addRowData', data.id, data, 'last');        
    </script>
     <% i++; } %>
        <% } else { %>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no suppliers here.
          </p>          
        </div>
        <% }%>
    </div>
    
  </body>
  
</html>