<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency - Terms and Conditions</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
     let id = "<%= userId %>", 
      role = "<%= role %>", 
      name = "<%= userName %>",
      avatar = "<%= avatar %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));
      
      setTimeout(function() {    
        <% if(keys != null) { %>
        let i = 0, indexes = [];
       
        $('a.nav-link').each(function(ind, elem) {      
          indexes.push($(elem).attr('index'));
        });

        <% for(let k in keys) { %>   
        if(isInArray(i, indexes)) {
          $('a.nav-link span').eq(i).text('<%= eval(keys[k]) %>');
        }
        i++;
        <% } } %>
      }, 500);
    });
  </script>
</head>

<body>
   <nav pos="2" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite.png?v=1593072732680" height="50">
    </a>
     <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  
  <div class="container terms home">    
  </div>
  <br><br>
   <div class="modal-body container">
     <h2>
       INTRODUCTION TO UNITE
     </h2>
          <p class='term'>Underserved Needs in Times of Emergency (further noted as UNITE, or "the Service") is an online platform that is designed for public procurement of goods (the "Goods"), and it is meant to leverage the communication between governmental agencies ("Buyers") and industry entities ("Suppliers").</p>          
     <p class='term'>
       Our platform is designed to connect government-based agencies to companies whose activity domains are related to producing or manufacturing goods of public interest in times of crisis. UNITE is not intended for private purposes, meaning that individuals are not able to register with UNITE, because we serve the public interests or "the Public Good".
       <br>Our users should be legal, juridic entities, meaning that we aim at a Business-to-Business usage. As a person that wants to join our platform, you have to be a representative of such organization, working on behalf of it.<br>We are going through strenuous times of crisis and we strive for interconnecting small, medium, and large commercial entities in order to ensure a powerful, efficient, resolute response to major needs of society.
     </p>
     <p class='term'>
       UNITE is designed to accept three types of users. Besides the aforementioned Buyers and Suppliers, we also permit registration of governmental custom entities ("Supervisors"). The activity of Supervisors consists of ensuring that government-related Buyers are fair and do not engage into suspicious, fraudulent, or bribery activities.<br>Supervisors are asked to use a unique, specific ID, that is called "Organization UNITE ID", when signing up, and then one or more governmental regular agencies that are subordinated to a given supervisor can also register with us by providing the same UNITE ID.
       <br>Please be aware of the fact that no regular Buyer can come up with their own UNITE ID, instead they have to obtain it from the corresponding Supervisor. As a Buyer, you will not be able to select any other UNITE ID and thus to register with us, because the UNITE ID is your link to the Supervisor and it is required in order to use our Service.<br>On the other hand, when a Supervisor chooses to change their unique UNITE ID, they should provide the new ID to their subordinates as soon as possible, for ensuring continued access to our Service.
       <br><br>Another important feature that a Supervisor has is that they are able to remove Buyers from the UNITE Procurement Platform if required. Such situations include, but are not limited to, dishonest behaviour like the examples of unfairness mentioned above. For doing this, the Supervisor must go to the specific Dashboard, where corresponding Buyers are listed, and click on a dedicated "Process" button. In case a Buyer experiences such removal from UNITE, depending on the investigation result of their behaviour, acceptance back to UNITE is at the sole discretion of their Supervisor.<br>We are not liable for the possible lack of communication between government entities, that may lead to inability of a Buyer to use their UNITE ID.
     </p><br>
     <h2>
       HOW OUR WEBSITE WORKS
     </h2>
     <p class='term'>
       Suppliers are asked to provide accurate sign-up data as well as to accept our agreements, then they must place their capabilities and products/services on the platform, along with company registration, location, employment rate, and experience data. Each line of products/services offered must include corresponding prices and currencies.<br>When entering your e-mail address for registration, please make sure it belongs to a legal entity domain. No personal, private mailboxes are allowed, concretely you must not use your Yahoo, Google Mail (Gmail), Hotmail, or any other address that does not belong to a company or organization domain.<br>We may limit the number or products and/or services offered by one supplier to a maximum limit ("Parameter") that is at our discretion (as of June 7th, 2020, it is limited to 20 product types a Supplier can offer). In addition to this, a Buyer can order an unlimited number of items belonging to at most 10 (ten) product categories.<br>Also, at this moment a Supplier can place only 1 (one) Capability Description on their profile from the UNITE Platform. These parameters are subject to changes according to the good will of our Team Lead.
     </p>
     <p class='term'>
       Buyers are also advised to provide clear and correct sign-up data, including the unique UNITE ID that they receive from their organization supervisors, and then they can search for suppliers by desired capabilities. A list of suppliers is retrieved each time valid capability data is entered for searching, then the buyer can choose the supplier they find appropriate for their needs.
     </p>
     <p class='term'>
       After choosing a supplier for their needs, the Buyer can place an order on the UNITE platform ("the Bid Request"). The request can pass through several statuses between initial order data and final successful delivery ("the Order/Bid Statuses"). We aim at providing also a payment processor module in the coming future, by using a secure Escrow system, so that buyers and suppliers can safely set up terms of delivery of goods while being ensured a safe environment for their funds.
       <br><br>When the payment processor is ready, our Terms will be updated as they should. At this time, UNITE uses the Stripe payment gateway in Test Mode, so we may only simulate charges for now.<br>In addition, we provide our users with the possibility to communicate through messages via the Platform. Please remember that as the Service is under development, also this functionality is in a primary form of existence, and not definitivated. We want our users to easily communicate to each other for the sake of speeding up the circuit of publicly needed goods / supplies. Crisis demands fast, efficient answers and solutions to be brought to people in need.
     </p>
     <h2>
       ALLOWED USER ROLES AND THEIR RIGHTS
     </h2>
     <p class='term'>
       At this time, UNITE users can belong to two main Roles, that are Administrators and Regular Users.<br>Being a UNITE Administrator (or Admin User) means having the right to access all the sections of the application (not to be confused with accessing the development tools and the source code itself, which is the subject of another discussion). An Administrator user, in principle, is different from regular, real life Buyers / Supervisors / Suppliers, although they may technically sign in/sign up as either one of these types on the Site, exploring all the corresponding sections.<br>An Administrator can access every site section a regular member can, and besides, there are some specific operations that the Admin can make, like consulting the list of members, removing users (for a specified reason), seeing a certain list of files or feedbacks.<br>As our Application grows and becomes more complex and ready for the real world, user rights - depending on the Role - will become better elaborated.
     </p>
     <h2>
       USAGE OF THE GOOGLE RECAPTCHA API
     </h2>
     <p class="term">
       Our UNITE site wants its users to be business representatives, which means that we expect you to be real persons, and not robots. In order to provide a human quality and to avoid spam and artificial intelligence traffic, we also use an additional verification of User Humanity, by means of the Google ReCaptcha V2 API (the variant of the checkbox that states "I'm not a robot", and that needs to be checked).<br>The Captcha Verification is required in the following situations:
       <ol style="color: navy; font-weight: bold">
         <li>Buyer registration and login;</li>
         <li>Supervisor registration and login;</li>
         <li>Supplier registration and login;</li>
         <li>When wanting to post a Feedback.</li>
       </ol>
     </p>
     <h2>
       NOTE ABOUT ORDER CANCELLATION
     </h2>  
     <p class='term'>       
     An Order (or Bid Request) can also be cancelled either by Buyer (the entity that placed it) or by Supplier (the entity that received the bid). In each case, the part that makes the cancellation notifies the other part via e-mail about this event, and in this situation the Buyer and the Supplier can further communicate by using the UNITE messaging system, besides e-mails, telephone numbers, and other data that can be found on our site.<br>We are also requiring our Users to give a written reason for their choice to cancel any Order.<br>Especially during times of crisis, orders of public interest goods are expected to work well, and it is important to find out their cancellation reasons, shall such events occur. Moreover, User Feedback is important to all of us, be it the UNITE staff or the personnel of the Buyer/Supplier entity that receives the order cancellation notice, and it helps us better understand the needs of the other part for making better offers in the future.<br>Thus, UNITE also asks you to express your reasons for refusing an Order offer. The other part will see the text of your reason in the received e-mail, too.
     </p>
     <h2>
       REGISTRATION RULES
     </h2>
     <p class='term'>
       Every user that signs up for UNITE, regardless of their type (Buyer, Supervisor, Supplier), is required to provide an accurate set of data about themselves, by filling required input fields, among which they must provide a valid e-mail address and a password. New users must confirm their accounts within 24 hours, by clicking on confirmation links based on tokens  that are sent to their e-mail addresses. If they fail to do so, then they cannot sign in.<br>In addition, in case a user forgets their password, UNITE provides them with the Forgot/Reset option, which (similarly to the Account Confirmation module) gives them 24 hours to reset their password via a token-based link. We may also set rules for the characters a password must contain or not, and as a general rule, we do not allow easy passwords like "password" or "1234".
     </p>
     <p class='term'>
       When a user logs into the application, they are provided with the "Remember me (?)" option to check, which is closely related to cookies and to the time users can spend on UNITE before the current session expires. If you don't tick the checkbox, then you must expect to automatically logout within 2 (two) hours. Otherwise, you will not be logged out of UNITE unless you explicitly do so.<br>Moreover, when signing up as a new user, the User object that you created is saved to the session and you can login. The same "Remember me" rule above applies in this login case.
     </p>
     <p class='term'>
       Certain input fields from the Sign-up and Profile forms require you to match special formats when filling them in, like the telephone number and the password. Currently the telephone numbers (that are required for either category of UNITE users) are formatted to match the European Union number pattern, that is, the prefix of the country and the rest of the number (without the initial zero).<br>Also, all the required fields are marked with an asterisk (*) and the aplication will not let you proceed further if you fail to complete them. We also make use of Autocomplete inputs and can restrict their possible values (e.g. when choosing the unique UNITE ID as a buyer), so that you may select only from the suitable values and don't have to worry about entering wrong data.
     </p>
  <h2>
    ACCOUNT CANCELLATION
  </h2>
  <p class='term'>
    Every user has the right to request the cancellation of their account at any time and for any reason. For a better understanding, Users have to provide reasons when clicking on the deletion button.<br>When choosing to remove their accounts from UNITE, users are warned about losing adjacent data, where "adjacent data" may be - depending on the user type - send and received messages, placed or received orders, products/services Suppliers added to UNITE, capabilities, or user token data for password resetting.<br>The data removal is irreversible, and if the cancelled user changes their mind and opts for a new registration, they will have to re-post their specific data from the beginning, so please think carefully before making such a decision.<br> After the account is deleted, the former UNITE User receives an e-mail confirming that the event completed successfully, including also the provided reason. In the particular case when a Supervisor decides to quit UNITE, it is merely important to their Buyers to be sent the e-mail and the reason too, since they are also removed from our records in that case.<br>In conclusion, we give a meaningful importance to informing our leaving users about the happening.
  </p>
  <p class='term'>
    Alternately, a UNITE user, be they Buyer, Supervisor or Supplier, can temporarily opt for a milder exit from the daily activity on site, by choosing the Deactivation function instead of completely cancelling their account. This Deactivation process can be reverted simply by logging in back again, at any time, but Buyers who do it must acknowledge that their pending Orders will be cancelled if they inactivate their accounts, and also Supervisors who want to go inactive for a while will not be allowed to do so in case they have at least one active, associated Buyer on the UNITE site.<br>While we provide Supervisors with the possibility to entirely cancel their data and their Buyers' accounts in case of deletion, on the other hand, we prefer not to risk the safety of fairness of Buyers' practices by allowing their Supervisors to be inactive, which may be encouraging for Buyers to engage in illegal activities!<br>In the coming future, we can instate another related rule: Buyers who are inactive and want to re-become active by logging in will not be allowed to do it if their Supervisors are currently inactive, instead they should receive an Error message telling them about this issue, and only after their Supervisors go back active shall Buyers come back again.<br>Also, Suppliers who become inactive will have their received Bids (Orders) cancelled. In either case of Order cancellation (Buyer or Supplier becoming inactive), the other part of the order will be notified via e-mail about the Bid cancellation.
  </p>
  <p class='term'>
    Our goal is to be helpful to as many Users as possible, giving them the opportunity to connect to each other for ensuring a faster flow of Public Goods during these difficult times, which means that a User that cancels their account is a loss to us. In case an Agency (Buyer, Supervisor) or a Company (Supplier) decides to unregister from UNITE, we notify them via e-mail about the confirmation of their data removal, and at the same time we ask them to come with future improvement suggestions for UNITE, hoping that by these improvements we will become a better host for you.<br>In the current implementation, UNITE also requires their users to provide a reason for their deletion choice, similarly to the Order Cancellation case. As stated above, user feedback matters to us and contributes to future improvements.
  </p>
  <h2>
    BEHAVIOUR OF USERS
  </h2>
  <p class='term'>
    UNITE is business-to-business, and at the same time, due to its nature, it is also a people-to-people, interconnecting environment, and thus it can be interpreted as a community of partners that represent various elevated levels of society. For this, we expect our users to behave in a polite, educated, professional manner, and treat each other with the expectable respect, politeness, and kindness.<br><br>Crisis demands us to be solidary and to collaborate in a fast and efficient mode, which leaves no room for rude interactions, name callings, useless arguments, and personal egos. We promote a civilized behaviour on our UNITE Platform also with the help of the powers of modern technology. In order to leverage the communication between the UNITE end users, we have a Messaging (Chat) system, under development as of June 8th, 2020, where Suppliers, Supervisors and Buyers can express their opinions, questions, detailed offers and requests, and any other subjects that are related to the public goods supply processes being handled by our Service.<br><br>For preventing profanity between users, our Messenger automatically censors the bad words via a special third-party plugin that detects inappropriate language, so that any such unwelcome words never get seen at the other end of the IM (Instant Messaging) socket communication. Messages that contain words they shouldn't are simply not delivered and cleared from the screen, while the faulty user receives an automated console message notifying them about the language problem.<br>A similar feature has been implemented, in the meanwhile, also for the User Feedback section, so that no swears ould be technically allowed to show up in UNITE comments either.<br> UNITE counts on the high education levels and the good mood of our users!
  </p>
  <h2>
    FINAL CONSIDERATIONS
  </h2>
     <p class='term'>
       We are building a lightweight web application that bases its features on modern programming technologies and technical environment. UNITE is being carefully developed in an online working platform, that is called Glitch, which facilitates instant deployment and one single project location for the entire team, which significantly reduces the storage costs with respect to traditional webapp projects.<br>We also use a non-relational database for storing the actual user data, and the nature of the project source code allows a small number of full stack developers to work on UNITE, which is also a significant drop of human resource costs in comparison to mainstream teams that work with web applications. Still, we can assure you about the seriousness of our software developers, and we guarantee you that for any functional bug that may occur in our platform, there is at least one developer that would immediately be on it.
     </p>
     <p class='term'>
       The terms above are temporary and they strictly depend on the development phase we are in. Our application is under development and it is hosted by the www.glitch.com online deployment platform. We cannot guarantee you continuous access to the functionalities currently implemented on our UNITE application, since this depends on how well Glitch works and there may be issues with the API of the aforementioned hosting site. Thus, we cannot guarantee you a 24/7 100% functionality degree of our UNITE service.
     </p><br>
  </div>
</body>

</html>