<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= translation.viewFeedbacks.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      let id = "<%= userId %>", 
      role = "<%= role %>", 
      name = "<%= userName %>", 
      avatar = "<%= avatar %>", 
      type = "<%= userType %>";
      userInputs(id, role, avatar, name, type, $('ul.mr-auto'));
      
      let data = [];
      <% if(feedbacks != null) { for(let f of feedbacks) { %>
      data.push({
        id: '<%= f._id %>',
        userName: '<%= f.userName %>',
        userEmail: '<%= f.userEmail %>',
        subject: '<%= f.subject %>',
        message: '<%= f.message.toString() %>',
        createdAt: '<%= f.createdAt %>'
      });
      <% } } %>
      
      getFeedbacks(data, $('#main'), $('input[name="_csrf"]').val());
      
      <% if(keys != null) { %>
      let i = 0, indexes = [];

      $('a.nav-link').each(function(ind, elem) {      
        indexes.push($(elem).attr('index'));
      });

      let iter = 0;
        
      <% for(let k in keys) { %>   
      if(isInArray(i, indexes)) {
        $('a.nav-link span').eq(iter++).text('<%= eval(keys[k]) %>');
      }
      i++;
      <% } } %>      
    });
  </script>
  </head>
  
  <body>
    <nav pos="5" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
      <a class="navbar-brand" href="/"><%= translation.viewFeedbacks.title %></a>
      <input type="hidden" id="userData" isAdmin="<%= isAdmin %>" userRole="<%= role %>">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>    
      <div class="container home">
        <div class="col-md-12">
        <legend style="color: navy">
          <%= translation.viewFeedbacks.description %>
        </legend>
          <br>
          <div id="main">
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </div>
      </div>
  </body>  
</html>