<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNITE - Buyer - Cancel Order</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert.min.js"></script>  
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    getCancelReasonTitles($('#cancelForm'), $('input[name="_csrf"]').val(), '/bidCancelReasonTitles');
    
    $('#cancelForm').submit(function(e) {
      var radio = $(this).find('input[type="radio"]:checked');
      radio.attr('name', 'reasonTitle');
      });
    });
  </script>
</head>

<body>
  <nav user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE - Cancel your Order</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container">
       <div class="col-md-12">
        <legend>
          Cancel your Order - Please fill in the required (*) field
        </legend>
          <form class="cancelForm" id="cancelForm" method="POST">
            <input type="hidden" name="bidId" value="<%= bidId %>">
            <input type="hidden" name="requestsName" value="<%= bidName %>">
            <input type="hidden" name="userType" value="<%= userType %>">
            <div class="form-group">
              <label>Details*</label>
              <textarea required class="form-control" name="reason" rows="10" placeholder="Details on why cancelling..." cols="50"></textarea>
            </div>
            <input type="hidden" name="buyersName" value="<%= buyerName %>">
            <input type="hidden" name="suppliersName" value="<%= supplierName %>">
            <input type="hidden" name="buyersEmail" value="<%= buyerEmail %>">
            <input type="hidden" name="suppliersEmail" value="<%= supplierEmail %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button style="float: right" type="submit" id="submitCancel" title="Cancel Order" class="btn-primary btn">Cancel your Order</button><br>
          </form>
      </div>
    </div>
  </body>
</html>