<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyer Dashboard - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var token = $("input[name='_csrf']").val();
      getAutocomplete('#search', '/capabilityInputAutocomplete', token, true);
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
      getCurrenciesList('.buyerCurrency', '/currencyGetAutocomplete', token);//Preferred currency for Buyer.
      getProductsList('.productsList', '/prodServiceAutocomplete', token);      
      initBaseRates(fx, '.buyerCurrency');      
      var defaultBidCurrency = '<%= BID_DEFAULT_CURR %>';    

      $('.placeBid').on('click', function() {
        var id = $(this).attr('index');
        var elem = $("#prodServices_"+id);
        
        if(!(elem.find('li')) || !(elem.find('li').length)) {
          Swal.fire({
            icon: 'error',
            title: 'Error!',
            //timer: 2000,
            text: 'You must choose at least one product from your Supplier\'s offer before placing the Order.'
          });
          
          return false;
        }
       
        var prodInput = $("#hiddenProdServicesList_"+id);
        var amountInput = $("#amountList_"+id);
        var priceInput = $("#priceList_"+id);
        var prodImageInput = $("#productImagesList_"+id);
        var arr = [], arr1 = [], arr2 = [], arr3 = [];
        var totalPriceOriginal = 0, totalPriceConverted = 0;
        
        elem.find('li').each(function() {
          arr.push($(this).find('.product').text());
          arr1.push($(this).attr('amount'));
          var originalPrice = parseFloat($(this).attr('bigPrice')).toFixed(2);
          var val = fx.convert(originalPrice, {from: $(this).find('.currency').text(), to: elem.attr('suppCurrency')});
          arr2.push(val);
          totalPriceOriginal += originalPrice;
          totalPriceConverted += parseFloat(val).toFixed(2);
          var img = $(this).find('.productImage img');
          var src = img && img.length? 'public/' + img.attr('src').substring(3) : null;
          arr3.push(src);
        });
        
        prodInput.val(arr);
        amountInput.val(arr1);
        priceInput.val(arr2);
        prodImageInput.val(arr3);
        
        $('#price_'+id).val(totalPriceOriginal);
        $('#supplierPrice_'+id).val(totalPriceConverted);
      });

      $('select.buyerCurrency').on('change', function() {alert(1);
        var curr = $(this).val();
        var id = $(this).attr('index');
        var elem = $("#prodServices_"+id);
        var suppCurrency = elem.attr('suppCurrency');
        
        if(curr != suppCurrency) {
          Swal.fire({
            icon: 'warning',
            title: 'Warning',
            timer: 2000,
            html: 'The currency of your order is different from the Supplier\'s.<br>Yours is ' + curr + ', theirs is ' + suppCurrency  + '.<br>Please note that conversion rates will be applied.'
          });
        }
        
        var priceInput = $(this).parent('div').next('div').find('.bidPrice');
        var oldBidCurrencySpan = priceInput.next('span.bidCurrency');
        var val = fx.convert(parseFloat(priceInput.val()).toFixed(2), {from: oldBidCurrencySpan.text(), to: curr});
        priceInput.val(val);
        $('span.bidCurrency').text(curr);
        
        if(!elem.find('li') || !elem.find('li').length) {
          return false;
        }
        
        elem.find('li').each(function() {
          var addedPrice = $(this).attr('price'), totalPrice = $(this).attr('totalPrice'), shownPrice = $(this).find('.price').text(), theCurr = $(this).find('.currency').text();
          
          addedPrice = fx.convert(parseFloat(addedPrice).toFixed(2), {from: theCurr, to: curr});
          totalPrice = fx.convert(parseFloat(totalPrice).toFixed(2), {from: theCurr, to: curr});
          shownPrice = fx.convert(parseFloat(shownPrice).toFixed(2), {from: theCurr, to: curr});
          
          $(this).attr('price', addedPrice);
          $(this).attr('totalPrice', totalPrice);
          $(this).find('.price').text(shownPrice);
          $(this).find('.currency').text(curr);
        });
      });
      
      $('select.buyerCurrency')
        .find('option[value="' + defaultBidCurrency + '"]')
        .attr('selected', 'selected');
    
      $('span.bidCurrency').text(defaultBidCurrency);
      $('select.buyerCurrency').trigger('change');
      
      $('.productsList').on('change', function() {
        if(!$(this).val() || !$(this).val().length) {
          return false;
        }
        
        var name = $(this).val();
        var opt = $(this).find('option:selected');
        var price = opt.attr('price');
        var currency = opt.attr('currency');
        var maxAmount = opt.attr('maxAmount');
        var bidCurrency = $('.buyerCurrency').find('option:selected').text();
        
        if(bidCurrency != currency) {
          Swal.fire({
            icon: 'warning',
            title: 'Warning',
            timer: 2000,
            html: "The currency of your order is different from the Supplier's.<br>Yours is " + bidCurrency + ', theirs is ' + currency  + '.<br>Please note that conversion rates will be applied.'
          });
        }
        
        var val = fx.convert(parseFloat(price).toFixed(2), {from: currency, to: bidCurrency});
        var input = $(this).parent('div').next('div').find('.prodInput');
        input.attr('price', val);
        input.attr('maxAmount', maxAmount);
        input.val(name);
        input.trigger('change');
      });
      
      $('#loadCatalog').on('click', function() {
        if($('div.suppliersLive').length)
          return false;
        
        Swal.fire({
          icon: 'info',
          title: 'Information',
          timer: 2000,
          text: 'Please wait a while until the Catalog of Products is loaded...'
        });
       
        var that = $(this);
        
        $.ajax({
          url: '/loadProductsCatalog',
          headers: { "X-CSRF-Token": token },
          datatype: 'application/json',
          type: "GET",
          scroll: true,
          success: function(data) {
            if(!data || !data.length) {
              //obj.val('');
              //obj.next('.prodButton').prop('disabled', true);
             return false;
            }
            //Prepare the table:

            var str = '<div id="catalog"><h4>Catalog of Products</h4><table id="products" class="table table-striped table-hover table-condensed products">' 
            + '<thead><tr><th scope="col">#</th><th scope="col">Supplier name</th>' 
            + '<th colspan="2" scope="col">Product name</th><th colspan="2" scope="col">Product price</th><th scope="col">Currency</th>' 
            + '<th scope="col">Amount</th><th colspan="2" scope="col">Total Price</th><th scope="col">Image</th></tr></thead><tbody>';
// that.attr('avatar')
            for(var i in data) {
               str += '<tr id="'+i+'">'
                + '<td scope="col">' + parseInt(parseInt(i)+1) + '</td>'
                + '<td scope="col">' + data[i].supplier + '</td>'
                + '<td colspan="2" scope="col">' + data[i].productName + '</td>'
                + '<td colspan="2" scope="col">' + data[i].price + '</td>'
                + '<td scope="col">' + data[i].currency + '</td>'
                + '<td scope="col">' + data[i].amount + '</td>'
                + '<td colspan="2" scope="col">' + data[i].totalPrice + ' ' + data[i].currency + '</td>'
                + '<td scope="col"><img src="' + ('../' + data[i].productImage.substring(7)) + '" style="height: 20px; width: 20px" onclick="window.open(this.src)"></td>'
                + '</tr>';
            }

            str += '</tbody></table> </div>';
            $('div.bodyBuilder').append(str);
            prepareSortTable();
          }
        });
      });
      
      $('.prodInput').autocomplete({
        source: function(req, res) {
          var obj = $(this.element);
          $('.prov').remove();
          req.supplierId = obj.attr('supplierId');

          $.ajax({
            url: "/prodServiceAutocomplete",
            headers: { "X-CSRF-Token": token },
            datatype: 'jsonp',
            type: "GET",
            data: req,
            scroll: true,
            success: function(data) {
              if(!data || !data.length) {
                //obj.val('');
                //obj.next('.prodButton').prop('disabled', true);
               //return false;
              }

              res(data);
              //autocomp(obj, data);
              var $obj = '<div class="prov"><ul>';
              for(var i in data) {
                $obj += '<li id="' + data[i].price + '" amount="' + data[i].amount + '" totalPrice="' + data[i].totalPrice + '" productImage="' + data[i].productImage + '" currency="' + data[i].currency + '">' + data[i].name + '</li>';
              }

              $obj += '</ul><div>';
              $($obj)
                .insertAfter(obj.parent('div'))
                .find('li')
                .click(function() {
                  var id = getId(obj.attr('id'));
                  var buyerCurr = $('.buyerCurrency[index="'+id+'"]').val();
                  var val = fx.convert(parseFloat($(this).attr('id')).toFixed(2), {from: $(this).attr('currency'), to: buyerCurr});
                
                  obj
                    .attr({'price': val, 'maxAmount': $(this).attr('amount'), 'currency': buyerCurr})
                    .val($(this).text())
                    .trigger('change');
                  $(this).parent('ul').hide();
              });
            },
            error: function(err) {
              alert(err);
            }
          });
        },
        minLength: 3
      });
  });
  </script>
</head>

<body>
  <nav pos="1" user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/buyer">Buyer - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container mt-4">
    <br><br>
    <div class="card">
      <h5 class="card-header">Welcome!</h5>
      <div class="card-body">
        <h5 class="card-title">Hello, <%= buyer.organizationName %>!
          <% if(buyer.avatar != null && buyer.avatar.length > 0) { %>
           <img src="<%= buyer.avatar %>" style="height: 20px; width: 20px" onclick="window.open(this.src)">
          <% } %>
        </h5>
        <p class="card-text">You can send bid requests to suppliers from here.</p>
      </div>
    </div>
    
    <% if(bidsLength != null) { %>
      <div class="mt-4">
        <p class='term'>
          You have made a total of <%= bidsLength %> bids, their overall price (expressed in your currency) is <%= totalBidsPrice %> <%= BID_DEFAULT_CURR %>.
        </p>
        <a href="../buyer/bidCatalog/<%= buyer._id %>/<%= buyer.organizationName %>"><b>Load full table of Bids</b></a>
      </div>
    <% } %>
    
    <form class="my-2 my-lg-2" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search Capabilites" aria-label="Search" name="capabilityInput">
      <p class='littleNote'>Suppliers with the requested capabilities will be searched for.</p>
    </form>
    
    <div class="mt-4">
      <button class="form-control btn btn-primary" id="loadCatalog" avatar="<%= buyer.avatar %>">
        Load Catalog of Products
      </button>
    </div>

    <div class="bodyBuilder">
      <% let i = 0; if (suppliers != null) { for (supplier of suppliers) { i++; %>
      <div class="card mt-4 suppliersLive">
        <h5 class="card-header bg-dark text-white"><%= supplier.companyName %></h5>
        <div class="card-body">
          <h5 class="card-title">Contact Name: <%= supplier.contactName %></h5>
          <p class="card-text">Capability Description: <%= supplier.capabilityDescription %></p>
          <button class="btn btn-primary ml-2" style="float: right" data-target="#request_<%= i %>"
            data-toggle="modal">Request a Bid</button>
          <button class="btn btn-dark" style="float: right" data-target="#comp_<%= i %>"
            data-toggle="modal">Supplier Details</button>
          <a href="../buyer/viewBid/<%= supplier._id %>/<%= buyer._id %>/<%= buyer.balance %>"><button class="btn btn-dark" style="margin-right: 10px; float: right">View Bid(s)</button></a>
        </div>

        <!-- Modal view of Supplier Details (read-only mode) -->
        <div class="modal fade" id="comp_<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= supplier.companyName %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>                  
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" readonly value="<%= supplier.emailAddress %>"> </div>
                  <div class="form-group">
                    <label>Director's name</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.directorsName %>">
                  </div>
                  <div class="form-group">
                    <label>Contact Name</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.contactName %>">
                  </div>
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.title %>">
                  </div>
                  <div class="form-group">
                    <label>Company Registration No</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.companyRegistrationNo %>">
                  </div>
                  <div class="form-group">
                    <label>Registered Country</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.registeredCountry %>"
                      required>
                  </div>
                  <div class="form-group">
                    <label>Company Address</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.companyAddress %>" required>
                  </div>
                  <div class="form-group">
                    <label>Area Covered</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.areaCovered %>">
                  </div>
                  <div class="form-group">
                    <label>Contact Mobile Number</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.contactMobileNumber %>">
                  </div>
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.country %>" required>
                  </div>
                  <div class="form-group">
                    <label>Industry</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.industry %>" required>
                  </div>
                  <div class="form-group">
                    <label>Employee Number</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.employeeNumbers %>" required>
                  </div>
                  <div class="form-group">
                    <label>Last Year Turnover</label>
                    <input type="money" class="form-control" readonly value="<%= supplier.lastYearTurnover %>" required>
                  </div>
                  <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.website %>">
                  </div>
                  <div class="form-group">
                    <label>Facebook URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.facebookURL %>">
                  </div>
                  <div class="form-group">
                    <label>Instagram URL</label>
                    <input type="text" class="form-control" readonly readonly value="<%= supplier.instagramURL %>">
                  </div>
                  <div class="form-group">
                    <label>Twitter URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.twitterURL %>">
                  </div>
                  <div class="form-group">
                    <label>LinkedIn URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.linkedinURL %>">
                  </div>
                  <div class="form-group">
                    <label>Other Social Media URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.otherSocialMediaURL %>">
                  </div>
                  <div class="form-group">
                    <label>Products / Services Offered</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.productsServicesOffered %>" >
                  </div>
                  <div class="form-group">
                    <label>Capability Description</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.capabilityDescription %>" >
                  </div>
                  <div class="form-group">
                    <label>Relevant Experience</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.relevantExperience %>" required>
                  </div>
                  <div class="form-group">
                    <label>Supporting Information</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.supportingInformation %>">
                  </div>

                  <!-- Uploading files field section-->
                  <div class="form-group">
                    <label>Certificates</label>          
                    <input readonly class="form-control" type="text" id="certificates" name="certificates" value="<%= supplier.certificates %>">
                  </div>

                  <div class="form-group">
                    <label>Antibribery policy</label>
                    <input readonly class="form-control" type="text" id="antibriberyPolicy" name="antibriberyPolicy" value="<%= supplier.antibriberyPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Environment policy</label>
                    <input readonly class="form-control" type="text" id="environmentPolicy" name="environmentPolicy" value="<%= supplier.environmentPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Quality management policy</label>
                    <input readonly class="form-control" type="text" id="qualityManagementPolicy" name="qualityManagementPolicy" value="<%= supplier.qualityManagementPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Occupational Safety and Health</label>
                    <input readonly class="form-control" type="text" id="occupationalSafetyAndHealthPolicy" name="occupationalSafetyAndHealthPolicy" value="<%= supplier.occupationalSafetyAndHealthPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Other relevant files</label>
                    <input readonly class="form-control" type="text" id="otherRelevantFiles" name="otherRelevantFiles" value="<%= supplier.otherRelevantFiles %>">
                  </div>                  
                  <!--Mandatory check of agreements -->
                  <div class="form-group">
                    <div class="form-check">
                      <input readonly disabled class="form-check-input" type="checkbox"
                        <%= supplier.UNITETermsAndConditions ? "checked" : "" %>>
                      <label class="form-check-label" for="invalidCheck2">
                        UNITE Terms And Conditions
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox"
                        <%= supplier.antibriberyAgreement ? "checked" : "" %> disabled readonly>
                      <label class="form-check-label" for="invalidCheck2">
                        Antibribery Agreement
                      </label>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal window for the new Bid Request -->
        <div class="modal fade" id="request_<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">New Bid Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="text-muted form-text">
                      Please fill in all the required (*) fields.
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Request Name*</label>
                    <input type="text" class="form-control" id="requestName_<%= i %>" name="requestName" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Supplier Company</label>
                    <input type="text" class="form-control" name="supplierName" value="<%= supplier.companyName %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Buyer Organization</label>
                    <input type="text" class="form-control" name="buyerName" value="<%= buyer.organizationName %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Buyer's E-mail Address*</label>
                    <input type="email" class="form-control" name="buyerEmail" value="<%= buyer.emailAddress %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Supplier's E-mail Address*</label>
                    <input type="email" class="form-control" name="supplierEmail" value="<%= supplier.emailAddress %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description <b>(Short)</b>*</label>
                    <input type="text" class="form-control" name="itemDescription" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description (Long)*</label>
                    <textarea class="form-control" name="itemDescriptionLong" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description URL (Long)</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">http(s)://</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="basic-addon3" name="itemDescriptionUrl">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Amount*</label>
                    <input type="number" class="form-control" id="amount_<%= i %>" name="theAmount" value="0" required>
                    <input type="hidden" id="totalAmount_<%= i %>" name="amount" value="0">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Delivery Location*</label>
                    <textarea class="form-control" name="deliveryLocation" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Delivery Requirements*</label>
                    <textarea class="form-control" name="deliveryRequirements" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Compliance Requirements*</label>
                    <textarea class="form-control" name="complianceRequirements" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Compliance Requirements URL</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">http(s)://</span>
                      </div>
                      <input type="text" class="form-control" name="complianceRequirementsUrl" aria-describedby="basic-addon3">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-form-label">Other Requirements</label>
                    <textarea class="form-control" name="otherRequirements"></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Your currency*:</label>
                    <select class="form-control" index="<%= i %>" class="buyerCurrency"></select>
                  </div>
                  <p>
                    You can either select products from drop-down or search for them via Autocomplete (please enter at least 3 characters).
                  </p>
                  <div class="form-group">
                    <label class="col-form-label">Supplier's products:</label>
                    <select class="form-control" class="productsList" name="productsList"></select>
                  </div>
                  <div>
                    <p class='term'>
                      You can use an Excel file with your desired products list, formatted as product name + product price + product currency + amount i.e. Number of items (4 cells per row), and after you click on the Process button, our system will automatically add the products and build the list on page.<br>Please note that if the currency you use in Excel is different from the one from the Buyer page, conversion will be automatically applied. Also, the first row of your document must contain the column names.
                    </p>
                  </div>
                  <div class="form-group">
                    <label>Please choose your prepared product/service list (*.xls/xlsx, name+price+currency+amount on each row):</label>
                    <input class="form-control fileexcelupload fromBuyer" type="file" id="products" name="products" single>
                    <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Process Excel File" />
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Products / Services Offered*</label>
                    <div class="input-group">
                      <input type="text" required class="form-control prodInput" supplierId="<%= supplier._id %>" placeholder="Add Product/Service*" id="prodServiceInput_<%= i %>">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary prodButton" type="button" disabled id="addProdService_<%= i %>">Add</button>
                      </div>
                      <p class='littleNote'>
                        Please note that only available products from this supplier can be selected.
                      </p>
                    </div>
                  <div class="form-group">
                    <label>Upload a product image:</label>
                    <input class="form-control productimageupload" type="file" id="productImage_<%= i %>" name="products" single>
                    <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload Product Image" />
                  </div>
                    <br>                    
                    <ul class="list-group" MAX="<%= MAX_PROD %>" suppCurrency="<%= supplier.currency %>" id="prodServices_<%= i %>">
                    </ul>
                    <p class='term'>
                      You have a number of <span class='productsCount'>          
                        0            
                      </span> products.
                    </p>
                    <input type="hidden" required id="hiddenProdServicesList_<%= i %>" name="productsServicesOffered" value="">
                    <input type="hidden" required id="amountList_<%= i %>" name="amountList" value="">
                    <input type="hidden" required id="priceList_<%= i %>" name="priceList" value="">
                    <input type="hidden" required id="productImagesList_<%= i %>" name="productImagesList" value="">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Your total price:</label>
                    <input type="number" class="form-control bidPrice" id="price_<%= i %>" name="buyerPrice" readonly>
                    <span class="form-control bidCurrency" id="currency_<%= i %>" name="buyerCurrency"></span>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Supplier's equivalent total price:</label>
                    <input type="text" class="form-control" readonly id="supplierPrice_<%= i %>" name="supplierPrice">
                    <span class="form-control" id="supplierCurrency_<%= i %>" name="supplierCurrency"> <%= supplier.currency %></span>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Your price per unit/product:</label>
                    <input type="text" class="form-control" readonly id="buyerPriceUnit_<%= i %>">
                    <span class="form-control bidCurrency" id="buyerCurrencyUnit_<%= i %>"></span>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Supplier's price per unit/product:</label>
                    <input type="text" class="form-control" readonly id="supplierPriceUnit_<%= i %>">
                    <span class="form-control" id="supplierCurrencyUnit_<%= i %>"> <%= supplier.currency %></span>
                  </div>
                   <div class="form-group">
                    <label class="col-form-label">Status*</label>
                    <input type="number" id="status_<%= i %>" class="form-control" name="status" min="0" max="4" step="1" value="0" readonly>
                  </div>
                  <div class="form-group">
                    <select style="width: 100%" id="statuses_<%= i %>">
                      <% if (statuses != null) { for (status of statuses) { %>
                      <option disabled title="<%= status.name %>" value="<%= status.value %>"><%= status.name %></option>
                      <% } }%>
                    </select>
                    <div style="display: none" id="statusJsonValues_<%= i %>">                      
                      <% if (statusesJson != null) {  %>
                        <span><%= statusesJson %></span>
                      <% }  %>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="buyer" value="<%= buyer._id %>">
                  <input type="hidden" name="supplier" value="<%= supplier._id %>">
                  <script type="text/javascript">
                    function limitStatus(e) {
                        var ASCIICode = (e.which) ? e.which : e.keyCode;
                        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 54)) 
                            return false;
                        return true; 
                    }
                  
                    var index = "<%= i %>";
                    
                    $('#status_'+index).on('keypress keyon keyup', function(e) {
                      return limitStatus(e);
                    });
                    
                    var sel = $('#statuses_'+index);
                    var statusVector = [];
                    sel.find('option').each(function(index, element) {
                      statusVector.push($(element).text());
                    });
                    
                    sel
                      .find('option[value="' + $('#status_'+index).val() + '"]')
                      .prop('selected', true);
                    sel.attr('title', sel.find('option:selected').text());
                    
                    var x = JSON.parse($('#statusJsonValues_'+index+' span:first').text());
                    
                    $('#status_'+index).change(function(e) {//Read-only select, though.
                      if($(this).val() < x.BUYER_REQUESTED_BID
                         || $(this).val() > x.PAYMENT_DELIVERY_DONE) {//The last two options can be triggered by the corresponding Cancel Bid button. 5 for Supplier cancellation, 6 for Buyer cancellation.
                        return false;
                      }
                    
                      var id = getId($(this).attr('id'));
                      var statusText = statusVector[parseInt($(this).val())];
                      if($("#statusText_"+id).length)
                        $("#statusText_"+id).remove();
                      
                      $('<div style="color: blue" id="statusText_'+id + '"><p>' + statusText + '</p></div>')
                        .insertAfter($('#status_'+id).parent('div'));
                    });
                    
                    $('#prodServiceInput_'+index).change(function() {
                      if($(this).val()) {
                        var id = getId($(this).attr('id'));
                        $("#addProdService_"+id).prop('disabled', false);
                        var price = $(this).attr('price')? $(this).attr('price') : 1;                       
                        
                        $('#buyerPriceUnit_'+id).val(price + ' * 1 = ' + price);
                        var suppPrice = fx.convert(price, {from: $('span.bidCurrency').first().text(), to: '<%= supplier.currency %>'});
                        $('#supplierPriceUnit_'+id).val(suppPrice + ' * 1 = ' + suppPrice);
                      }
                    });
                    
                    $('#amount_'+index).on('change', function() {
                      var id = getId($(this).attr('id'));
                      var price = $("#prodServiceInput_"+id).attr('price')? $("#prodServiceInput_"+id).attr('price') : 1;
                      var maxAmount = $("#prodServiceInput_"+id).attr('maxAmount');
                      
                      if($(this).val() > maxAmount) {
                        Swal.fire({
                          icon: 'error',
                          title: 'Error!',
                          text: 'You have reached the limit of ' + maxAmount + ' samples of this product. Supplier\'s stock is not enough.'
                        });

                        return false;
                      }
                      
                      $('#buyerPriceUnit_'+id).val(price + ` * ${$(this).val()} = ` + price * $(this).val());
                      var suppPrice = fx.convert(price, {from: $('span.bidCurrency').first().text(), to: '<%= supplier.currency %>'});
                      $('#supplierPriceUnit_'+id).val(suppPrice + ` * ${$(this).val()} = ` + suppPrice * $(this).val());
                    });
                    
                    var elem = $("#prodServices_"+index);
                    $('<a><span style="color: green; cursor: pointer" id="massRemove_'+index+'">Remove All Products</span></a><br>').insertBefore(elem);
                    
                    var num = index;
                    $('#massRemove_'+index).on('click', function() {
                      removeAllItems(num);
                    });
                    
                    var MAX = parseInt("<%= MAX_PROD %>");
                    $("#addProdService_"+index).on('click', function() {
                      if(elem.find('li').length >= MAX) {
                          Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'You have reached the limit of ' + MAX + ' products to request from the supplier.'
                          });
                        
                          return false;
                      }
                      
                      var id = getId($(this).attr('id'));
                      $('#status_'+ id).trigger('change');                      
                      var amount = $('#amount_'+id);                      
                      if(!amount.val() || amount.val() < 1) {
                        Swal.fire({
                          icon: 'warning',
                          title: 'Attention',                          
                          text: 'Please select an amount of products first.'
                        });
                       
                        return false;
                      }

                      var input = $("#prodServiceInput_"+id);
                      if(!input.attr('price'))
                        input.attr('price', 1);
                      //var req = input.val().length;// && $('#price').val().length && $('#currency').val().length;
     
                      if(input.val() && input.val().length) {
                        input.removeClass('errorField');
                        var prodVal = input.val();
                        var isPresent = false;
                        
                        elem.find('.product').each(function() {
                          if(prodVal == $(this).text()) {
                            Swal.fire({
                              icon: 'error',
                              title: 'Error!',
                              text: 'You have already added ' + prodVal + ' to the list. Please refine your selection.'
                            });
                            
                            isPresent = true;
                            return false;
                          }
                        });
                        
                        if(isPresent) {
                          return false;
                        }/*
                        var arr = prodInput.val() && prodInput.val().length? (prodInput.val()).split(',') : [];
                        if(checkName(arr, prodVal)) {                          
                          return false;
                          }*/
                        
                        var amountVal = amount.val();
                        var addedPrice = parseInt(amountVal? amountVal : 1) * parseFloat(input.attr('price')? input.attr('price') : 1);
                        var price = parseFloat($('#price_'+id).val()) + parseFloat(addedPrice);
                        var bigPrice = parseFloat(price).toFixed(2);
                        $('#price_'+id).val(bigPrice);
                        var supp = fx.convert((bigPrice), {from: $('span.bidCurrency').first().text(), to: '<%= supplier.currency %>'});
                        $('#supplierPrice_'+id).val(supp);
                        var imageInput = $('input.productimageupload[id="productImage_'+id+'"]');
                        
                        var imagePath = input.attr('productImage')?
                          '../' + input.attr('productImage').substring(7) 
                          : imageInput.attr('filePath');
                        
                          elem.append("<li class='list-group-item' price='" + addedPrice + "' maxAmount='" + input.attr('maxAmount') "' totalPrice='" + bigPrice +"' amount='" + amountVal + "'><span class='product'>" + prodVal + '</span> - <span class="price">' + input.attr('price') + '</span> <span class="currency">' + $('#currency_'+id).val() + `</span> - <span class='amount'>${amountVal}</span> items (Total: <span class='totalPrice'>${addedPrice}</span> ${$('#currency_'+id).val()})<span class='productImage' title='Image of product'>` + imagePath? `<img src="${imagePath}" style="height: 15px; width: 15px" onclick="window.open(this.src)">` : '' + `</span><span class='uploadImage'>&nbsp;&nbsp;&nbsp;Upload Image</span> <span class='rem' title="Delete"></span>  <span class='dec' title='Remove item'></span>  <span class='inc' title='Add item'></span>  </li>`);
                          imageInput
                            .removeAttr('filePath')
                            .attr('value', '');
                        
                          var counter = elem.closest('p').find('span');
                          var newValue = 1 + parseInt(counter.text());
                          counter.text(newValue);
                          $('#totalAmount_'+id).val(parseInt($('#totalAmount_'+id).val()) + parseInt(amountVal));
                          input.val('');
                          bindHandleProduct($('.rem').last(), input, true, id, true, false);
                          bindHandleProduct($('.inc').last(), input, true, id, false, true);
                          bindHandleProduct($('.dec').last(), input, true, id, false, false);
                        } else {
                            Swal.fire({
                              icon: 'warning',
                              title: 'Attention!',
                              text: 'Please enter valid product data (name, amount).'
                            });
                          
                            input.addClass('errorField');
                            //$('#prodServiceInput,#price,#currency').addClass('errorField');
                        }
                    });
                  </script>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button index="<%= i %>" class='placeBid' type="submit" class="btn btn-primary">Send request</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
      <% } } else if(1==2 && catalogItems != null) { %>
        <div id="catalog">
          <h4>
            Catalog of Products
          </h4>
          <table id="buyers" class="table table-striped table-hover table-condensed products">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Supplier name</th>
                <th scope="col">Product name</th>
                <th scope="col">Product price</th>
                <th scope="col">Currency</th>
                <th scope="col">Image</th>
              </tr>
            </thead>
            <tbody>
              <% let j = 0; for (item of catalogItems) { %>
              <tr id="<%= j %>">
                <td scope="col"><%= j+1 %></td>
                <td scope="col"><%= item.supplier %></td>
                <td scope="col"><%= item.productName %></td>
                <td scope="col"><%= item.price %></td>
                <td scope="col"><%= item.currency %></td>
                <td scope="col"><img src="<%= buyer.avatar %>" style="height: 25px; width: 20px"></td>
              </tr>
              <% j++; } %>
              </tbody>
          </table>
      </div>
      <% } %>
    </div>
  </div>
</body>

</html>