<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyer Dashboard - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert.min.js"></script>  
  <script src="/index.min.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var token = $("input[name='_csrf']").val();
      getAutocomplete('#search', '/capabilityInputAutocomplete', token, true);

      $('.prodInput').autocomplete({
        source: function(req, res) {
          var obj = $(this.element);
          $('.prov').remove();
          req.supplierId = obj.attr('supplierId');

          $.ajax({
            url: "/prodServiceAutocomplete",
            headers: { "X-CSRF-Token": token },
            datatype: 'jsonp',
            type: "GET",
            data: req,
            scroll: true,
            success: function(data) {                
              if(!data || !data.length) {
                obj.val('');
                obj.next('.prodButton').attr('disabled', 'disabled');
                return false;
              }

              res(data);
              //autocomp(obj, data);
              var $obj = '<div class="prov"><ul>';
              for(var i in data) {
                $obj += '<li id="' + data[i].price + '" currency="' + data[i].currency + '">' + data[i].name + '</li>';
              }

              $obj += '</ul><div>';
              $($obj)
                .insertAfter(obj.parent('div'))
                .find('li')
                .click(function() {
                  obj
                    .attr({'price': $(this).attr('id'), 'currency': $(this).attr('currency')})
                    .val($(this).text())
                    .trigger('change');
                  $(this).parent('ul').hide();
              });
            },
            error: function(err) {
              alert(err);
            }
          });
        },
        minLength: 3
      });        
  });    
  </script> 
</head>

<body>
  <% if (success && success.length > 0) { %>
  <script>
    swal({
      title: "Required!",
      text: "Bid requested successfully!",
      icon: "success",
    });
  </script>
  <% } %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/buyer">Buyer - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/buyer">Buyer's Dashboard <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/buyer/balance">Balance: €<%= buyer.balance %>&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="/buyer/profile">Profile</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="btn btn-danger" href="?exit=true">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <br><br>
    <div class="card">
      <h5 class="card-header">Welcome!</h5>
      <div class="card-body">
        <h5 class="card-title">Hello, <%= buyer.organizationName %>!</h5>
        <p class="card-text">You can send bid requests to suppliers from here.</p>
      </div>
    </div>
    <form class="my-2 my-lg-2" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search Capabilites" aria-label="Search" name="capabilityInput">
      <p class='littleNote'>Suppliers with the requested capabilities will be searched for.</p>
    </form>

    <div>
      <% let i = 0; if (suppliers != null) { for (supplier of suppliers) { i++; %>
      <div class="card mt-4">
        <h5 class="card-header bg-dark text-white"><%= supplier.companyName %></h5>
        <div class="card-body">
          <h5 class="card-title">Contact Name: <%= supplier.contactName %></h5>
          <p class="card-text">Capability Description: <%= supplier.capabilityDescription %></p>
          <button class="btn btn-primary ml-2" style="float: right" data-target="#request_<%= i %>"
            data-toggle="modal">Request a Bid</button>
          <button class="btn btn-dark" style="float: right" data-target="#comp_<%= i %>"
            data-toggle="modal">Supplier Details</button>
          <a href="../buyer/viewBid/<%= supplier._id %>/<%= buyer._id %>"><button class="btn btn-dark" style="margin-right: 10px; float: right">View Bid(s)</button></a>
        </div>

        <!-- Modal view of Supplier Details (read-only mode) -->
        <div class="modal fade" id="comp_<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= supplier.companyName %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>                  
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" readonly value="<%= supplier.emailAddress %>"> </div>
                  <div class="form-group">
                    <label>Director's name</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.directorsName %>">
                  </div>
                  <div class="form-group">
                    <label>Contact Name</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.contactName %>">
                  </div>
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.title %>">
                  </div>
                  <div class="form-group">
                    <label>Company Registration No</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.companyRegistrationNo %>">
                  </div>
                  <div class="form-group">
                    <label>Registered Country</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.registeredCountry %>"
                      required>
                  </div>
                  <div class="form-group">
                    <label>Company Address</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.companyAddress %>" required>
                  </div>
                  <div class="form-group">
                    <label>Area Covered</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.areaCovered %>">
                  </div>
                  <div class="form-group">
                    <label>Contact Mobile Number</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.contactMobileNumber %>">
                  </div>
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.country %>" required>
                  </div>
                  <div class="form-group">
                    <label>Industry</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.industry %>" required>
                  </div>
                  <div class="form-group">
                    <label>Employee Number</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.employeeNumbers %>" required>
                  </div>
                  <div class="form-group">
                    <label>Last Year Turnover</label>
                    <input type="money" class="form-control" readonly value="<%= supplier.lastYearTurnover %>" required>
                  </div>
                  <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.website %>">
                  </div>
                  <div class="form-group">
                    <label>Facebook URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.facebookURL %>">
                  </div>
                  <div class="form-group">
                    <label>Instagram URL</label>
                    <input type="text" class="form-control" readonly readonly value="<%= supplier.instagramURL %>">
                  </div>
                  <div class="form-group">
                    <label>Twitter URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.twitterURL %>">
                  </div>
                  <div class="form-group">
                    <label>LinkedIn URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.linkedinURL %>">
                  </div>
                  <div class="form-group">
                    <label>Other Social Media URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.otherSocialMediaURL %>">
                  </div>
                  <div class="form-group">
                    <label>Products / Services Offered</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.productsServicesOffered %>" >
                  </div>
                  <div class="form-group">
                    <label>Capability Description</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.capabilityDescription %>" >
                  </div>
                  <div class="form-group">
                    <label>Relevant Experience</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.relevantExperience %>" required>
                  </div>
                  <div class="form-group">
                    <label>Supporting Information</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.supportingInformation %>">
                  </div>

                  <!-- Uploading files field section-->
                  <div class="form-group">
                    <label>Certificates</label>          
                    <input readonly class="form-control" type="text" id="certificates" name="certificates" value="<%= supplier.certificates %>">
                  </div>

                  <div class="form-group">
                    <label>Antibribery policy</label>
                    <input readonly class="form-control" type="text" id="antibriberyPolicy" name="antibriberyPolicy" value="<%= supplier.antibriberyPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Environment policy</label>
                    <input readonly class="form-control" type="text" id="environmentPolicy" name="environmentPolicy" value="<%= supplier.environmentPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Quality management policy</label>
                    <input readonly class="form-control" type="text" id="qualityManagementPolicy" name="qualityManagementPolicy" value="<%= supplier.qualityManagementPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Occupational Safety and Health</label>
                    <input readonly class="form-control" type="text" id="occupationalSafetyAndHealthPolicy" name="occupationalSafetyAndHealthPolicy" value="<%= supplier.occupationalSafetyAndHealthPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Other relevant files</label>
                    <input readonly class="form-control" type="text" id="otherRelevantFiles" name="otherRelevantFiles" value="<%= supplier.otherRelevantFiles %>">
                  </div>                  
                  <!--Mandatory check of agreements -->
                  <div class="form-group">
                    <div class="form-check">
                      <input readonly disabled class="form-check-input" type="checkbox"
                        <%= supplier.UNITETermsAndConditions ? "checked" : "" %>>
                      <label class="form-check-label" for="invalidCheck2">
                        UNITE Terms And Conditions
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox"
                        <%= supplier.antibriberyAgreement ? "checked" : "" %> disabled readonly>
                      <label class="form-check-label" for="invalidCheck2">
                        Antibribery Agreement
                      </label>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal window for the new Bid Request -->
        <div class="modal fade" id="request_<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">New Bid Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="text-muted form-text">
                      Please fill in all the required (*) fields.
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Request Name*</label>
                    <input type="text" class="form-control" id="requestName_<%= i %>" name="requestName" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Supplier Company</label>
                    <input type="text" class="form-control" name="supplierName" value="<%= supplier.companyName %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Buyer Organization</label>
                    <input type="text" class="form-control" name="buyerName" value="<%= buyer.organizationName %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Buyer's E-mail Address*</label>
                    <input type="email" class="form-control" name="buyerEmail" value="<%= buyer.emailAddress %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Supplier's E-mail Address*</label>
                    <input type="email" class="form-control" name="supplierEmail" value="<%= supplier.emailAddress %>" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description (Short)<b>*</b></label>
                    <input type="text" class="form-control" name="itemDescription" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Products / Services Offered*</label>
                    <div class="input-group">
                      <input type="text" required class="form-control prodInput" supplierId="<%= supplier._id %>" placeholder="Add Product/Service*" id="prodServiceInput_<%= i %>">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary prodButton" type="button" disabled id="addProdService_<%= i %>">Add</button>
                      </div>
                      <p class='littleNote'>
                        Please note that only available products with this supplier can be selected.
                      </p>
                    </div>
                    <br>
                    <ul class="list-group" id="prodServices_<%= i %>">
                    </ul>
                    <input type="hidden" required id="hiddenProdServicesList_<%= i %>" name="productsServicesOffered" value="">
                    <input type="hidden" required id="amountList_<%= i %>" name="amountList" value="">
                    <input type="hidden" required id="priceList_<%= i %>" name="priceList" value="">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description (Long)*</label>
                    <textarea class="form-control" name="itemDescriptionLong" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description URL (Long)</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">http(s)://</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="basic-addon3" name="itemDescriptionUrl">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-form-label">Amount*</label>
                    <input type="number" class="form-control" id="amount_<%= i %>" name="theAmount" value="0" required>
                    <input type="hidden" id="totalAmount_<%= i %>" name="amount" value="0">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Delivery Location*</label>
                    <textarea class="form-control" name="deliveryLocation" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Delivery Requirements*</label>
                    <textarea class="form-control" name="deliveryRequirements" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Compliance Requirements*</label>
                    <textarea class="form-control" name="complianceRequirements" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Compliance Requirements URL</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">http(s)://</span>
                      </div>
                      <input type="text" class="form-control" name="complianceRequirementsUrl"
                        aria-describedby="basic-addon3">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-form-label">Other Requirements</label>
                    <textarea class="form-control" name="otherRequirements"></textarea>
                  </div>
                   <div class="form-group">
                    <label class="col-form-label">Price</label>
                    <input type="number" class="form-control" id="price_<%= i %>" name="price" value="0" readonly>
                     <span class="form-control" id="currency_<%= i %>" name="currency"><%= supplier.currenciesList[0] %></span>
                    
                    <input type="hidden" id="defaultPrice_<%= i %>" value="1">
                  </div>
                   <div class="form-group">
                    <label class="col-form-label">Status*</label>
                    <input type="number" id="status_<%= i %>" class="form-control" name="status" min="0" max="4" step="1" value="0" readonly>
                  </div>
                  <div class="form-group">
                    <select style="width: 100%" id="statuses_<%= i %>">
                      <% if (statuses != null) { for (status of statuses) { %>
                      <option disabled title="<%= status.name %>" value="<%= status.value %>"><%= status.name %></option>
                      <% } }%>
                    </select>
                    <div style="display: none" id="statusJsonValues_<%= i %>">                      
                      <% if (statusesJson != null) {  %>
                        <span><%= statusesJson %></span>
                      <% }  %>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="buyer" value="<%= buyer._id %>">
                  <input type="hidden" name="supplier" value="<%= supplier._id %>">
                  <script type="text/javascript">
                    function limitStatus(e) {
                        var ASCIICode = (e.which) ? e.which : e.keyCode;
                        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 54)) 
                            return false;
                        return true; 
                    }
                    
                    var index = "<%= i %>";
                    
                    $('#status_'+index).bind('keypress keyon keyup', function(e) {
                      return limitStatus(e);
                    });                    
                    
                    var sel = $('#statuses_'+index);
                    var statusVector = [];
                    sel.find('option').each(function(index, element) {
                      statusVector.push($(element).text());
                    });
                    
                    sel
                      .find('option[value="' + $('#status_'+index).val() + '"]')
                      .attr('selected', 'selected');
                    sel.attr('title', sel.find('option:selected').text());
                    
                    var x = JSON.parse($('#statusJsonValues_'+index+' span:first').text());
                    
                    $('#status_'+index).change(function(e) {//Read-only select, though.
                      if($(this).val() < x.BUYER_REQUESTED_BID
                         || $(this).val() > x.PAYMENT_DELIVERY_DONE) {//The last two options can be triggered by the corresponding Cancel Bid button. 5 for Supplier cancellation, 6 for Buyer cancellation.
                        return false;
                      }
                    
                      var id = getId($(this).attr('id'));
                      var statusText = statusVector[parseInt($(this).val())];
                      if($("#statusText_"+id).length)
                        $("#statusText_"+id).remove();
                      
                      $('<div style="color: blue" id="statusText_'+id + '"><p>' + statusText + '</p></div>')
                        .insertAfter($('#status_'+id).parent('div'));
                    });
                    
                    
                    $('#prodServiceInput_'+index).change(function() {
                      if($(this).val()) {
                        var id = getId($(this).attr('id'));
                        $("#addProdService_"+id).removeAttr('disabled');
                        $('#defaultPrice_'+id).val($(this).attr('price'));
                        $('#currency_'+id).val($(this).attr('currency'));                        
                      }
                    });
                    
                    $('#amount_'+index).bind('change', function() {
                      var id = getId($(this).attr('id'));
                      $('#price_'+id).val($(this).val() * $('#defaultPrice_'+id).val());
                    });
                    
                    var elem = $("#prodServices_"+index);
                    var MAX = parseInt("<%= MAX_PROD %>");

                    $("#addProdService_"+index).bind('click', function() {
                      if(elem.find('li').length >= MAX) {
                          alert('You have reached the limit of products to request from the supplier.');
                          return false;
                      }
                      
                      var id = getId($(this).attr('id'));
                      $('#status_'+ id).trigger('change');                      
                      var amount = $('#amount_'+id);                      
                      if(!amount.val() || amount.val() < 1) {
                        alert('Please select an amount first.');
                        return false;
                      }

                      var input = $("#prodServiceInput_"+id);
                      input.attr('price', $('#defaultPrice_'+id).val());                      
                      var prodInput = $("#hiddenProdServicesList_"+id);
                      var amountInput = $("#amountList_"+id);
                      var priceInput = $("#priceList_"+id);                      
                      var product = prodInput.val(), quantity = amountInput.val(), price = priceInput.val();
                      //var req = input.val().length;// && $('#price').val().length && $('#currency').val().length;
     
                      if(input.val() && input.val().length) {
                        input.removeClass('errorField');
                        var addedPrice = parseInt(amount.val()? amount.val() : 0) * parseFloat(input.attr('price')? input.attr('price') : 1);
                        var price = parseFloat($('#price_'+id).val()) + addedPrice;
                        $('#price_'+id).val(parseFloat(price));

                        $('.rem').unbind('click').click(function() {
                          var li = $(this).parent('li');
                          var newIndex = elem.find('li').index(li);

                          var arr = prodInput.val() && prodInput.val().length? 
                              prodInput.val().split(',') : [];
                          if(arr.length) arr.splice(newIndex, 1);
                          prodInput.val(arr.length? arr : '');

                          arr = amountInput.val() && amountInput.val().length? 
                            amountInput.val().split(',') : [];
                          if(arr.length) arr.splice(newIndex, 1);
                          amountInput.val(arr.length? arr : '');

                          arr = priceInput.val() && priceInput.val().length? 
                            priceInput.val().split(',') : [];
                          if(arr.length) arr.splice(newIndex, 1);
                          priceInput.val(arr.length? arr : '');

                          var newAmount = parseInt($('#totalAmount_'+id).val()) - parseInt(li.attr('amount'));
                          var newPrice = parseFloat($('#price_'+id).val()) - parseFloat(li.attr('price'));
                          $('#totalAmount_'+id).val(parseInt(newAmount));
                          $('#price_'+id).val(parseFloat(newPrice));
                          li.remove();
                        });
                          
                          var prodVal = input.val(), amountVal = amount.val(), priceVal = $('#price_'+id).val();
                          var bigPrice = amountVal * priceVal;
                          
                          var arr = prodInput.val() && prodInput.val().length? (prodInput.val()).split(',') : [];
                          if(checkName(arr, prodVal)) {
                            alert('You have already added ' + prodVal + ' to the list. Please refine your selection.');
                            return false;
                          }
                          
                          elem.append("<li class='list-group-item' price='" + addedPrice + "' amount='" + amount.val() + "'><span>" + prodVal + ' - ' + input.attr('price') + ' ' + $('#currency_'+id).val() + "</span><span class='rem'>&nbsp;(Remove)</span></li>");
                          arr.push(prodVal);
                          prodInput.val((arr));

                          arr = amountInput.val() && amountInput.val().length? (amountInput.val()).split(',') : [];
                          arr.push(amountVal);
                          amountInput.val((arr));

                          arr = priceInput.val() && priceInput.val().length? (priceInput.val()).split(',') : [];
                          arr.push(bigPrice);
                          priceInput.val((arr));
                          
                          $('#totalAmount_'+id).val(parseInt($('#totalAmount_'+id).val()) + parseInt(amountVal));
                          $(input).val('');//.removeAttr('price');                         
                        } else {
                            alert('Please enter valid data for the product to be added.');
                            input.addClass('errorField');
                            //$('#prodServiceInput,#price,#currency').addClass('errorField');
                        }
                    });
                  </script>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Send request</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> <% } }%>
    </div>
  </div>
</body>

</html>