<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyer Dashboard - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
 <!--  <script src="/jquery.min.js"></script> -->
  <script  src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
  crossorigin="anonymous"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/index.min.js"></script>
  <!-- <script src="/money.min.js"></script> -->
  <script src="/money.js"></script>
  <script src="/jquery.simulate.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/grid.locale-en.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      let token = $("input[name='_csrf']").val();
      getAutocomplete('#search', '/capabilityInputAutocomplete', token, true);
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>'); 
      let defaultBidCurrency = '<%= BID_DEFAULT_CURR %>';      
      initBaseRates(fx, 'select.buyerCurrency', '/currencyAutocomplete', token, defaultBidCurrency);//Preferred currency for Buyer.
      
      $('.viewBids').on('click', function(e) {
        e.preventDefault();
        window.location.href = `../buyer/viewBids/${$(this).attr('supplierId')}/${$(this).attr('buyerId')}/${$(this).attr('buyerCurrency')}/${$(this).attr('buyerBalance')}`;
      });

      $('#loadCatalog').on('click', function() {
        if($('div.suppliersLive').length)
          return false;        
        
        Swal.fire({
          icon: 'info',
          title: 'Information',
          timer: 1000,
          text: 'The Catalog of Products is going to be prepared for you...'
        });
        
        setTimeout(function() {          
          window.location.href = $('#loadCatalog').parent('div').find('.a').attr('href');
        }, 1200);
      });
  });
  </script>
</head>

<body>
  <nav pos="1" user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/buyer">Buyer Dashboard - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container mt-4">
    <input type="hidden" id="uploadSize" value="<%= FILE_UPLOAD_MAX_SIZE %>">
    <br><br>
    <div class="card">
      <h5 class="card-header">Welcome!</h5>
      <div class="card-body">
        <h5 class="card-title">Hello, <%= buyer.organizationName %>!
          <% if(buyer.avatar != null && buyer.avatar.length > 0) { %>
           <img src="<%= buyer.avatar %>" style="height: 20px; width: 20px" onclick="window.open(this.src)">
          <% } %>
        </h5>
        <p class="card-text">You can open and send Bid (Tender) Requests to your preferred Suppliers.</p>
      </div>
    </div>
    
    <% if(bidsLength != null) { %>
      <div class="mt-4">
        <p class='term'>
          You have made a total of <%= bidsLength %> bids, their overall price (expressed in your currency) is <%= parseFloat(totalBidsPrice).toFixed(2) %> <%= BID_DEFAULT_CURR %>.
        </p>
        <a href="../buyer/bidsCatalog/<%= buyer._id %>/<%= buyer.organizationName %>"><b>Load full table of Bids</b></a>
      </div>
    <% } else { %>
      <p>
        You have placed no bids for this Supplier so far.
      </p>
    <% } %>
    
    <% if (statuses == null) { %>
    <form class="my-2 my-lg-2" method="POST">
      <div class='mt-4'>        
        <input class="form-control search mr-sm-2" type="search" id="search" placeholder="Search Capabilites" aria-label="Search" name="capabilityInput">
        <p class='littleNote'>Suppliers with the requested capabilities will be searched for.</p>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <select class='autocomp'>
          <option id="" value=""></option>
          <% for(capability of capabilities) { %>
          <option id="<%= capability.id %>" value="<%= capability.capabilityDescription %>"><%= capability.capabilityDescription %></option>
          <% } %>
        </select>
      </div>
    </form>
    
    <div class="mt-4">
      <button class="form-control btn btn-warning" style="margin-bottom: 20px" MAX="<%= MAX_PROD %>" id="loadCatalog" buyer="<%= buyer._id %>" avatar="<%= buyer.avatar %>">
        Load Products Catalog
      </button>
      <a class='a' href="../buyer/productsCatalog"></a>      
    </div>
    <% } %>

    <div class="bodyBuilder">
      <% let i = 0; if (suppliers != null) { for (supplier of suppliers) { i++; %>
      <div class="card mt-4 suppliersLive">
        <h5 class="card-header bg-dark text-white"><%= supplier.companyName %></h5>
        <form method='POST'>
          <div class="card-body">
            <h5 class="card-title">Contact Name: <%= supplier.contactName %></h5>
            <p class="card-text">Capability Description: <%= supplier.capabilityDescription %></p>
            <input type="hidden" name="buyerId" value="<%= buyer._id %>" />
            <input type="hidden" name="supplierId" value="<%= supplier._id %>" />
            <input type='hidden' id='bidSupplierList_<%= i %>' name='bidSupplierList' value="<%= supplier._id %>">
            <input type="hidden" name="outsideCatalog" value="0" />
            <input type="hidden" name="allowMultiple" value="false" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn btn-primary ml-2 openBid" initialId="<%= supplier._id %>" id="openBid_<%= i %>" style="float: right">Request a Bid</button>
            <button class="btn btn-dark" style="float: right" data-target="#comp_<%= i %>" data-toggle="modal">Supplier Details</button>
            <button class="btn btn-dark viewBids" supplierId="<%= supplier._id %>" buyerId="<%= buyer._id %>" buyerCurrency="<%= buyer.currency %>" buyerBalance="<%= buyer.balance %>" style="margin-right: 10px; float: right">View Bids</button>
          </div>
          <div class="modal-body totals">
             <p class='excel'>
              You can select multiple suppliers for your bid. Please refer to the drop-down below.
            </p>
            <div class="form-group">
              <label class="col-form-label">Other Suppliers</label>
              <select id="otherSuppliers_<%= i %>" class="form-control otherSuppliers" toExclude="<%= supplier._id %>" name="otherSuppliers">
                <option></option>
              </select>
              <script type="text/javascript">
                <% for(let x of allSuppliers) { if(x._id != supplier._id) { %>
                $('#otherSuppliers_<%= i %>').append(`<option id='<%= x._id %>' value='<%= x.companyName %>'><%= x.companyName %></option>`);
                <% } } %>
              </script>
            </div>
            <div class='additionalSuppliers'>
            </div>
          </div>          
          </form>
      
        <!-- Modal view of Supplier Details (read-only mode) -->
        <div class="modal fade" id="comp_<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= supplier.companyName %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>                  
                  <div class="form-group">
                    <label>E-mail address</label>
                    <input type="email" class="form-control" readonly value="<%= supplier.emailAddress %>"> </div>
                  <div class="form-group">
                    <label>Director's name</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.directorsName %>">
                  </div>
                  <div class="form-group">
                    <label>Contact Name</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.contactName %>">
                  </div>
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.title %>">
                  </div>
                  <div class="form-group">
                    <label>Company's Registration Number</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.companyRegistrationNo %>">
                  </div>
                  <div class="form-group">
                    <label>Registered Country</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.registeredCountry %>"
                      required>
                  </div>
                  <div class="form-group">
                    <label>Company Address</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.companyAddress %>" required>
                  </div>
                  <div class="form-group">
                    <label>Area Covered</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.areaCovered %>">
                  </div>
                  <div class="form-group">
                    <label>Contact Mobile Number</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.contactMobileNumber %>">
                  </div>
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.country %>" required>
                  </div>
                  <div class="form-group">
                    <label>Industry</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.industry %>" required>
                  </div>
                  <div class="form-group">
                    <label>Employee Number</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.employeeNumbers %>" required>
                  </div>
                  <div class="form-group">
                    <label>Last Year Turnover</label>
                    <input type="money" class="form-control" readonly value="<%= supplier.lastYearTurnover %>" required>
                  </div>
                  <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.website %>">
                  </div>
                  <div class="form-group">
                    <label>Facebook URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.facebookURL %>">
                  </div>
                  <div class="form-group">
                    <label>Instagram URL</label>
                    <input type="text" class="form-control" readonly readonly value="<%= supplier.instagramURL %>">
                  </div>
                  <div class="form-group">
                    <label>Twitter URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.twitterURL %>">
                  </div>
                  <div class="form-group">
                    <label>LinkedIn URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.linkedinURL %>">
                  </div>
                  <div class="form-group">
                    <label>Other Social Media URL</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.otherSocialMediaURL %>">
                  </div>
                  <div class="form-group">
                    <label>Products / Services Offered:</label>
                    <% if(supplier.productsServicesOffered != null && supplier.productsServicesOffered.length > 0) { %>
                      <br>
                      <% let g = 0, h = supplier.productsServicesOffered.length; for(g in supplier.productsServicesOffered) { %>
                      <span style='color: navy; font-weight: bold'><%= supplier.productsServicesOffered[g] %><% if(g < h-1) { %>, <% } %></span>
                      <% } %>
                    <% } else { %>
                    <br>
                    <span class='form-control'>None</span>
                    <% } %>
                  </div>
                  <div class="form-group">
                    <label>Capability Description</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.capabilityDescription %>" >
                  </div>
                  <div class="form-group">
                    <label>Relevant Experience</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.relevantExperience %>" required>
                  </div>
                  <div class="form-group">
                    <label>Supporting Information</label>
                    <input type="text" class="form-control" readonly value="<%= supplier.supportingInformation %>">
                  </div>

                  <!-- Uploading files field section-->
                  <div class="form-group">
                    <label>Certificates</label>          
                    <input readonly class="form-control" type="text" id="certificates" name="certificates" value="<%= supplier.certificates %>">
                  </div>

                  <div class="form-group">
                    <label>Antibribery policy</label>
                    <input readonly class="form-control" type="text" id="antibriberyPolicy" name="antibriberyPolicy" value="<%= supplier.antibriberyPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Environment policy</label>
                    <input readonly class="form-control" type="text" id="environmentPolicy" name="environmentPolicy" value="<%= supplier.environmentPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Quality management policy</label>
                    <input readonly class="form-control" type="text" id="qualityManagementPolicy" name="qualityManagementPolicy" value="<%= supplier.qualityManagementPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Occupational Safety and Health</label>
                    <input readonly class="form-control" type="text" id="occupationalSafetyAndHealthPolicy" name="occupationalSafetyAndHealthPolicy" value="<%= supplier.occupationalSafetyAndHealthPolicy %>"/>
                  </div>

                  <div class="form-group">
                    <label>Other relevant files</label>
                    <input readonly class="form-control" type="text" id="otherRelevantFiles" name="otherRelevantFiles" value="<%= supplier.otherRelevantFiles %>">
                  </div>
                  <!--Mandatory check of agreements -->
                  <div class="form-group">
                    <div class="form-check">
                      <input disabled name='terms' class="form-check-input" type="checkbox"
                        <%= supplier.UNITETermsAndConditions ? "checked" : "" %>>
                      <label class="form-check-label" for="terms">
                        UNITE Terms And Conditions
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input disabled class="form-check-input" type="checkbox" name='antibrib' <%= supplier.antibriberyAgreement ? "checked" : "" %>>
                      <label class="form-check-label" for="antibrib">
                        Antibribery Agreement
                      </label>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } } %>
    </div>
  </div>
</body>

</html>