<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyer - Bid on selected Product - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
 <!--  <script src="/jquery.min.js"></script> -->
  <script src="/jquery.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/jquery.simulate.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/grid.locale-en.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
        var token = $("input[name='_csrf']").val();
        errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
        var defaultBidCurrency = '<%= BID_DEFAULT_CURR %>';
        getCurrenciesList('select.buyerCurrency', '/currencyAutocomplete', token, defaultBidCurrency); 
    });
  </script>
  </head>
  
  <body>
    <nav pos="" user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/buyer">Buyer - Bid on Product - UNITE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container">
      <br><br>
      <div class="card">
        <h5 class="card-header">Welcome!</h5>
        <div class="card-body">
          <h5 class="card-title">Please make your Bid Request</h5>
          <p class="card-text" style="background-color: navy; color: beige">You can place a bid request on one or more products, belonging to one or more suppliers.<br>If you choose more suppliers, separate Bid Request objects will be created upon submit, with each one of them being sent to the corresponding supplier.<br>If you choose the same product name from several suppliers, and bids are accepted, you will have to pay each supplier. Please handle these choices carefully.</p>
        </div>
      </div>
      
      <div class="smooth-shadow profile-form">
        <form id="bidForm" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label class="text-muted form-text">
                Please fill in all the required (*) fields.
              </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">Request Name*</label>
              <input type="text" class="form-control" id="requestName" name="requestName" required>
            </div>
            <%  if(isSingleBid == true) { %>
            <div class="form-group">
              <label class="col-form-label">Supplier Company</label>
              <input type="text" class="form-control" id="supplierName" name="supplierName" value="<%= supplier.companyName %>" disabled>
            </div>
            <div class="form-group">
              <label class="col-form-label">Supplier's E-mail Address*</label>
              <input type="email" class="form-control" name="supplierEmail" value="<%= supplier.emailAddress %>" disabled>
            </div>
            <input type="hidden" name="supplierId" value="<%= supplier._id %>">
            <% } else if(suppliers.length > 1) { %>
            <p class='term'>
              This Bid Request is directed to multiple suppliers.<br>For this, when submitting the bid, separate bids will be created for each Supplier and the corresponding products, with the prices accordingly converted to the matching currencies.
            </p>
            <p class='term'>
              The Suppliers are:
            </p>
            <% let j = 0; for(supplier of suppliers) { j++; %>
            <div class="form-group">
              <label class="col-form-label">Supplier data</label>
              <strong><%= j %>: </strong>
              <input type="text" style="text-color: navy; font-weight: bold" class="form-control" value="Name: <%= supplier.companyName %>, e-mail: <%= supplier.emailAddress %>" disabled>
            </div>
            <% } } %>
            
            <div class="form-group">
              <label class="col-form-label">Buyer Organization</label>
              <input type="text" class="form-control" name="buyerName" value="<%= buyer.organizationName %>" readonly>
            </div>
            <div class="form-group">
              <label class="col-form-label">Buyer's E-mail Address*</label>
              <input type="email" class="form-control" name="buyerEmail" value="<%= buyer.emailAddress %>" readonly>
            </div>
            <div class="form-group">
              <label class="col-form-label">Item Description <b>(Short)</b>*</label>
              <input type="text" class="form-control" name="itemDescription" required>
            </div>
            <div class="form-group">
              <label class="col-form-label">Item Description (Long)*</label>
              <textarea class="form-control" name="itemDescriptionLong" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Item Description URL (Long)</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">http(s)://</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon3" name="itemDescriptionUrl">
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Delivery Location*</label>
              <textarea class="form-control" name="deliveryLocation" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Delivery Requirements*</label>
              <textarea class="form-control" name="deliveryRequirements" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Compliance Requirements*</label>
              <textarea class="form-control" name="complianceRequirements" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Compliance Requirements URL</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">http(s)://</span>
                </div>
                <input type="text" class="form-control" name="complianceRequirementsUrl" aria-describedby="basic-addon3">
              </div>
            </div>
             <div class="form-group">
              <label class="col-form-label">Other Requirements</label>
              <textarea class="form-control" name="otherRequirements"></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Your currency*:</label>
              <select id="selectCurrencies" class="form-control buyerCurrency<% if(isSingleProd == false) { %> multiplex<% } %>" <% if(isSingleProd == true) { %> supplierCurrency="<%= product.currency %>" <% } else { %> supplierCurrency="<%= products[0].currency %>" <% } %> index="-1"></select>
            </div>
            <p>
              You can either select products from drop-down or search for them via Autocomplete (please enter at least 3 characters).
            </p>
            <div class="form-group">
              <label class="col-form-label">Available products:</label>
              <select index="-1" class="form-control productsList<% if(isSingleProd == false) { %> multiplex<% } %>" name="productsList" id="productsList">
              <% if(isSingleProd == false) { %>
                <option title="Please select the product"></option>
                <% for(product of products) { %>
                <option style="word-wrap: break-word; width: 250px" productId="<%= product._id %>" supplierId="<%= product.supplier %>" totalPrice="<%= product.totalPrice %>" price="<%= product.price %>" maxAmount="<%= product.amount %>" productImage="<%= product.productImage %>" currency="<%= product.currency %>" title="<%= product.productName %>" value="<%= product.productName %>"><%= product.productName %></option>
              <% } } else if(isSingleProd == true) { %>
                <option title="Please select the product"></option>
                <option style="word-wrap: break-word; width: 250px" productId="<%= product._id %>" supplierId="<%= product.supplier %>" totalPrice="<%= product.totalPrice %>" price="<%= product.price %>" maxAmount="<%= product.amount %>" productImage="<%= product.productImage %>" currency="<%= product.currency %>" title="<%= product.productName %>" value="<%= product.productName %>"><%= product.productName %></option>
                <% } %>
              </select>
            </div>
            <div>
              <p class='term'>
                You can use an Excel file with your desired products list, formatted as product name + product price + product currency + amount i.e. Number of items (4 cells per row), and after you click Process, our system will automatically add the products on page.<br>If the currency you use in Excel is different from the one from the Buyer page, conversion will be automatically applied. Also, the first row of your document must contain the column names.
              </p>
            </div>
            <div class="form-group">
              <label>Please choose your prepared product/service list (*.xls/xlsx, name+price+currency+amount on each row):</label>
              <input type="hidden" class="fileId" name="excel" value="">
              <input class="form-control upload fileexcelupload fromBuyer" type="file" id="products" name="excel" single>
              <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Process Excel File" />
            </div>
            <div class="form-group">
              <label class="col-form-label">Products / Services Requested*</label>
              <div class="input-group">
                <input type="text" disabled defaultMaxAmount="<%= MAX_AMOUNT %>" class="form-control prodInput" <% if(isSingleProd == true) { %> "maxAmount="<%= product.amount %>" "supplierId="<%= supplier._id %>"<% } else { %> <% } %> placeholder="Add Product/Service*" id="prodServiceInput">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary prodButton" type="button" disabled MAX="<%= MAX_PROD %>" id="addProdService">Add</button>
                </div>
              </div>
            <div class="form-group">
              <label class="col-form-label">Amount*</label>
              <input type="number" min="1" step="1" class="form-control" id="amount" name="theAmount" value="0">
            </div>
            <div class="form-group">
              <label>Upload a product image:</label>
              <input type="hidden" class="fileId" name="productImage" value="">
              <input class="form-control upload productimageupload" type="file" id="productImage" name="products" single>
              <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload Product Image" />                    
            </div>
              <ul class="list-group" MAX="<%= MAX_PROD %>" buyerCurrency="<%= buyer.currency %>" id="prodServices">
              </ul>
              <p class='term'>
                You have a number of <span class='productsCount'>0</span> products.
              </p>
              <input type="hidden" required id="hiddenProdServicesList" name="productList" value="">
              <input type="hidden" required id="amountList" name="amountList" value="">
              <input type="hidden" required id="priceList" name="priceList" value="">
              <input type="hidden" required id="priceOriginalList" name="priceOriginalList" value="">
              <input type="hidden" required id="productImagesList" name="productImagesList" value="">
              <% if(isMultiBid == true) { %>
              <!-- <input type="hidden" id="productIdsList" name="productIdsList"> -->
              <input type="hidden" id="supplierIdsList" name="supplierIdsList">
              <input type="hidden" id="supplierTotalPricesList" name="supplierTotalPricesList">
              <% } %>
            </div>
            <div id="jqDiv" class="form-group">
              <table id="grid" MAX="<%= MAX_PROD %>" buyerCurrency="<%= buyer.currency %>">
              </table>
              <div id='prodPager'>
              </div>
            </div>
            <div class="form-group">
              <label>Total number of items (Overall Amount):</label>
              <input class="form-control" type="number" readonly id="totalAmount" name="amount" value="0">
            </div>
            <div class="form-group">
              <label class="col-form-label">Your price for selected product <span class='productName'></span>:</label>
              <span class="form-control hid">
                <span id="buyerPriceUnit">0</span>
                <span index="-1" class="bidCurrency" id="buyerCurrencyUnit"></span>
              </span>
            </div>            
            <div class="form-group">
              <label class=" col-form-label">Your Overall price:</label>
              <span class="form-control hid">
                <span index="-1" class="bidPrice" id="sprice">0</span>
                <span index="-1" class="bidCurrency" id="scurrency"></span>
                <input type="hidden" index="-1" class="bidPrice" id="price" name="buyerPrice" value="0">
                <input type="hidden" index="-1" class="bidCurrency" id="currency" name="buyerCurrency">
              </span>
            </div>
           <% if(isSingleBid == true) { %>
            <div class="form-group">
              <label class="col-form-label">Supplier's price for selected product <span class='productName'></span>:</label>
              <span class="form-control hid">
                <span id="supplierPriceUnit">0</span>
                <span index="0" class="suppCurrency" id="supplierCurrencyUnit"><%= supplier.currency %></span>
              </span>
            </div>
            <% } else { %>
            <div class="form-group">
              <p>
                This Bid is intended to be sent to multiple suppliers. The equivalent Supplier prices will be decided separately for each one of them.
                </p>
                <% let i = 0; for(supplier of suppliers) { i++; %>
              <div>
                <label class="col-form-label">Supplier <%= i %> (<strong><%= supplier.companyName %></strong>) unit price for selected product <span class='productName'></span>:</label>
                  <span class='multiSupp unitPrice' suppId='<%= supplier._id %>' id="supplierPriceUnit_<%= i %>">0</span>
                  <span index="<%= i %>" class="suppCurrency" id="supplierCurrencyUnit_<%= i %>"><%= supplier.currency %></span>
              </div>
                <% } %>
            </div>
            <% } %>
             <% if(isSingleBid == true) { %>
            <div class="form-group">
              <label class="col-form-label">Supplier's equivalent total price:</label>
              <span class="form-control hid">
                <span id="supplierPrice" name="supplierPrice">0</span>
                <span index="0" class="suppCurrency" id="supplierCurrency" name="supplierCurrency"><%= supplier.currency %></span>
              </span>
            </div>
            <% } else { %>
              <p>
                As your Bid is intended to address multiple suppliers, each one of them will have the prices of the corresponding / proposed Products converted from your currency to theirs corresponding one.<br>As you add amounts for products, each one of the Suppliers will have here their updated, corresponding price in their currency.
              </p>
              <% let i = 0; for(supplier of suppliers) { i++; %>
              <div class="form-group">
                <label class="col-form-label">Supplier <%= i %> (<span class='supplierNameListed'><strong><%= supplier.companyName %></strong></span>) total price for selected product <span class='productName'></span>:</label>
                <span class='multiSupp totalPrice' suppId='<%= supplier._id %>' id="supplierPrice_<%= i %>">0</span>
                <span index="<%= i %>" class="suppCurrency" id="supplierCurrency_<%= i %>"><%= supplier.currency %></span>
              </div>
              <% } %>
            
            <% } %>
             <div class="form-group">
              <label class="col-form-label">Status*</label>
              <input type="number" id="status" class="form-control" name="status" min="0" max="4" step="1" value="<%= statuses[0].value %>" readonly>
            </div>
            <div class="form-group">
              <select class='statuses' style="width: 100%" id="statuses">
                <% if (statuses != null) { for (status of statuses) { %>
                <option disabled title="<%= status.name %>" value="<%= status.value %>"><%= status.name %></option>
                <% } } %>
              </select>
              <div style="visibility: hidden" id="statusJsonValues">
                <% if (statusesJson != null) { %>
                  <span class='statuses'><%= statusesJson %></span>
                <% } %>
              </div>
            </div>
            <div class="form-group">
              <label>Bid extension letter</label>
              <input type="hidden" class="fileId" name="validityExtensionId">
              <input class="form-control upload" type="file" id="validityExtension" name="validityExtension"/>
              <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload File" />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="buyer" value="<%= buyer._id %>">
            <% if(isSingleBid == true) { %>
            <input type="hidden" name="supplier" value="<%= supplier._id %>">
            <% } else { %>
            <input type="hidden" id="supplierNamesList" name="supplierNamesList">
            <input type="hidden" id="supplierEmailsList" name="supplierEmailsList">
            <input type="hidden" id="supplierCurrenciesList" name="supplierCurrenciesList">
            <input type="hidden" id="supplierCurrenciesListProd" name="supplierCurrenciesListProd">
            <% } %>
            <script type="text/javascript">
              function limitStatus(e) {
                  var ASCIICode = (e.which) ? e.which : e.keyCode;
                  if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 54)) 
                      return false;
                  return true; 
              }

              var index = '';
             
              <% if(isSingleBid == false) { %>
              var arr1 = [], arr2 = [], arr3 = [];
              <% for(supplier of suppliers) { %>                
                arr1.push('<%= supplier.companyName %>');
                arr2.push('<%= supplier.emailAddress %>');
                arr3.push('<%= supplier.currency %>');
              <% } %>
                $('#supplierNamesList').val(arr1);
                $('#supplierEmailsList').val(arr2);
                $('#supplierCurrenciesList').val(arr3);
              <% } %>

              var data = [];
              initGrid(productColModel, data, "#grid"+index, '#prodPager'+index, "name", 'Products List', 1000);
              
              <% if(isSingleBid == true) { %>
              setTimeout(function() {
                var table = $("#jqDiv"+index).find('table').eq(1);                
                table.attr('supplierCurrency', "<%= supplier.currency %>");                
              }, 1000);
              <% } %>

              $('#status'+index).on('keypress keyon keyup', function(e) {
                  return limitStatus(e);
              });

              var sel = $('#statuses'+index);
              var statusVector = [];
              sel.find('option').each(function(index, element) {
                statusVector.push($(element).text());
              });

              sel
                .find('option[value="' + $('#status'+index).val() + '"]')
                .prop('selected', true);

              sel.attr('title', sel.find('option:selected').text());
              var x = JSON.parse($('#statusJsonValues'+index+' span:first').text());
              
              <% if(isSingleProd == true) { %>
              $('select.productsList')
                .find('option[value="<%= product.productName %>"]')
                .prop('selected', true); 
              <% } %>

              $('#status'+index).change(function(e) {
                if($(this).val() < x.BUYER_REQUESTED_BID
                   || $(this).val() > x.PAYMENT_DELIVERY_DONE) {
                  return false;
                }

                var statusText = statusVector[parseInt($(this).val())];
                if($("#statusText").length)
                  $("#statusText").remove();

                $('<div style="color: blue" id="statusText"><p>' + statusText + '</p></div>')
                  .insertAfter($('#status').parent('div'));
              });

              var elem0 = $("#prodServices"+index);
              $('<a><span style="color: green; cursor: pointer" id="massRemove'+index+'">Remove All Products</span></a><br>').insertBefore(elem0);

              $('#massRemove'+index).on('click', function() {
                removeAllItems('');
              });
              
              bindAddBid($('button[id="addProdService"]'), null);
            </script>
          </div>
          <div class="form-group">
            <a href="/buyer"><button type="button" class="btn btn-warning" style="float: left">Cancel</button></a>
            <button index="-1" type="submit" class="placeBid btn btn-primary" style="float: right">Send request</button>
          </div>
        </form>
      </div>
    </div>
</body>  
</html>