<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyer - Bid on selected Product - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
 <!--  <script src="/jquery.min.js"></script> -->
  <script src="/jquery.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/jquery.simulate.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/grid.locale-en.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
        var token = $("input[name='_csrf']").val();
        errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
        getCurrenciesList('select.buyerCurrency', '/currencyGetAutocomplete', token);//Preferred currency for Buyer.
        getProductsList('.productsList', '/prodServiceAutocomplete', token);
        initBaseRates(fx, 'select.buyerCurrency');      
        var defaultBidCurrency = '<%= BID_DEFAULT_CURR %>';
      
        initBaseRates(fx, 'select.buyerCurrency')
        .then(() => {
          $('select.buyerCurrency')
            .find('option[value="' + defaultBidCurrency + '"]')
            .prop('selected', true);

          $('span.bidCurrency').each(function() {
            $(this).text(defaultBidCurrency);
            });

          $('select.buyerCurrency').trigger('change');
        });
    });
  </script>
  </head>
  
  <body>
    <nav pos="" user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/buyer">Buyer - Bid on Product - UNITE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container">
      <br><br>
      <div class="card">
        <h5 class="card-header">Welcome!</h5>
        <div class="card-body">
          <h5 class="card-title">Please make your Bid Request</h5>
          <p class="card-text" style="color: beige">You can place a bid request on one or more products, belonging to one or more suppliers.<br>If you choose more suppliers, separate Bid Request objects will be created upon submit, with each one of them being sent to the corresponding supplier.<br>If you choose the same product name from several suppliers, and bids are accepted, you will have to pay each supplier. Please handle these choices carefully.</p>
        </div>
      </div>
      
      <div class="smooth-shadow profile-form">
        <form method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label class="text-muted form-text">
                Please fill in all the required (*) fields.
              </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">Request Name*</label>
              <input type="text" class="form-control" id="requestName" name="requestName" required>
            </div>
            <% if(suppliers != null) { if(suppliers.length == 1) { %>
            <div class="form-group">
              <label class="col-form-label">Supplier Company</label>
              <input type="text" class="form-control" name="supplierName" value="<%= supplier[0].companyName %>" disabled>
            </div>
            <div class="form-group">
              <label class="col-form-label">Supplier's E-mail Address*</label>
              <input type="email" class="form-control" name="supplierEmail" value="<%= supplier[0].emailAddress %>" disabled>
            </div>
            <% } else if(suppliers.length > 1) { %>
            <p class='term'>
              This Bid Request is directed to multiple suppliers.<br>For this, when submitting the bid, separate bids will be created for each Supplier and the corresponding products, with the prices accordingly converted to the matching currencies.
            </p>
            <p class='term'>
              The Suppliers are:
            </p>
            <% let j = 0; for(supplier of suppliers) { j++; %>
            <div class="form-group">
              <label class="col-form-label">Supplier data:</label>
              <strong><%= j %> - </strong><input type="text" class="form-control" value="Name: <%= supplier.companyName %>, e-mail: <%= supplier.emailAddress %>" disabled>
            </div>
            <% } %>
            <% } } %>
            <div class="form-group">
              <label class="col-form-label">Buyer Organization</label>
              <input type="text" class="form-control" name="buyerName" value="<%= buyer.organizationName %>" disabled>
            </div>
            <div class="form-group">
              <label class="col-form-label">Buyer's E-mail Address*</label>
              <input type="email" class="form-control" name="buyerEmail" value="<%= buyer.emailAddress %>" disabled>
            </div>
            <div class="form-group">
              <label class="col-form-label">Item Description <b>(Short)</b>*</label>
              <input type="text" class="form-control" name="itemDescription" required>
            </div>
            <div class="form-group">
              <label class="col-form-label">Item Description (Long)*</label>
              <textarea class="form-control" name="itemDescriptionLong" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Item Description URL (Long)</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">http(s)://</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon3" name="itemDescriptionUrl">
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Delivery Location*</label>
              <textarea class="form-control" name="deliveryLocation" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Delivery Requirements*</label>
              <textarea class="form-control" name="deliveryRequirements" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Compliance Requirements*</label>
              <textarea class="form-control" name="complianceRequirements" required></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Compliance Requirements URL</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">http(s)://</span>
                </div>
                <input type="text" class="form-control" name="complianceRequirementsUrl" aria-describedby="basic-addon3">
              </div>
            </div>
             <div class="form-group">
              <label class="col-form-label">Other Requirements</label>
              <textarea class="form-control" name="otherRequirements"></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Your currency*:</label>
              <select class="form-control buyerCurrency" index="-1" ></select>
            </div>
            <p>
              You can either select products from drop-down or search for them via Autocomplete (please enter at least 3 characters).
            </p>
            <div class="form-group">
              <label class="col-form-label">Available products:</label>
              <select index="-1" supplierId="" class="form-control productsList" name="productsList">
              <% if(products != null) { %>
                <option></option>
                <% for(product of products) { %>
                <option style="word-wrap: break-word; width: 250px" totalPrice="<%= product.totalPrice %>" price="<%= product.price %>" maxAmount="<%= product.amount %>" productImage="<%= product.productImage %>" currency="<%= product.currency %>" title="<%= product.productName %>" value="<%= product.productName %>"><%= product.productName %></option>
              <% } } %>
              </select>
            </div>
            <div>
              <p class='term'>
                You can use an Excel file with your desired products list, formatted as product name + product price + product currency + amount i.e. Number of items (4 cells per row), and after you click Process, our system will automatically add the products on page.<br>If the currency you use in Excel is different from the one from the Buyer page, conversion will be automatically applied. Also, the first row of your document must contain the column names.
              </p>
            </div>
            <div class="form-group">
              <label>Please choose your prepared product/service list (*.xls/xlsx, name+price+currency+amount on each row):</label>
              <input type="hidden" class="fileId" name="excel" value="">
              <input class="form-control upload fileexcelupload fromBuyer" type="file" id="products" name="excel" single>
              <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Process Excel File" />
            </div>
            <div class="form-group">
              <label class="col-form-label">Products / Services Requested*</label>
              <span class='littleNote form-control'>
                You can also request products that are not in the list of the supplier(s). They will then negotiate with you.
              </span>
              <div class="input-group">
                <input type="text" required class="form-control prodInput" supplierId="" placeholder="Add Product/Service*" id="prodServiceInput">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary prodButton" type="button" disabled MAX="<%= MAX_PROD %>" id="addProdService">Add</button>
                </div>
              </div>
            <div class="form-group">
              <label class="col-form-label">Amount*</label>
              <input type="number" min="1" step="1" class="form-control" id="amount" name="theAmount" value="0" required>
            </div>
            <div class="form-group">
              <label>Upload a product image:</label>
              <input type="hidden" class="fileId" name="productImage" value="">
              <input class="form-control upload productimageupload" type="file" id="productImage" name="products" single>
              <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload Product Image" />                    
            </div>
              <ul class="list-group" MAX="<%= MAX_PROD %>" id="prodServices">
              </ul>
              <p class='term'>
                You have a number of <span class='productsCount'>0</span> products.
              </p>
              <input type="hidden" required id="hiddenProdServicesList" name="productList" value="">
              <input type="hidden" required id="amountList" name="amountList" value="">
              <input type="hidden" required id="priceList" name="priceList" value="">
              <input type="hidden" required id="priceOriginalList" name="priceOriginalList" value="">
              <input type="hidden" required id="productImagesList>" name="productImagesList" value="">
            </div>
            <div id="jqDiv" class="form-group">
              <table id="grid">
              </table>
              <div id='prodPager'>
              </div>
            </div>
            <div class="form-group">
              <label>Total number of items (Overall Amount):</label>
              <input class="form-control" type="number" disabled id="totalAmount" name="amount" value="0">
            </div>
            <div class="form-group">
              <label class=" col-form-label">Your total price:</label>
              <span class="form-control hid">
                <span index="-1" class="bidPrice" id="price" name="buyerPrice">0</span>
                <span index="-1" class="bidCurrency" id="currency" name="buyerCurrency"></span>
              </span>
            </div>
            <div class="form-group">
              <label class="col-form-label">Your price for selected product:</label>
              <span class="form-control hid">
                <span id="buyerPriceUnit">0</span>
                <span index="-1" class="bidCurrency" id="buyerCurrencyUnit"></span>
              </span>
            </div>
             <div class="form-group">
              <label class="col-form-label">Status*</label>
              <input type="number" id="status" class="form-control" name="status" min="0" max="4" step="1" value="<%= statuses[0].value %>" readonly>
            </div>
            <div class="form-group">
              <select class='statuses' style="width: 100%" id="statuses">
                <% if (statuses != null) { for (status of statuses) { %>
                <option disabled title="<%= status.name %>" value="<%= status.value %>"><%= status.name %></option>
                <% } } %>
              </select>
              <div style="visibility: hidden" id="statusJsonValues">
                <% if (statusesJson != null) { %>
                  <span class='statuses'><%= statusesJson %></span>
                <% } %>
              </div>
            </div>
            <div class="form-group">
              <label>Bid extension letter</label>
              <input type="hidden" class="fileId" name="validityExtensionId">
              <input class="form-control upload" type="file" id="validityExtension" name="validityExtension"/>
              <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload File" />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="buyer" value="<%= buyer._id %>">
            <script type="text/javascript">
              function limitStatus(e) {
                  var ASCIICode = (e.which) ? e.which : e.keyCode;
                  if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 54)) 
                      return false;
                  return true; 
              }

              var index = '';

              var data = [];
              var colModel = [
                { name: 'name', label: 'Product name', formatter: productFormatter, search: true, width: 140},
                { name: 'price', label: 'Product price', align: 'center', formatter: priceFormatter, search: true, width: 140},
                { name: 'hiddenPrice', hidden: true },
                { name: 'hiddenAmount', hidden: true },
                { name: 'hiddenTotalPrice', hidden: true },
                { name: 'hiddenCurrency', hidden: true },
                { name: 'productImageSource', hidden: true},
                { name: 'amount', label: 'Amount', formatter: amountFormatter, align: 'center', search: true, template: 'number', width: 70},
                { name: 'totalPrice', label: 'Total price', align: 'center', formatter: totalPriceFormatter, search: true, width: 90},            
                { name: 'imageWrapper', label: 'Image Zone', align: 'center', width: 170, search: false, sortable: false, formatter: imageWrapperFormatter},
                { name: 'buttonsWrapper', label: 'Buttons Zone', align: 'center', width: 110, search: false, sortable: false, formatter: buttonsWrapperFormatter}
              ];

              initGrid(colModel, data, "#grid"+index, '#prodPager'+index, "name", 'Products List', 1000);
              setTimeout(function() {
                var table = $("#jqDiv"+index).find('table').eq(1);
                table.attr('suppCurrency', "<%= supplier.currency %>");
              }, 1000);

              $('#status'+index).on('keypress keyon keyup', function(e) {
                  return limitStatus(e);
              });

              var sel = $('#statuses'+index);
              var statusVector = [];
              sel.find('option').each(function(index, element) {
                statusVector.push($(element).text());
              });

              sel
                .find('option[value="' + $('#status'+index).val() + '"]')
                .prop('selected', true);

              sel.attr('title', sel.find('option:selected').text());
              var x = JSON.parse($('#statusJsonValues'+index+' span:first').text());

              $('#status'+index).change(function(e) {//Read-only select, though.
                if($(this).val() < x.BUYER_REQUESTED_BID
                   || $(this).val() > x.PAYMENT_DELIVERY_DONE) {//The last two options can be triggered by the corresponding Cancel Bid button. 5 for Supplier cancellation, 6 for Buyer cancellation.
                  return false;
                }

                var id = getId($(this).attr('id'));
                var statusText = statusVector[parseInt($(this).val())];
                if($("#statusText").length)
                  $("#statusText").remove();

                $('<div style="color: blue" id="statusText"><p>' + statusText + '</p></div>')
                  .insertAfter($('#status').parent('div'));
              });

              var elem0 = $("#prodServices"+index);
              $('<a><span style="color: green; cursor: pointer" id="massRemove'+index+'">Remove All Products</span></a><br>').insertBefore(elem0);

              $('#massRemove'+index).on('click', function() {
                removeAllItems('');
              });
              
              bindAddBid($('button[id="addProdService"]'), null);
            </script>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button index="" class='placeBid' type="submit" class="btn btn-primary">Send request</button>
          </div>
        </form>
      </div>
    </div>
</body>  
</html>