<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyer Dashboard - UNITE</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>    
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>  
  
  <script type="text/javascript">
      $(document).ready(function() {        
        var token = $("input[name='_csrf']").val();
        
        $("input").unbind('change').bind('change', function() {        
          $('#updateProfile').removeAttr('disabled');
        });
      
      $('#country')
      .autocomplete({
        source: function(req, res) {          
          $.ajax({
            url: "/countryAutocomplete/",
            headers: { "X-CSRF-Token": token },
            datatype: 'jsonp',//"application/json",
            type: "GET",
            data: req,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {          
              //res(data);              
              res($.map(data, function (el) {
                  return {
                     name: el.name
                    , id: el.id
                  };
                  }));         
              
            },
            error: function(err) {

            }
          });
        },
        minLength: 3,
        focus: function (event, ui) {
            this.value = ui.item.name;
            event.preventDefault();
         },
        select: function(event, ui) {
          if(ui.item) {
            $(this).val(ui.item.name);
            event.preventDefault();
          }
        }
      });    
  });
</script>
    
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/buyer">Buyer - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/buyer">Dashboard <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/buyer/balance">Balance: €<%= profile.balance %>&nbsp;</a>
        </li>
        <li class="nav-item active">
          <a class="btn btn-primary" href="/buyer/profile">Profile</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
          <a class="btn btn-danger" href="?exit=true">Exit</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <br><br>
    <div class="card">
      <h5 class="card-header">Welcome!</h5>
      <div class="card-body">
        <h5 class="card-title">Hello, <%= profile.organizationName %></h5>
        <p class="card-text">This is your profile page. To ensure that you continue to appear in buyers' search results,  please keep your capabilities up-to-date.</p>
      </div>
    </div>
    <br><br>
    <div class="smooth-shadow profile-form">
      <form method="POST">
        <input type="hidden" name="_id" value="<%= profile._id %>">
        <input type="hidden" name="balance" id="balance" value="<%= profile.balance %>">
        
        <div class="row m-2">
          <div class="form-group">
            <label class="text-muted form-text">
              Please fill in all the required (*) fields.
            </label>
          </div>
          <div class="form-group mr-2">
            <label>Organization name*</label>
            <input type="text" class="form-control" id="organizationName" name="organizationName" value="<%= profile.organizationName %>" required>
          </div>
          <div class="form-group mr-2">
            <label>Organization UNITE ID*</label>
            <input type="text" required class="form-control" id="organizationUniteID" name="organizationUniteID" value="<%= profile.organizationUniteID %>" >
          </div>
          <div class="form-group mr-2">
            <label>Contact name*</label>
            <input type="text" class="form-control" id="contactName" name="contactName" value="<%= profile.contactName %>" required>
          </div>
          <div class="form-group">
            <label>Email address*</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" value="<%= profile.emailAddress %>" required>
          </div>
          <div class="form-group">
          <label>Password</label> 
          <input required type="password" id="password" name="password" class="form-control" value="<%= profile.password %>">
            <a href="forgotPassword"><label>Forgot your password?</label></a>
          </div>
        </div>
        <input type="hidden" name="isVerified" id="isVerified" value="<%= profile.isVerified %>">
        <div class="row m-2">
          <div class="form-group mr-2">
            <label>Department / Agency / Group</label>
            <input type="text" class="form-control" id="departmentAgencyGroup" name="departmentAgencyGroup" value="<%= profile.deptAgencyGroup %>">
          </div>
          <div class="form-group mr-2">
            <label>Qualification / Experience</label>
            <input type="text" class="form-control" id="qualification" name="qualification" value="<%= profile.qualification %>">
          </div>
          <div class="form-group mr-2">
            <label>Address*</label>
            <input type="text" class="form-control" id="address" name="address" value="<%= profile.address %>" required>
          </div>
          <div class="form-group">
            <label>Country*</label>
            <input type="text" class="form-control" id="country" name="country" value="<%= profile.country %>" required>
          </div>
        </div>
        <br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" disabled id="updateProfile" value="Update Profile" class="btn btn-primary btn-block btn-lg">Update Profile</button>
      </form>
    </div>
  </div>
</body>

</html>