<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNITE - Buyer - Password Reset</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
                 
    setTimeout(function() {    
      <% if(keys != null) { %>
      let i = 0, indexes = [];

      $('a.nav-link').each(function(ind, elem) {      
        indexes.push($(elem).attr('index'));
      });

      <% for(let k in keys) { %>   
      if(isInArray(i, indexes)) {
        $('a.nav-link span').eq(i).text('<%= eval(keys[k]) %>');
      }
      i++;
      <% } } %>
    }, 500);
  });
  </script>
</head>

<body>
  <nav user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE - Buyer - Password Reset</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    
    <div class="container">
      <div class="col-md-12">
        <form action="/buyer/resetPassword/<%= token %>" method="POST">
          <legend>
            Reset Password
          </legend>
          <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[ -/:-@\[-`{-~]).{6,12}$" title="Please type at least one number, 1 uppercase + 1 lowercase letter, a special Char, and 6 to 12 characters." class="form-control" id="password" name="password" onkeyup="validatePassword(this.value);" autofocus="autofocus" placeholder="New Password">
            </input>
            <span id="msg"></span>
          </div>
          <div class="form-group">
            <label for="confirm">Confirm Password:</label>
            <input type="password" class="passRepeat" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[ -/:-@\[-`{-~]).{6,12}$" title="Please ensure that the passwords match." class="form-control" name="passwordRepeat" onkeyup="verifyMatch(this.value);" required>
          <span id="match"></span>
          </div>
          <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" class="btn btn-primary" value="Update Password"><input>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>