<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNITE - Buyer - View Bid(s)</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>  
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var token = $("input[name='_csrf']").first().val();
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');

      //setTimeout({
      $.ajax({
              url: "/bidStatuses",
              headers: { "X-CSRF-Token": token },
              datatype: 'jsonp',
              type: "GET",
              scroll: true,
              error: function() {},
              success: function(data) {                
                if(!data || !data.length)
                  return false;
                
                var x = JSON.parse($('[id^="statusJsonValues_"]').first().val());
                //alert(x.PAYMENT_DELIVERY_DONE + ' ' + $('select[id^="statuses_"]').length);
                if($('.delete').length) {
                  $('.delete').bind('click', function() {          
                    var bidId = $(this).attr('id');
                    var div1 = $(this).parent('div'), div2 = div1.prev('div');

                    if(confirm('Are you sure you want to remove this bid from your Buyer Dashboard forever?')) {
                      $.ajax({
                        url: '/deleteBid',
                        type: 'POST',
                        headers: { "X-CSRF-Token": token },
                        data: {bidId: bidId},
                        datatype: 'application/json',
                        error: function() {
                        Swal.fire({
                          icon: 'error',
                          title: 'Error!',
                          text: 'Error on AJAX Request!'
                        });
                        },
                        success: function(data) {
                          if(treatError(data, 'deleting the Bid Request')) {
                            return false;
                          }
                          
                          div2.remove();
                          div1.remove();
                          Swal.fire({
                            icon: 'success',
                            title: 'Done!',
                            text: 'You cancelled this order.'
                          });
                        }
                      });
                    }
                  });
                }
                
                setTimeout(function() {
                  $('select[id^="statuses_"]')
                    .each(function(index, el) {
                    for(var i in data) {
                      var opt = '<option ' + (i > x.PAYMENT_DELIVERY_DONE? 'disabled ' : '') + 'style="word-wrap: break-word; width: 100px" title="' + data[i].name +'" value="' + data[i].value + '">' + data[i].name + '</option>';
                      $(el).append(opt);
                      }

                    //setTimeout(function() {                    
                      var statusInput = $(el)
                        .parent('div')
                        .prev('div')
                        .find('input[id^="status_"]');                   
                      $(el)
                          .find('option[value="' + statusInput.val() + '"]')
                          .prop({'selected': true});

                      $(el).attr('title', $(this).find('option:selected').text());                  

                  });
              }, 250);
                
                $('select[id^="statuses_"]')
                  .on('change', function() {//Difficult DOM jQuery navigation in modals.                  
                  var theVal = $(this).find('option:selected').attr('value');
                  var index = getId($(this).attr('id'));
                  var statusDiv = $(this).parent('div').parent('div').next('div');

                  ($(this)
                    .parent('div')
                    .prev('div')
                    .find('input[id^="status"]'))
                    .val(theVal);
                  
                  if(theVal == x.SUPP_START_DELIVERY) {
                    var amount = $('#price_'+index).val();
                    
                    statusDiv.append('<button type="button" style="float: left; position: center" title="Pay ' + amount + '" class="btn btn-primary" id="purchase_'+index+'">Go to Purchase</button>');
                  } else {
                    statusDiv.find('button[id^="purchase"]').remove();
                    $('#cartList_'+index).find('li').css({"title": "Already ordered!", "border": "2px"});
                  }
                  
                  statusDiv
                      .find('button[id^="updateBidStatus_"]')
                      .prop('disabled', false);
                });
              }
      });
    //}, 40);
    });
  </script>
</head>

<body id="<%= supplierId %>" id2="<%= buyerId %>">
  <nav user="buyer" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">Buyer - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <input type="hidden" id="balance" value="<%= balance %>">
    <div class="container">
      <br><br>
      <div class="col-md-12">
        <% let i = 0; if (bids != null && bids.length > 0) { %>
        <div>
          <p>
            You currently have placed a number of <span class='bidLength'><%= bids.length %></span> valid bids. Their total price is <span class='totalPrice'><%= validPrice %></span> <span class='currency'><%= currency %>.</span>
          </p>
        </div>
        <% for (bid of bids) { i++; %>        
        <div>      
          <div class="card mt-4">
            <h5 class="card-header bg-dark text-white">From: <%= bid.buyerName %></h5>
            <div class="card-body">
              <h5 class="card-title">To: <%= bid.supplierName %></h5>
              <div>
                <span>Request: <%= bid.requestName %></span>
              </div>             
              <button class="btn btn-primary ml-2" style="float: right" data-target="#request_<%= i %>" data-toggle="modal">View Bid Details</button>
            </div>
          </div>
        </div>
   
        <!-- Modal window for the new, valid Bid Request -->
        <div class="modal fade" style="width: 100%; max-width: 90%; overflow: scroll" id="request_<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" style="max-width: 850px; overflow: scroll" role="document">
            <div class="modal-content" style="width: 100%; overflow: visible">
              <div class="modal-header">
                <h5 class="modal-title">View Bid Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST" id="mainForm_<%= i %>">
                <input type="hidden" name="id" value="<%= bid._id %>">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="text-muted form-text">
                      (*) are required fields.
                    </label>
                  </div>
                  <% if(bid.warningExpiration != null) { %>
                  <div>
                    <p class='warn'>
                      This Bid Request is about to expire. Its limit date is <%= bid.expiryDateFormatted %>.<% if(bid.cannotExtendMore != null) { %><br>Please upload a Bid Extension Letter in order to gain <%= bidExtensionDays %> more validity days.<% } else { %><br>You have already extended the initial bid validity, so the date above is final.<% } %>
                    </p>
                  </div>
                  <% } %>
                  <div class="form-group">
                    <label class="col-form-label">Request Name*</label>
                    <input readonly type="text" class="form-control" name="requestName" value="<%= bid.requestName %>">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Supplier Company*</label>
                    <input readonly type="text" class="form-control" name="supplierName" value="<%= bid.supplierName %>">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Buyer Organization*</label>
                    <input readonly type="text" class="form-control" name="buyerName" value="<%= bid.buyerName %>">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Buyer's E-mail Address*</label>
                    <input readonly type="text" class="form-control" name="buyerEmail" value="<%= bid.buyerEmail %>">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Buyer's E-mail Address*</label>
                    <input readonly type="text" class="form-control" name="supplierEmail" value="<%= bid.supplierEmail %>">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description (Short*)</label>
                    <input readonly type="text" class="form-control" name="itemDescription" value="<%= bid.itemDescription %>">
                    <input type="hidden" id="products_<%= i %>" value="<%= bid.productsServicesOffered %>">
                    <input type="hidden" id="prices_<%= i %>" value="<%= bid.priceList %>">
                    <input type="hidden" id="quantities_<%= i %>" value="<%= bid.amountList %>">
                  </div>
                  <div class="form-group">
                    <% const re = /:\s|,\s/;
                    const products = bid.productsServicesOffered;
                    const prices = bid.priceList;
                    const amounts = bid.amountList;
                    const images = bid.productImagesList;
                      %>
                    <Code></Code>
                    <label>Products / Services Offered</label>
                    <ul id="cartList_<%= i %>" class="list-group">
                      <% for (h in products) { %>
                      <li class="list-group-item"><span><%= amounts[h] %>*<%= products[h] %> - <%= prices[h] %> <%= bid.supplierCurrency %></span>
                        &nbsp;&nbsp;<span class="right"><% if(images[h].length > 0) { %><img src="../<%= path %><%= images[h].substring(7) %>" title="Product Image" style="height: 25px; width: 30px" onclick="window.open(this.src)"></img> <% } %></span></li>
                      <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description (Long)*</label>
                    <textarea disabled class="form-control" name="itemDescriptionLong"><%= bid.itemDescriptionLong %></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Item Description URL (Long)</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">http(s)://</span>
                      </div>
                      <input disabled type="text" class="form-control" aria-describedby="basic-addon3" value="<%= bid.itemDescriptionUrl %>" name="itemDescriptionUrl">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Amount*</label>
                    <input type="hidden" class="form-control" id="amount_<%= i %>" name="theAmount" value="0">
                    <% j = 0; for(h in bid.amountList) {j += bid.amountList[h];} %>
                    <input type="text" title="Total number of items" disabled id="totalAmount_<%= i %>" name="amount" value="<%= j %>">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Delivery Location*</label>
                    <textarea disabled class="form-control" name="deliveryLocation"><%= bid.deliveryLocation %></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Delivery Requirements*</label>
                    <textarea disabled class="form-control" name="deliveryRequirements"><%= bid.deliveryRequirements %></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Compliance Requirements*</label>
                    <textarea disabled class="form-control" name="complianceRequirements"><%= bid.complianceRequirements %></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Compliance Requirements URL</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">http(s)://</span>
                      </div>
                      <input disabled type="text" class="form-control" value="<%= bid.complianceRequirementsUrl %>" name="complianceRequirementsUrl" aria-describedby="basic-addon3">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-form-label">Other Requirements</label>
                    <textarea disabled class="form-control" name="otherRequirements"><%= bid.otherRequirements %></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Date Created:</label>
                    <textarea disabled class="form-control" name="createdAtFormatted"><%= bid.createdAtFormatted %></textarea>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Date of Expiration:</label>
                    <textarea disabled class="form-control" name="expiryDateFormatted"><%= bid.expiryDateFormatted %></textarea>
                  </div>
                   <div class="form-group">
                    <label class="col-form-label">Price (Your currency):</label>
                    <input type="text" title="Original order price" value="<%= bid.buyerPrice %> <%= bid.buyerCurrency %>" class="form-control" id="price_<%= i %>" name="buyerPrice" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Price (Supplier's currency):</label>
                     <% l = 0; for(m in bid.priceList) {l += bid.priceList[m];} %> <!-- Same as bid.supplierPrice .-->
                    <input type="text" title="Order price as seen by Supplier" value="<%= l %> <%= bid.supplierCurrency %>" class="form-control" id="supplierPrice_<%= i %>" name="supplierPrice" disabled>
                  </div>
              <% if(bid.isExtended == false) { %>
                  <div class="form-group">
                    <label>Extension letter</label>
                    <input type="hidden" class="fileId" name="validityExtensionId">
                    <input class="form-control upload" type="file" id="validityExtension" name="validityExtension"/>
                    <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload File" />
                  </div>
              <% } %>
                   <div class="form-group">
                    <label class="col-form-label">Status*</label>
                    <input type="hidden" id="status_<%= i %>" class="form-control" name="status" value="<%= bid.status %>">
                  </div>
                  <div class="form-group selectstatus">
                    <select style="width: 100%" id="statuses_<%= i %>">
                    </select>
                  </div>
                    <% if (statusesJson != null) {  %>
                      <input type="hidden" id="statusJsonValues_<%= i %>" value="<%= statusesJson %>">
                    <% }  %>                  
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="buyer" value="<%= bid.buyer %>">
                  <input type="hidden" name="supplier" value="<%= bid.supplier %>">
                </div>
                <div class="modal-body" style="position: center">
                  <div class="form-group">
                    <h3>Mentions for Supplier</h3>
                    <br>
                    <label>Type your mentions below:</label>
                    <textarea name="specialMentions" id="message_<%= i %>" class="form-control"><%= bid.specialMentions %></textarea>
                    <br>
                    <input type="hidden" name="from" value="<%= bid.buyer %>">
                    <input type="hidden" name="to" value="<%= bid.supplier %>">
                    <input type="hidden" name="reqId" value="<%= bid._id %>">
                    <input type="hidden" name="reqName" value="<%= bid.requestName %>">
                    <input type="hidden" name="sender" value="<%= bid.buyerName %>">
                    <input type="hidden" name="receiver" value="<%= bid.supplierName %>">
                    <input type="hidden" name="_csrf" id="csrf_<%= i %>" value="<%= csrfToken %>">
                    <button style="float: right" class="btn btn-primary" title="Update status/Send message" disabled type="submit" id="updateBidStatus_<%= i %>">Update Status & Send Message
                    </button>
                    <script type="text/javascript">
                      var index = "<%= i %>";
                      
                      $('#mainForm_'+index).submit(function(e) {
                        //e.preventDefault();
                        
                        if(!($(this).find('textarea[name="specialMentions"]').text()) 
                           && !confirm('Are you sure you want to update Bid Status without any mentions for the Supplier ' + $(this).find('input[name="supplierName"]').val() + '?')) {
                          return false;
                        }
                        //return true;
                      });                      
                      
                      $("#message_"+index).bind('change', function() {
                        $('#updateBidStatus_'+getId($(this).attr('id'))).prop('disabled', false);
                      });
                      
                      var x = JSON.parse($('[id^="statusJsonValues_"]').first().val());
                      var stripePublicKey = "<%= stripePublicKey %>";
                      var status = $('#status_'+index).val();
                      
                      if($('#status_'+index).val() == x.SUPP_STARTED_DELIVERY) {//Ready to pay -> STRIPE in action!
                        var amount = $('#price_'+index).val();//Not to be confused with the number of items!
                        var currency = $('#currency_'+index).val();
                        var balance = $('#balance').val();
                        if(amount > balance) {
                          //alert('Your current balance is not enough for completing this purchase. Please add some more funds to your account.');
                          Swal.fire({
                            icon: 'error',
                            confirmButtonColor: '#335577',
                            title: 'Error!',
                            text: 'Your current balance is not enough for completing this purchase. Please add some more funds to your account.'
                          });
                          return false;
                        }
                        
                        var newBalance = balance - amount;                        
                        var from = "<%= bid.supplierName %>",
                        to = "<%= bid.buyerName %>",
                        desc = "<%= bid.requestName %>",
                        emailAddress = "<%= bid.buyerEmail %>";
                        var that = index;
                        
                        $('#message_'+index)
                          .parent('div')
                          .append('<button type="button" style="float: left" title="Pay ' + amount + '" class="btn btn-primary" id="purchase_'+index+'">Purchase</button>');
						  
						              var stripeHandler = StripeCheckout.configure({
                            key: stripePublicKey,
                            locale: 'en',
                            token: function(token) {
                              fetch('/purchase', {
                                method: 'POST',
                                headers: {
                                  "X-CSRF-Token": $("#csrf_"+index).val(),
                                  'Content-Type': 'application/json',
                                  'Accept': 'application/json'
                                },
                                body: JSON.stringify({
                                  stripeTokenId: token.id,
                                  token: token,
                                  buyerId: "<%= buyerId %>",
                                  newBalance: newBalance,
                                  emailAddress: emailAddress,//Buyer's e-mail.
                                  description: "Order - " + desc,
                                  amount: parseInt(amount),
                                  currency: currency
                                })
                              })
                                .then(function(res) {
                                return res.json();
                              })
                                .then((data) => {
                                  $('#purchase_'+that).remove();
                                  $('#status_'+that).val(x.PAYMENT_DELIVERY_DONE);
                                  $('#statuses_'+that).find('option:eq('+x.PAYMENT_DELIVERY_DONE+')').prop('selected', true);
                                  $('#cartList_'+that).find('li').css({"title": "Already ordered!", "border": "2px"});
                                });
                              }
                            });
                        
                        $('#purchase_'+index).on('click', function() {
                          if(confirm('IMPORTANT NOTICE: Unite currently uses the Stripe Payment Gateway in TEST MODE.\nNo real charges are done on you. You must use a fictitious card number like 4242 4242 4242 4242, and also to invent the CCV and the expiry date.\nDo you want to proceed?')) {
                            amount = parseInt(amount)*100;
                            stripeHandler.open({
                              amount: amount,
                              currency: currency,
                              emailAddress: emailAddress,
                              description: desc
                            });
                          });
                        }
                      } else {
                        $('#purchase_'+index).remove();
                        if(status >= x.PAYMENT_DELIVERY_DONE) {//Beyond the purchase phase.
                          $('#cartList_'+index).find('li').css({"title": "Already ordered!", "border": "2px"});//Mark them!
                        }
                      }
                    </script>
                  </div>
              </div>
          </form>
             
     <!-- Buyer=sender, supplier=receiver. -->     
          <div class="container mt-4">
            <div class="form-group">
              <a href="../../../../../buyer/chatLogin/<%= bid.buyer %>/<%= bid.supplier %>/<%= bid._id %>/<%= bid.requestName %>/<%= bid.supplierName %>/<%= bid.buyerName %>">
                <button style="float: left" title="Chat" id="chat" class="btn-primary btn">Chat with your supplier</button>
              </a>
              <a href="../../../../../buyer/cancelBid/<%= bid._id %>/<%= bid.requestName %>/Buyer/<%= bid.buyerName %>/<%= bid.supplierName %>/<%= bid.buyerEmail %>/<%= bid.supplierEmail %>">
                <button style="float: right" title="Cancel Bid" id="cancelBid" class="btn-primary btn">Cancel your Order</button>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" style="position: center;" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% } } i = 0; if(cancelledBids.length > 0) { %> 
    <br>
      <h3 style="color: green">
        The following <%= cancelledBids.length %> bids are Bid Requests that were cancelled. We advise you to delete them.  Their total price is <span class='cancelledPrice'><%= cancelledPrice %></span> <span class='currency'><%= currency %>.</span>
      </h3>
    <hr>
  <% for(bid of cancelledBids) { i++; %>
    <div class="card mt-4">
      <p>
        The <%= bid.requestName %> bid was cancelled upon <% if(bid.status == buyerCancelBidStatus) { %> your <% } else { %> Supplier's <% } %> decision. You can remove the bid completely.
      </p>
      <button class="btn btn-primary ml-2 delete" style="float: right" id="<%= bid._id %>">Delete Bid</button>
    </div>
  <% } } i = 0; if(expiredBids != null && expiredBids.length > 0) { %> 
    <br>
      <h3 style="color: green">
        The following <%= expiredBids.length %> bids are Bid Requests that have expired. We advise you to delete them. Their total price is <span class='expiredPrice'><%= expiredPrice %></span> <span class='currency'><%= currency %>.</span>
      </h3>
    <hr>
  <% for (bid of expiredBids) { i++;  %>  
    <div class="card mt-4">
      <p>
        The <%= bid.requestName %> request expired, its limit date was <%= bid.expiryDateFormatted %>. You can remove the bid request completely.
      </p>
      <button class="btn btn-primary ml-2 delete" style="float: right" id="<%= bid._id %>">Delete Bid</button>
    </div>
  <% } } if(totalBidLength == 0)  { %>
      <p style="font-size: 12pt; font-weight: bold; color: purple">You have not placed any bids to this supplier. If you prefer, you may do so at any time.</p>
    <% } else { %>
      <p style="font-size: 12pt; font-weight: bold; color: navy">You placed a total of <%= totalBidLength %> bid requests to this supplier. Their total price is <%= totalPrice %> <%= currency %>.</p>
    <% } %>
  </div>
  </div>
  </body>
</html>