<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Government Supervisor Dashboard - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/sweetalert.min.js"></script>  
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/mustache.min.js"></script>
  <script src="/moment.min.js"></script>
  <script src="/qs.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var token = $("input[name^='_csrf']").first().val();
      
      $('button[id^="process"]').click(function(e) {
        var tr = $(this).parent('tr');
        var id = $(this).attr('id');
        
        if(confirm('Are you sure you want to remove the selected buyer from the UNITE Platform?')) {
          $.ajax({
              url: "/processBuyer",
              headers: { "X-CSRF-Token": token },
              datatype: "application/json",
              type: "POST",
              data: {id: id},
              success: function(data) {
                //res(data);
                tr.remove();
                alert('The Buyer has been removed!');
              },
              error: function(err) {
                alert(err.message);
              }
            });
          }
      });
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/supervisor">Supervisor - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/supervisor">Dashboard <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-primary" href="/supervisor/profile">Profile</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="btn btn-danger" href="?exit=true">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container mt-4">
    <br><br>
    <div class="card">
      <div class="card-header">
        Hello!
      </div>
      <div class="card-body">
        <h5 class="card-title">Hello, <%= supervisor.organizationName %>! 
          <img src="<%= supervisor.avatar %>" style="height: 20px; width: 20px">
        </h5>        
        <p style="font-family: verdana; font-size: 11pt; color: green">With your UNITE ID, new buyers can register on the website and start searching for suppliers. If you change the UNITE ID, please announce your members.</p>
        <div class="form-group">
          <label>Your Unique Unite ID</label>
          <input type="text" class="form-control" readonly value="<%= supervisor.organizationUniteID %>">
        </div>
      </div>
    </div>
  </div>
<% if(buyers != null && buyers.length > 0) {%>
  <div class="container mt-4">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Dept Agency Group</th>
          <th scope="col">Contact Name</th>
          <th scope="col">Balance</th>
          <th scope="col">isActive</th>
          <th scope="col">Process</th>
          <th scope="col">Talk</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 0; for (buyer of buyers) { %>
        <tr id="<%= buyer._id %>">
          <td scope="col"><%= i+1 %></td>
          <td scope="col"><%= buyer.deptAgencyGroup %></td>
          <td scope="col"><%= buyer.contactName %></td>
          <td scope="col">€<%= buyer.balance %></td>
          <td scope="col"><%= buyer.isActive %></td>
          <td scope="col">
            <button title="Remove selected Buyer from UNITE" id="process_<%= i %>" class="btn btn-primary">Process</button>
          </td>
          <td scope="col">
            <a href="../../../supervisor/chatLogin/<%= supervisor._id %>/<%= buyer._id %>/0/None/<%= buyer.organizationName %>/(Supervisor)-<%= supervisor.organizationName %>">
              <button title="Chat with your buyer in UNITE" id="chat_<%= i %>" class="btn btn-primary">Chat</button>
            </a>
          </td>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        </tr>
        <% i++; } %>
        </tbody>
      </table>
    </div>
        <% } else {%>
        <div>
          <p style="color: green; font-family: arial">
            Sorry, no buyers with your Organization UNITE ID are currently available. Please wait for their registration.
          </p>          
        </div>
        <% }%>
</body>

</html>