<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign in as Government Supervisor - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>    
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  
  <script type="text/javascript">
      $(document).ready(function() {
        
        var token = $("input[name='_csrf']").val();
        
        $("input").unbind('change').bind('change', function() {        
          $('#updateProfile').removeAttr('disabled');
        });
        
        $('input.fileupload')/*.unbind('change')*/.bind('change', function() {
          $(this).val? $(this).next('input').removeAttr('disabled') : $(this).next('input').attr('disabled', 'disabled');
        }); 
      
      $('#country')
      .autocomplete({
        source: function(req, res) {          
          $.ajax({
            url: "/countryAutocomplete/",
            headers: { "X-CSRF-Token": token },
            datatype: 'jsonp',//"application/json",
            type: "GET",
            data: req,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {          
              //res(data);              
              res($.map(data, function (el) {
                  return {
                     name: el.name
                    , id: el.id
                  };
                  }));         
              
            },
            error: function(err) {

            }
          });
        },
        minLength: 3,
        focus: function (event, ui) {
            this.value = ui.item.name;
            event.preventDefault();
         },
        select: function(event, ui) {
          if(ui.item) {
            $(this).val(ui.item.name);
            event.preventDefault();
          }
        }
      });    
        
      $('input[type="submit"]').click(function (e) {
        var input = $(this).prev('input');        
        var formData = new FormData();
        var isMultiple = $(this).hasClass('multiple')? true : false;
        formData.append("_csrf", token);
        
        formData.append("upload_file", true);
        if(isMultiple == false) {
          formData.append('file', input[0].files[0]);
        } else {
          $.each(input[0].files, function(i, file) {
            formData.append('files['+i+']', file);
          });
        }
        
        var theUrl = isMultiple == true? "/uploadmultiple" : "/uploadfile";
        
        $.ajax({
          type: "POST",
          url: theUrl,
          headers: { "X-CSRF-Token": token },
          async: true,
          data: formData,
          cache: false,
          contentType: false,
          processData: false
        })
          .done(function (data) {
          });

        e.preventDefault();
      });
  });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/supervisor">Supervisor - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/supervisor">Dashboard <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="btn btn-primary" href="/supervisor/profile">Profile</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
          <a class="btn btn-danger" href="?exit=true">Exit</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="profile-form smooth-shadow mt-4 mb-4">
      <form method="POST">
        <input type="hidden" name="_id" value="<%= profile._id %>">
        <input type="hidden" id="password" value="<%= profile.password %>">
        <div class="form-group">
          <label for="organizationName">Organization name*</label>
          <input type="text" class="form-control" id="organizationName" aria-describedby="organizationName"
            placeholder="organizationName" name="organizationName" required value="<%= profile.organizationName %>">
        </div>
        <div class="form-group">
            <label for="organizationUniteID">Organization UNITE ID*</label>
            <input type="text" required class="form-control" id="organizationUniteID" name="organizationUniteID" value="<%= profile.organizationUniteID %>">
        </div>
        <div class="form-group">
          <label for="contactName">Contact name*</label>
          <input type="text" class="form-control" id="contactName" name="contactName" required value="<%= profile.contactName %>">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Email address*</label>
          <input type="email" class="form-control" id="emailAddress" name="email" required value="<%= profile.emailAddress %>">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input required type="password" id="password" name="password" class="form-control"
            value="<%= profile.password %>">
          <a href="forgotPassword"><label>Forgot your password?</label></a>
        </div>
        <input type="hidden" name="isVerified" id="isVerified" value="<%= profile.isVerified %>">
        <div class="form-group">
          <label for="address">Address*</label>
          <input type="text" class="form-control" id="address" name="address" required value="<%= profile.address %>">
        </div>
        <div class="form-group">
          <label for="country">Country*</label>
          <input type="text" class="form-control country" id="country" name="country" required value="<%= profile.country %>">
        </div>

        <!-- Uploading files field section-->  
          <div class="form-group">
              <label>Certificates</label>              
              <input class="form-control fileupload" type="file" id="certificates" name="certificates" multiple>
              <input class="form-control multiple" type="submit" disabled value="Upload Files"/>
          </div>

          <div class="form-group">
               <label>Antibribery policy</label>
               <input class="form-control fileupload" type="file" id="antibriberyPolicy" name="antibriberyPolicy" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
               <label>Environment policy</label>
               <input class="form-control fileupload" type="file" id="environmentPolicy" name="environmentPolicy" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
               <label>Quality management policy</label>
               <input class="form-control fileupload" type="file" id="qualityManagementPolicy" name="qualityManagamentPolicy" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
               <label>Occupational Safety and Health</label>
               <input class="form-control fileupload" type="file" id="occupationalSafetyAndHealthPolicy" name="occupationalSafetyAndHealth" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
              <label>Other relevant files</label>              
              <input class="form-control fileupload" type="file" id="otherRelevantFiles" name="otherFiles" multiple>
              <input class="form-control multiple" type="submit" disabled value="Upload Files"/>
          </div>

        <div class="form-group">
          <label>Certificates</label>
          <input type="url" class="form-control" id="certificatesUrls" value="<%= profile.certificatesUrls %>">
        </div>
        <div class="form-group">
          <label>Anti-bribery policy</label>
          <input type="url" class="form-control" id="antibriberyPolicyUrl" value="<%= profile.antibriberyPolicyUrl %>">
        </div>
        <div class="form-group">
          <label>Environment policy</label>
          <input type="url" class="form-control" id="environmentPolicyUrl" value="<%= profile.environmentPolicyUrl %>">
        </div>
        <div class="form-group">
          <label>Quality management policy</label>
          <input type="url" class="form-control" id="qualityManagementPolicyUrl" value="<%= profile.qualityManagementPolicyUrl%>">
        </div>
        <div class="form-group">
          <label>Occupational Safety and Health</label>
          <input type="url" class="form-control" id="occupationalSafetyAndHealthPolicyUrl" value="<%= profile.occupationalSafetyAndHealthPolicyUrl %>">
        </div>
        <div class="form-group">
          <label>Other relevant files</label>
          <input type="url" class="form-control" id="otherRelevantFilesUrls" value="<%= profile.otherRelevantFilesUrls %>">
        </div>

        <!--Mandatory check of agreements -->
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="uniteTermsAndConditions" <%= profile.UNITETermsAndConditions ? "checked" : "" %> required>
              <label class="form-check-label" for="invalidCheck2">
                <a href="../termsConditions">UNITE Terms And Conditions</a>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="antibriberyAgreement" <%= profile.antibriberyAgreement ? "checked" : "" %> required>
              <label class="form-check-label" for="invalidCheck2">
                <a href="../antibriberyAgreement">Antibribery Agreement </a>
              </label>
            </div>
          </div>        
        <br>       
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <button type="submit" disabled id="updateProfile" value="Update Profile" class="btn btn-primary btn-block btn-lg">Update Profile</button>
      </form>
    </div>
  </div>  
</body>

</html>