<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Supplier - Add a Product/Service - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>  
  <script src="/index.min.js"></script>
  <script src="/money.js"></script>
  <script src="/https.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
        errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
        let token = $("input[name='_csrf']").val();
        let defaultCurr = "<%= DEFAULT_CURR %>";
        initBaseRates(fx, 'select.currency', '/currencyAutocomplete', token, defaultCurr, true);
        
        $('#price,#amount').on('change paste', function() {
          let price = $('#price').val(), amount = $('#amount').val();
          
          if(price && amount) {
            let total = parseFloat(parseInt(amount) * parseFloat(price)).toFixed(2);            
            $('#totalPrice').val(total);
            $('#totalPriceSpan').text(total + ' ' + $('#selectCurrencies option:selected').text());
          }
        });
        
        $('#addProduct').on('click', function() {
          if($('#price').val() <= 0) {
            Swal.fire({
              icon: 'error',
              title: 'Error!',
              text: 'Please enter a valid value for Price.'
            });
            
            return false;
          }
          
          $('#totalPrice').val(parseFloat(parseFloat($('#price').val()) * parseInt($('#amount').val())).toFixed(2));
        });
        
        $('#selectCurrencies').off('change').on('change', function() {/*
          if($(this).hasClass('init')) {
            $(this).removeClass('init');
            return false;
          }*/
          
          let price = $('#price').val(), amount = $('#amount').val();
          if(!price || !amount) {
            return false;
          }
          
          let oldCurr = $('#currency').val(), newCurr = $(this).val();
          
          alert(oldCurr + ' ' + newCurr);
          let newPrice = fx.convert(parseFloat(price), {from: oldCurr, to: newCurr});
          let newTotalPrice = parseFloat(amount * parseFloat(newPrice)).toFixed(2);
          
          $('#price').val(newPrice);
          $('#currency').val(newCurr);
          $('#totalPrice').val(newTotalPrice);
          $('#totalPriceSpan').text(newTotalPrice + ' ' + newCurr);
        });
      });
  </script>
</head>

<body>
  <nav user="supplier" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container">
      <div class="col-md-12 totals">
        <form method="POST">
          <input type="hidden" id="uploadSize" value="<%= FILE_UPLOAD_MAX_SIZE %>">
          <input type="hidden" name="_id" value="<%= supplierId %>">
         <legend style='color: forestgreen; fon t-weight: bold; margin-bottom: 15px'>
            Add new Product/Service
          </legend>
          <div class="form-group">
            <label for="productName">Product / Service name:</label>
            <input required class="form-control" type="text" name="productName" id="product" autofocus="autofocus"></input>
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input required class="form-control" type="number" min="1" id="price" name="price"></input>
          </div>
          <div class="form-group">
            <label for="currency">Preferred Currency (Default: Euro)*</label>
            <input type="hidden" id='currency' name="currency" value="<%= DEFAULT_CURR %>" required><br>
            <select class="currency" id="selectCurrencies" class="form-control" title="Currency" value="<%= DEFAULT_CURR %>" required></select>
          </div>
          <div class="form-group">
            <label>Upload a product image:</label>
            <input class="form-control upload productimageupload separated" type="file" id="productImage" name="productImage" single>
            <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload Product Image" />
            <input type="hidden" name="productImage" id="productImage">
          </div>
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input required min="1" class="form-control" type="number" id="amount" name="amount"></input>
          </div>
          <div class="form-group">
            <label for="totalPrice">Total price:</label>
            <input type="hidden" id="totalPrice" name="totalPrice"></input>
            <span style='background-color: lightgray' class="form-control" id="totalPriceSpan"></input>
          </div>
          <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" id="addProduct" value="Add Product" class="btn btn-primary btn-block btn-lg form-control">Add Product</button>
          </div>            
        </form>
      </div>
    </div>    
  </body>  
</html>