<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Supplier's selected order - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/ui.jqgrid.min.css">
  <link rel="stylesheet" href="/ui.multiselect.min.css">
 <!--  <script src="/jquery.min.js"></script> -->
  <script  src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
  crossorigin="anonymous"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/jquery.simulate.js"></script>
  <script src="/jquery.jqgrid.min.js"></script>
  <script src="/grid.locale-en.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
    $('.rem,.inc,.dec,.uploadImage').off('click');//Off in View Mode.
  });
  </script>
</head>

<body>
	<nav user="supplier" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/supplier">Bid request details - UNITE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<div class="container">
    <br>
    <br>
		<div class="smooth-shadow profile-form">			
      <div class="modal-content">
        <div class="form-group">
          <label>Buyer's Organization Name</label>
          <input type="text" class="form-control" value="<%= buyer.organizationName %>" readonly>
          <br>
          <button type="button" class="btn btn-dark" data-target="#buyerDetailsModal" data-toggle="modal">View Buyer Details</button>
        </div>
        <form method="POST" id="mainForm">
          <div class="modal fade" id="buyerDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Buyer</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label>Buyer's Organization UNITE ID</label>
									<input type="text" class="form-control" value="<%= buyer.organizationUniteID %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Contact name</label>
									<input type="text" class="form-control" value="<%= buyer.contactName %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Email address</label>
									<input type="email" class="form-control" value="<%= buyer.emailAddress %>" disabled>
								</div>
                <div class="form-group">
									<label>Buyer's Currency</label>
									<input type="text" class="form-control" value="<%= buyer.currency %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Department / Agency / Group</label>
									<input type="text" class="form-control" value="<%= buyer.deptAgencyGroup %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Qualification / Experience</label>
									<input type="text" class="form-control" value="<%= buyer.qualification %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Address</label>
									<input type="text" class="form-control" value="<%= buyer.address %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Country</label>
									<input type="text" class="form-control" value="<%= buyer.country %>" disabled>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>				
        
        <input type='hidden' name='createdAt' value="<%= request.createdAt %>">
        <% if(request.warningExpiration != null) { %>
        <div>
          <p class='warn'>
            This Bid Request is about to expire. Its limit date is <%= request.expiryDateFormatted %>.<% if(request.cannotExtendMore != null) { %><br>Please upload a Bid Extension Letter in order to gain <%= bidExtensionDays %> more validity days.<% } else { %><br>You have already extended the initial bid validity, so the date above is final.<% } %>
          </p>
        </div>
        <% } %>
				<div class="form-group">
					<label>Item Description</label>
					<input type="text" class="form-control" value="<%= request.itemDescription %>" readonly>
				</div>
				<div class="form-group">
					<% const re = /:\s|,\s/;
            const products = request.productList;
            const prices = request.priceList;
            const amounts = request.amountList;
            const images = request.productImagesList;
            %>
					<Code>The product prices are expressed in your currency.<br></Code>
					<label>Products / Services Ordered</label>
          <ul id="productsListUl" class="list-group">
            <% let h = 0; if (products != null) { %> 
              <li class='list-group-item' style='color: brown'>
              <span class='cnt'>#</span>
              <span class='product0'>Name</span>
              <span class='buttonsWrapper'>Buttons</span>
              <span class='imageWrapper'>Images</span>
              <span class='priceWrapper'>Total</span>
              <span class='amountWrapper'>Count</span>
              <span class='basicPriceWrapper'>Price</span></span>
            </li>
            <% for (h in products) { %>
            <li class='list-group-item'>
              <span class='cnt'><%= parseInt(h)+1 %></span>
              <span class='product'><%= products[h] %></span>
              <span class='buttonsWrapper'><span class='rem' title="Delete"></span><span class='dec' title='Remove item'></span><span class='inc' title='Add item'></span></span>
              <span class='imageWrapper'><span class='uploadImage'>Upload Image</span>  <span class='productImage' title="Product Image"> 
                <% if(images[h].length > 0) { %>
                <img src="<%= path + '../' + images[h].substring(7) %>" style="height: 25px; width: 30px" onclick="window.open(this.src)">
                <% } %>
                </span>
              </span>
              <span class='priceWrapper'><span class='totalPrice'><%= parseFloat(parseInt(amounts[h])*parseFloat(prices[h])).toFixed(2) %></span> <%= request.supplierCurrency %></span>
              <span class='amountWrapper'><span class='amount'><%= amounts[h] %></span> items </span>
              <span class='basicPriceWrapper'><span class='price'><%= parseFloat(prices[h]).toFixed(2) %></span> <span class='currency'><%= request.supplierCurrency %></span></span>
            </li>
            <% } }%>
          </ul>
				</div>
       <div id="jqDiv" class="form-group">
          <table id="grid">
          </table>
         <div id='prodPager'>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Request Name*</label>
          <input readonly type="text" class="form-control" name="requestName" value="<%= request.requestName %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Supplier Company*</label>
          <input readonly type="text" class="form-control" name="supplierName" value="<%= request.supplierName %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Buyer Organization*</label>
          <input readonly type="text" class="form-control" name="buyerName" value="<%= request.buyerName %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Buyer's E-mail Address*</label>
          <input readonly type="text" class="form-control" name="buyerEmail" value="<%= request.buyerEmail %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Supplier's E-mail Address*</label>
          <input readonly type="text" class="form-control" name="supplierEmail" value="<%= request.supplierEmail %>">
        </div>
				<div class="form-group">
					<label>Item Description (Long)</label>
          <textarea disabled class="form-control"><%= request.itemDescriptionLong %></textarea>
				</div>
        <div class="form-group">
					<label>Item Description (URL)</label>
					<input type="url" readonly class="form-control" value=<%= request.itemDescriptionUrl %>>
				</div>
				<div class="form-group">
					<label>Amount</label>
          <% j = 0; for(h in request.amountList) {j += request.amountList[h];} %>
          <input title="Total number of items" type="text" disabled id="totalAmount" name="amount" value="<%= j %>">					
				</div>
				<div class="form-group">
					<label>Delivery Location</label>
					<textarea class="form-control" disabled><%= request.deliveryLocation %></textarea>
				</div>
				<div class="form-group">
					<label>Delivery Requirements</label>
					<textarea class="form-control" disabled><%= request.deliveryRequirements %></textarea>
				</div>
				<div class="form-group">
					<label>Compliance Requirements</label>
					<textarea class="form-control" disabled><%= request.complianceRequirements %></textarea>
				</div>
        <div class="form-group">
					<label>Other Requirements</label>
					<textarea class="form-control" disabled><%= request.otherRequirements %></textarea>
				</div>
        <div class="form-group">
          <label class="col-form-label">Date Created:</label>
          <textarea disabled class="form-control" name="createdAtFormatted"><%= request.createdAtFormatted %></textarea>
        </div>
        <div class="form-group">
          <label class="col-form-label">Date of Expiration:</label>
          <textarea disabled class="form-control" name="expiryDateFormatted"><%= request.expiryDateFormatted %></textarea>
        </div>
        <div class="form-group">
					<label>Price (Your Currency):</label>
					<% l = 0; for(m in request.priceList) {l += request.priceList[m];} %> <!-- Also request.supplierPrice .-->
          <input type="text" title="Total order price" value="<%= l %> <%= request.supplierCurrency %>" class="form-control" id="price" name="supplierPrice" readonly>
				</div>
        <div class="form-group">
					<label>Price (Buyer's Currency):</label>
          <input type="text" title="Total original order price" value="<%= request.buyerPrice %> <%= request.buyerCurrency %>" class="form-control" id="price" name="buyerPrice" readonly>
				</div>
        <div class="form-group">
					<label>Currency (yours):</label>
					<input type="text" disabled class="form-control" readonly name="supplierCurrency" value="<%= request.supplierCurrency %>">
				</div>
        <div class="form-group">
					<label>Currency (Buyer's original):</label>
					<input type="text" disabled class="form-control" readonly name="buyerCurrency" value="<%= request.buyerCurrency %>">
				</div>
        <% if(request.isExtended == false) { %>
            <div class="form-group">
              <label>Extension letter</label>
              <input type="hidden" class="fileId" name="validityExtensionId">
              <input class="form-control upload" type="file" id="validityExtension" name="validityExtension"/>
              <input class="form-control single btn btn-dark mt-2" type="button" disabled value="Upload File" />
            </div>
        <% } %>
        <div class="form-group">
					<label>Status</label>
					<input type="text" disabled id="status" name="status" class="form-control" readonly value="<%= request.status %>">
				</div>        
        <div class="form-group selectstatus">
          <select style="width: 100%" id="statuses">
            <% if (statuses != null) { for (status of statuses) { %>
            <option title="<%= status.name %>" value="<%= status.value %>"><%= status.name %></option>
            <% } }%>
          </select>
        </div>
        <div style="display: none" id="statusJsonValues">
          <% if (statusesJson != null) {  %>
            <span><%= statusesJson %></span>
          <% }  %>
        </div>
        <div class="form-group" id="acceptBid" style="display: none">
					<label>Currency</label>
          <button class="btn-primary btn" id="acceptButton" title="Accept Buyer's Bid"></button>
				</div>
        <input type="hidden" name="requestId" value="<%= request._id %>">
        <script type="text/javascript">
          
          var data = [];
          var colModel = [
            { name: 'hiddenPrice', hidden: true},
            { name: 'hiddenAmount', hidden: true},
            { name: 'hiddenTotalPrice', hidden: true},
            { name: 'hiddenCurrency', hidden: true},
            { name: 'productImageSource', hidden: true},
            { name: 'productId', hidden: true},
            { name: 'supplierId', hidden: true},
            { name: 'supplierCurrency', hidden: true},
            { name: 'maxAmount', hidden: true},
            { name: 'bigPrice', hidden: true},
            { name: 'name', label: 'Product name', formatter: productFormatter, search: true, width: 140},
            { name: 'price', label: 'Product price', align: 'center', formatter: priceFormatter, unformat: priceUnformatter, template: 'number', sorttype: 'number', search: true, width: 140},
            { name: 'amount', label: 'Amount', formatter: amountFormatter, unformat: amountUnformatter, align: 'center', search: true, template: 'number', sorttype: 'number', width: 70},
            { name: 'totalPrice', label: 'Total price', align: 'center', formatter: totalPriceFormatter, unformat: totalPriceUnformatter, template: 'number', sorttype: 'number', search: true, width: 90},
            { name: 'imageWrapper', label: 'Image Zone', align: 'center', width: 170, search: false, sortable: false, formatter: imageWrapperFormatter},
            { name: 'buttonsWrapper', label: 'Buttons Zone', align: 'center', width: 110, search: false, sortable: false, formatter: buttonsWrapperFormatter}
          ];
          
          $('#productsListUl').find('li').not(':first').each(function(i, e) {
            var src = $(this).find('.productImage img').length?
                $(this).find('.productImage img').attr('src') : null;
                       
            data.push({
              id: i,
              name: $(this).find('.product').text(),
              price: $(this).find('.price').text() + ' ' + $(this).find('.currency').text(),
              hiddenPrice: $(this).find('.price').text(),
              hiddenTotalPrice: $(this).find('.totalPrice').text(),
              hiddenCurrency: $(this).find('.currency').text(),
              productImageSource: src? `<img src="${src}" style="height: 25px; width: 30px" onclick="window.open(this.src)">` : '',              
              hiddenAmount: parseInt($(this).find('.amount').text())
            });
          });             

          initGrid(colModel, data, "#grid", '#prodPager', "name", 'Products List', 1000);
          var x = JSON.parse($('#statusJsonValues span').first().text());
          
           $('#statuses')
            .on('change', function() {
            $('#status')        
              .val($(this)
                   .find('option:selected')
                   .attr('value'));
             
             var that = $(this);             
             if($('#status').val() == x.BUYER_ACCEPT_PRICE) {
                $('#acceptBid').show();
                $('#acceptButton').off('click').on('click', function() {

                  if(confirm('Are you sure you want to accept this Bid from ' + $('#buyerName').val() + '?')) {
                    $('#status').val(x.SUPP_START_DELIVERY);
                    
                    that.find('option')
                      .eq(x.SUPP_START_DELIVERY)
                      .prop('selected', true);

                    $('#updateBidStatus').trigger('click');
                  } else {
                    return false;
                  }
                });
             } else {
               $('#acceptBid').hide();
             }

              $('#updateBidStatus')
                .removeAttr('disabled');
          });
          
          $('#mainForm').submit(function(e) {
            //e.preventDefault();
            if(!($('#messageArea').text()) 
               && !confirm('Are you sure you want to update Bid Status without any mentions for the Buyer ' + $('input[name="buyerName"]').val() + '?')) {
              return false;
            }
            
          return true;
          });
          
          $('#statuses').find('option:gt(' + x.PAYMENT_DELIVERY_DONE + ')').prop('disabled', true);//Cancel from button and make the content unavailable.
          $('#statuses')
              .find('option[value="' + $('#status').val() + '"]')
              .prop({'selected': true});

            $('#statuses').attr('title', $('#statuses').find('option:selected').text());            
          </script>
          
          <div class="form-group">
            <h3>Mentions for Buyer</h3>
            <br>
            <label>Type your message below</label>
            <textarea name="specialMentions" id="messageArea" class="form-control"><%= request.specialMentions %></textarea>
            <input type="hidden" name="from" value="<%= supplier._id %>">
            <input type="hidden" name="to" value="<%= buyer._id %>">
            <input type="hidden" name="reqId" value="<%= request._id %>">
            <input type="hidden" name="requestName" value="<%= request.requestName %>">
            <input type="hidden" name="sender" value="<%= supplier.companyName %>">
            <input type="hidden" name="receiver" value="<%= buyer.organizationName %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-primary" title="Update Bid Status / Message Buyer" disabled type="submit" id="updateBidStatus">
                Update Status & Send Mentions
            </button>
          </div>

          <div class="form-group">
            <span style="color: purple; font-size: 12pt; font-weight: bold"><b>Bid Status Description:</b> <br>
              <% if (request.status == 0) { %> "Buyer requested a bid from Supplier. Please send further information to Buyer." <% } %>
              <% if (request.status == 1) { %> "Waiting for Buyer to process the order information." <% } %>				
              <% if (request.status == 2) { %> "Buyer wants to buy the product for the total price of <%= request.price %> <%= request.currency %>. Please Cancel or Accept." <% } %>
              <% if (request.status == 3) { %> "Supplier started the delivery. Please wait for confirmation of buyer." <% } %>
              <% if (request.status == 4) { %> "Payment and delivery have been successfully made." <% } %>
              <% if (request.status == 5) { %> "Supplier cancelled the request." <% } %>
              <% if (request.status == 6) { %> "Buyer cancelled the request." <% } %>
            </span>
          </div>
      </form>
<!-- Supplier=sender, buyer=receiver. -->
        <div class="container mt-4">
          	<div class="form-group">
							<a href="../../../supplier/chatLogin/<%= supplier._id %>/<%= buyer._id %>/<%= request._id %>/<%= request.requestName %>/<%= buyer.organizationName %>/<%= supplier.companyName %>">
                <button style="float: left" title="Chat" id="chat" class="btn-primary btn">Chat with your buyer</button>
              </a>
              <a href="../../../supplier/cancelBid/<%= request._id %>/<%= request.requestName %>/Supplier/<%= request.buyerName %>/<%= request.supplierName %>/<%= request.buyerEmail %>/<%= request.supplierEmail %>">
                <button style="float: right" title="Cancel Bid" id="cancelBid" class="btn-primary btn">Cancel Buyer's Order</button>
              </a>
          </div>
        </div>
      </div>
		</div>
	</div>

</body>

</html>