<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Bid Requests List - Supplier - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert.min.js"></script>  
  <script src="/index.min.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var token = $("input[name='_csrf']").val();
      
      if($('.delete').length()) {
        $('.delete').on('click', function() {          
          var bidId = $(this).attr('id');
          var div1 = $(this).parent('div'), div2 = div1.prev('div');
          
          if(confirm('Are you sure you want to remove this bid from your Supplier Dashboard forever?')) {
            $.ajax({
              url: '/deleteBid',
              type: 'POST',
              headers: { "X-CSRF-Token": token },
              data: {bidId: bidId},
              datatype: 'application/json',
              error: function() {
                alert('Error on AJAX Request!');
              },
              success: function() {
                div2.remove();
                div1.remove();
                alert('Bid removed by supplier!');
              }
            });
          }
        });
      }
    });
  </script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/supplier">Supplier - UNITE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/supplier">Bid Requests List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/supplier/bid-requests">Bid Requests <span	class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/supplier/balance">Balance: €<%= supplier.balance %>&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item active">
					<a class="btn btn-primary" href="/supplier/profile">Profile</a>
				</li>
        <br>
				<li class="nav-item">
					<a class="btn btn-danger" href="?exit=true">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container"><br><br></div>

	<div class="container">    
		<% for (request of requests) { %>
		<div class="card mt-4">
			<div class="card-header">
				Bid Request
			</div>
			<div class="card-body">
				<h4 class="card-title"><%= request.itemDescription %></h4>
				<p class="card-text">
					Amount: <%= request.amount %> <br>
					Delivery Location: <%= request.deliveryLocation %>
				</p>
        <% if(request.isCancelled == true) { %>
          <div class="card mt-4">
            <p>
              This bid was cancelled upon <% if(request.status == 5) { %> your <% } else { %> Buyer's <% } %> decision. You can remove the bid completely.
            </p>
            <button class="btn btn-primary ml-2 delete" style="float: right" id="<%= request._id %>">Delete Bid</button>
          </div>
        <% } else { %>
				<a href="/supplier/bid-requests/<%= request._id %>" class="btn btn-primary" style="float: right;">Details</a>
       <% } %> 
			</div>
		</div>
		<% } %>
    <input type="hidden" name="_csrf" value="< %= csrfToken %>">
	</div>

</body>

</html>