<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Bid Requests List - Supplier - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>  
  <script src="/index.min.js"></script>
  <script src="/money.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var token = $("input[name='_csrf']").val();
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
      
      if($('.delete').length()) {
        $('.delete').on('click', function() {          
          var bidId = $(this).attr('id');
          var div1 = $(this).parent('div'), div2 = div1.prev('div');
          
          if(confirm('Are you sure you want to remove this bid from your Supplier Dashboard forever?')) {
            $.ajax({
              url: '/deleteBid',
              type: 'POST',
              headers: { "X-CSRF-Token": token },
              data: {bidId: bidId},
              datatype: 'application/json',
              error: function() {
                Swal.fire({
                  icon: 'error',
                  title: 'Error!',
                  text: 'Error on AJAX Request!'
                });
              },
              success: function() {
                div2.remove();
                div1.remove();
                Swal.fire({
                  icon: 'success',
                  title: 'Done!',
                  text: 'You cancelled this order from the Buyer.'
                });
              }
            });
          }
        });
      }
    });
  </script>
</head>

<body>
	<nav pos="3" user="supplier" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/supplier">Supplier - UNITE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<div class="container"><br><br></div>

	<div class="container">    
		<% if(requests.length > 0) { for (request of requests) { %>
		<div class="card mt-4">
			<div class="card-header">
				<i>Bid Request from Buyer</i>
			</div>
			<div class="card-body">
				<h4 class="card-title"><%= request.itemDescription %></h4>
				<p class="card-text">					
          <span class='requestData'>From: <b><u><%= request.buyerName %></u></b> </span><br>
          <span class='requestData'>Amount: <b><u><%= request.amount %></u></b> </span><br>
          <span class='requestData'>Expires: <b><u><%= request.expiryDateFormatted %></u></b> </span><br>
					<span class='requestData'>Delivery Location: <b><u><%= request.deliveryLocation %></u></b></span>
				</p>
        <% if(request.isCancelled == true) { %>
          <div class="card mt-4">
            <p>
              This bid was cancelled upon <% if(request.status == 5) { %> your <% } else { %> Buyer's <% } %> decision. You can remove the bid completely.
            </p>
            <button class="btn btn-primary ml-2 delete" style="float: right" id="<%= request._id %>">Delete Request</button>
          </div>
        <% } else { %>
				<a href="/supplier/bid-requests/<%= request._id %>" class="btn btn-primary" style="float: right;">Details</a>
       <% } %> 
			</div>
		</div>
		<% } } if(expiredRequests.length > 0) { for(request of expiredRequests) { %>
      <div class="card mt-4">
        <p>
          The <%= request.requestName %> request expired, its limit date was <%= request.expiryDateFormatted %>. You can remove the bid request completely.
        </p>
        <button class="btn btn-primary ml-2 delete" style="float: right" id="<%= request._id %>">Delete Request</button>
      </div>
    <% } } if(requests.length + expiredRequests.length == 0) { %>
      <p style="font-size: 12pt; font-weight: bold; color: navy">You have not received any bid requests as a supplier. If you prefer, you may update your product offer from your Profile page.</p>
    <% } %>
    <input type="hidden" name="_csrf" value="< %= csrfToken %>">
	</div>

</body>

</html>