<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Bid request details - UNITE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A cool thing made with Glitch">
	<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/supplier">Bid request details - UNITE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
    
    <div>  
      <input type="button" class="btn btn-primary" value="Back" onclick="history.go(-1)">
    </div>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/supplier">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/supplier/bid-requests">Bid Request - Request: <%= request.requestName %> 
            <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/supplier/balance">Balance: €<%= supplier.balance %>&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item active">
					<a class="btn btn-primary" href="/supplier/profile">Profile</a>
				</li>
        <br>
				<li class="nav-item">
					<a class="btn btn-danger" href="?exit=true">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
    <br>     
    <br>
  </div>

	<div class="container">
		<div class="smooth-shadow profile-form">			
      <div class="modal-content">
        <div class="form-group">
          <label>Buyer's Organization Name</label>
          <input type="text" class="form-control" value="<%= buyer.organizationName %>" readonly>
          <br>
          <button type="button" class="btn btn-dark" data-target="#buyerDetailsModal" data-toggle="modal">View Buyer Details</button>
        </div>
        <form method="POST" id="mainForm">
          <div class="modal fade" id="buyerDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
						
              
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Buyer</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label>Buyer's Organization UNITE ID</label>
									<input type="text" class="form-control" value="<%= buyer.organizationUniteID %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Contact name</label>
									<input type="text" class="form-control" value="<%= buyer.contactName %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Email address</label>
									<input type="email" class="form-control" value="<%= buyer.emailAddress %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Department / Agency / Group</label>
									<input type="text" class="form-control" value="<%= buyer.deptAgencyGroup %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Qualification / Experience</label>
									<input type="text" class="form-control" value="<%= buyer.qualification %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Address</label>
									<input type="text" class="form-control" value="<%= buyer.address %>" disabled>
								</div>
								<div class="form-group">
									<label>Buyer's Country</label>
									<input type="text" class="form-control" value="<%= buyer.country %>" disabled>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>				
        
        <input type='hidden' name='createdAt' value="<%= request.createdAt %>">

				<div class="form-group">
					<label>Item Description</label>
					<input type="text" class="form-control" value="<%= request.itemDescription %>" readonly>
				</div>
				<div class="form-group">
					<% const re = /:\s|,\s/; 
            const products = request.productsServicesOffered;
            const prices = request.priceList;
            const amounts = request.amountList;
            %>
					<Code></Code>
					<label>Products / Services Offered</label>
					<ul class="list-group">
            <% for (h in products) { %>
            <li class="list-group-item"><%= amounts[h] %>*<%= products[h] %> - <%= prices[h] %> <%= request.currency %></li>
            <% } %>
          </ul>
				</div>
        <div class="form-group">
          <label class="col-form-label">Request Name*</label>
          <input readonly type="text" class="form-control" name="requestName" value="<%= request.requestName %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Supplier Company*</label>
          <input readonly type="text" class="form-control" name="supplierName" value="<%= request.supplierName %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Buyer Organization*</label>
          <input readonly type="text" class="form-control" name="buyerName" value="<%= request.buyerName %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Buyer's E-mail Address*</label>
          <input readonly type="text" class="form-control" name="buyerEmail" value="<%= request.buyerEmail %>">
        </div>
        <div class="form-group">
          <label class="col-form-label">Supplier's E-mail Address*</label>
          <input readonly type="text" class="form-control" name="supplierEmail" value="<%= request.supplierEmail %>">
        </div>
				<div class="form-group">
					<label>Item Description (Long)</label>
          <textarea disabled class="form-control"><%= request.itemDescriptionLong %></textarea>
				</div>
        <div class="form-group">
					<label>Item Description (URL)</label>
					<input type="url" readonly class="form-control" value=<%= request.itemDescriptionUrl %>>
				</div>
				<div class="form-group">
					<label>Amount</label>
          <% j = 0; for(h in request.amountList) {j += request.amountList[h];} %>
          <input title="Total number of items" type="text" disabled id="totalAmount" name="amount" value="<%= j %>">					
				</div>
				<div class="form-group">
					<label>Delivery Location</label>
					<textarea class="form-control" disabled><%= request.deliveryLocation %></textarea>
				</div>
				<div class="form-group">
					<label>Delivery Requirements</label>
					<textarea class="form-control" disabled><%= request.deliveryRequirements %></textarea>
				</div>
				<div class="form-group">
					<label>Compliance Requirements</label>
					<textarea class="form-control" disabled><%= request.complianceRequirements %></textarea>
				</div>
        <div class="form-group">
					<label>Other Requirements</label>
					<textarea class="form-control" disabled><%= request.otherRequirements %></textarea>
				</div>
        <div class="form-group">
					<label>Price</label>
					<% l = 0; for(m in request.priceList) {l += request.priceList[m];} %>
          <input type="text" title="Total order price" value="<%= l %> <%= request.currency %>" class="form-control" id="price" name="price" readonly>
				</div>
        <div class="form-group">
					<label>Currency</label>
					<input type="hidden" class="form-control" readonly value="<%= request.currency %>">
				</div>
        <div class="form-group">
					<label>Status</label>
					<input type="hidden" id="status" name="status" class="form-control" readonly value="<%= request.status %>">
				</div>        
        <div class="form-group selectstatus">
          <select style="width: 100%" id="statuses">
            <% if (statuses != null) { for (status of statuses) { %>
            <option title="<%= status.name %>" value="<%= status.value %>"><%= status.name %></option>
            <% } }%>
          </select>
        </div>
        <div style="display: none" id="statusJsonValues">
          <% if (statusesJson != null) {  %>
            <span><%= statusesJson %></span>
          <% }  %>
        </div>
        <div class="form-group" id="acceptBid" style="display: none">
					<label>Currency</label>
          <button class="btn-primary btn" id="acceptButton" title="Accept Buyer's Bid"></button>
				</div>
        <input type="hidden" name="requestId" value="<%= request._id %>">
        <script type="text/javascript">
          var x = JSON.parse($('#statusJsonValues span').first().text());
          
           $('#statuses')
            .bind('change', function() {
            $('#status')        
              .val($(this)
                   .find('option:selected')
                   .attr('value'));
             
             var that = $(this);
             
             if($('#status').val() == x.BUYER_ACCEPT_PRICE) {
                $('#acceptBid').show();
                $('#acceptButton').unbind('click').bind('click', function() {

                  if(confirm('Are you sure you want to accept this Bid from ' + $('#buyerName').val() + '?')) {
                    $('#status').val(x.SUPP_START_DELIVERY);
                    
                    that.find('option')
                      .eq(x.SUPP_START_DELIVERY)
                      .attr('selected', 'selected');

                    $('#updateBidStatus').trigger('click');
                  } else {
                    return false;
                  }
                });
             } else {
               $('#acceptBid').hide();
             }

              $('#updateBidStatus')
                .removeAttr('disabled');
          });
          
          $('#mainForm').submit(function(e) {
            //e.preventDefault();
            
            if(!($('#messageArea').text()) 
               && !confirm('Are you sure you want to update Bid Status without any mentions for the Buyer ' + $('input[name="buyerName"]').val() + '?')) {
              return false;
            }
            
          return true;
          });
          
          $('#statuses').find('option:gt(' + x.PAYMENT_DELIVERY_DONE + ')').attr('disabled', 'disabled');//Cancel from button and make the content unavailable.

            $('#statuses')
                .find('option[value="' + $('#status').val() + '"]')
                .attr({'selected': 'selected'});

            $('#statuses').attr('title', $('#statuses').find('option:selected').text());            
          </script>
          
          <div class="form-group">
            <h3>Mentions for Buyer</h3>
            <br>
            <label>Type your message below</label>
            <textarea name="message" id="messageArea" class="form-control"><%= request.specialMentions %></textarea>
            <input type="hidden" name="from" value="<%= supplier._id %>">
            <input type="hidden" name="to" value="<%= buyer._id %>">
            <input type="hidden" name="reqId" value="<%= request._id %>">
            <input type="hidden" name="requestName" value="<%= request.requestName %>">
            <input type="hidden" name="sender" value="<%= supplier.companyName %>">
            <input type="hidden" name="receiver" value="<%= buyer.organizationName %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-primary" title="Update Bid Status / Message Buyer" disabled type="submit" id="updateBidStatus">
                Update Status & Send Mentions
            </button>
          </div>

          <div class="form-group">
            <span style="color: purple; font-size: 12pt; font-weight: bold"><b>Bid Status Description:</b> <br>
              <% if (request.status == 0) { %> "Buyer requested a bid from Supplier. Please send further information to Buyer." <% } %>
              <% if (request.status == 1) { %> "Waiting for Buyer to process the order information." <% } %>				
              <% if (request.status == 2) { %> "Buyer wants to buy the product for <%= request.price %>. Please Cancel or Accept." <% } %>
              <% if (request.status == 3) { %> "Supplier started the delivery. Please wait for confirmation of buyer." <% } %>
              <% if (request.status == 4) { %> "Payment and delivery have been successfully made." <% } %>
              <% if (request.status == 5) { %> "Supplier cancelled the request." <% } %>
              <% if (request.status == 6) { %> "Buyer cancelled the request." <% } %>
            </span>
          </div>
      </form>
<!-- Supplier=sender, buyer=receiver. -->
        <div class="container mt-4">
          	<div class="form-group">
							<a href="../chat/<%= supplier._id %>/<%= buyer._id %>/<%= request._id %>/<%= request.requestName %>/<%= buyer.organizationName %>/<%= supplier.companyName %>">
                <button style="float: left" title="Chat" id="chat" class="btn-primary btn">Chat with your buyer</button>
              </a>
            <form class="cancelForm" action="../../../supplier/cancelBid/" method="POST">
              <input type="hidden" name="bidId" value="<%= request._id %>">
              <input type="hidden" name="requestsName" value="<%= request.requestName %>">
              <input type="hidden" name="buyersName" value="<%= request.buyerName %>">
              <input type="hidden" name="suppliersName" value="<%= request.supplierName %>">
              <input type="hidden" name="buyersEmail" value="<%= request.buyerEmail %>">
              <input type="hidden" name="suppliersEmail" value="<%= request.supplierEmail %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button style="float: right" type="submit" id="submitCancel" title="Cancel Order" class="btn-primary btn">Cancel Buyer's Order</button><br>
            </form>
          </div>
        </div>
      </div>
		</div>
	</div>

</body>

</html>