<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Supplier Dashboard - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>  
  <script src="/index.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/https.js"></script>
  <script src="/chatUsers.js"></script>
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      errorSuccess(Swal, '<%= errorMessage %>', '<%= successMessage %>');
    });
  </script>
</head>

<body>
  <nav pos="1" user="supplier" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/supplier">Supplier - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container" mt-4>
    <br><br>
    <div class="card">
      <h5 class="card-header">Welcome!</h5>
      <div class="card-body">
        <h5 class="card-title">Hello, <%= supplier.companyName %>!
          <% if(supplier.avatar != null && supplier.avatar.length > 0) { %>
           <img src="<%= supplier.avatar %>" style="height: 20px; width: 20px" onclick="window.open(this.src)">
          <% } %>
        </h5>
        <p class="card-text">This is your main page. In order to ensure that you continue to appear in the search results of buyers, please keep your capabilities up-to-date.</p>
        <a href="/supplier/profile" class="btn btn-primary">Edit your profile</a>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Balance: <%= supplier.currency %> <%= supplier.balance %></h5>
            <p class="card-text">You can manage your balance and get withdraw from <a href="/supplier/balance">Balance</a> page.</p>
            <a href="/supplier/balance" class="btn btn-primary">Go to balance</a>
          </div>
        </div>
        <div class='card'>
          <span style='font-size: 11pt; color: brown'>You currently have a number of <%= supplier.productsServicesOffered.length %> product types, making a total supply amount of <%= supplier.totalSupplyAmount %> items, and the overall price of your offered supply is <%= supplier.totalSupplyPrice %> <%= supplier.currency %>.</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Accepted Bid Requests: <%= requestsCount %></h5>
            <p class="card-text">If you want to increase your accepted bid requests number, you can edit your capabilities on your profile.</p>
            <a href="/supplier/profile" class="btn btn-primary">Go to profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</body>

</html>