<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Supplier Dashboard - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>  
  
  <!--
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
-->   
  <script type="text/javascript">
      $(document).ready(function () {
      var token = $("input[name='_csrf']").val();      
       
      var autocomp = function(obj, data) {
        $('ul.ui-autocomplete').not('div.container *').each(function(i, e) {                
        if($(this).children('li').length) {
          $(this).css({'height': '75px', 'text-align': 'left'});

          $(this).find('li').each(function(index, element) {
            var name = data[index].name;
            $(element).css({'height': '15px'})
              .find('div').css({'font-family': 'arial', 'font-size': '15px'}).text(name);
            $(element).bind('click', function() {                      
              obj.val(name);
              $(this).parent('ul').hide();
              });
            });
          }
        });
      };
      
      $('.country').autocomplete({
        source: function(req, res) {
          var obj = $(this.element);
        
          $.ajax({
            url: "/countryAutocomplete/",
            headers: { "X-CSRF-Token": token },
            datatype: 'jsonp',//'application/json',
            type: "POST",
            data: req,/*
            async: true,
            cache: false,
            contentType: false,
            processData: false,*/
            success: function(data) {              
              res(data);
              autocomp(obj, data);              
              /*
              res($.map(data, function (el) {
                  return {
                     name: el.name
                    , id: el.id
                  };
                  }));*/
            },
            error: function(err) {
              alert(err);
            }
          });
        },
        minLength: 3,
        delay: 100,
        focus: function (event, ui) {
            if(!ui.item) return true;
            $(this).name = ui.item.name;
            event.preventDefault();
         },
        select: function(event, ui) {
          if(ui.item) {
            $(this.element).val(ui.item.name);
            event.preventDefault();
          }
        }
      });
      
      $("#industry").autocomplete({
        source: function(req, res) {
          var obj = $(this.element);
          
          $.ajax({
            url: '/industryAutocomplete',//"/industryAutocomplete",
            headers: { "X-CSRF-Token": token },
            datatype: 'jsonp',//"application/json",
            type: "POST",
            data: req,
            success: function(data) {
              res(data);
              autocomp(obj, data);
            },
            error: function(err) {
            console.log(err);
            }
          });
        },
        minLength: 3,
        delay: 10,
        focus: function (event, ui) {
            $(this).val() = ui.item.name;
            event.preventDefault();
         },
        select: function(event, ui) {
          if(ui.item) {
            $(this).val(ui.item.name);
            event.preventDefault();
            }
          }
      });
      
      $("input").unbind('change').bind('change', function () {
        $('#updateProfile').removeAttr('disabled');
      });

      $('input.fileupload')/*.unbind('change')*/.bind('change', function () {
        $(this).val ? $(this).next('input').removeAttr('disabled') : $(this).next('input').attr('disabled', 'disabled');
      });

      $('input[type="submit"]').click(function (e) {
        var input = $(this).prev('input');                
        var isMultiple = $(this).hasClass('multiple')? true : false;
        var formData = new FormData();
        formData.append("_csrf", token);
        formData.append("upload_file", true);       
        
        if(isMultiple == false) {          
          formData.append('single', input[0].files[0]);          
        }
        else {
          $.each(input[0].files, function(i, file) {
            formData.append('multiple', file);
          });
        }
        
        var theUrl = isMultiple == true? "/multipleupload" : "/uploadfile";
        var xhr = new XMLHttpRequest();
        xhr.open('POST', theUrl, true);
        xhr.setRequestHeader('X-CSRF-TOKEN', token);
        xhr.onload = function(e) {          
        };

        xhr.send(formData);
        
        return false;
        $.ajax({
          type: "POST",
          url: theUrl,
          headers: { "X-CSRF-Token": token },
          data: formData
        })
          .done(function (data) {
          });

        e.preventDefault();
      });
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/supplier">Supplier - UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/supplier">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/supplier/bid-requests">Bid Requests</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/supplier/balance">Balance: €<%= profile.balance %>&nbsp;</a>
        </li>
        <li class="nav-item active">
          <a class="btn btn-primary" href="/supplier/profile">Profile</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
          <a class="btn btn-danger" href="?exit=true">Exit</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <br><br>
    <div class="card">
      <h5 class="card-header">Welcome!</h5>
      <div class="card-body">
        <h5 class="card-title">Hello, <%= profile.companyName %></h5>
        <p class="card-text">This is your profile page. To ensure you continue to appear in buyers' search results,
          please keep your capabilities up-to-date.</p>
      </div>
    </div>

    <br><br>

    <div class="smooth-shadow profile-form">
      <form method="post">
        <input type="hidden" name="_id" value="<%= profile._id %>">
        <input type="hidden" id="balance" name="balance" value="<%= profile.balance %>">
        <input type="hidden" name="createdAt" id="createdAt" value="<%= profile.createdAt %>">
        
        <div class="form-group">
          <label>Company Name</label>
          <input required type="text" id="companyName" name="companyName" class="form-control"
            value="<%= profile.companyName %>">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input required type="email" id="emailAddress" name="emailAddress" class="form-control"
            value="<%= profile.emailAddress %>">
          <small class="text-muted form-text">Only companies' domains are allowed.</small>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input required type="password" id="password" name="password" class="form-control" value="<%= profile.password %>">
          <a href="forgotPassword"><label>Forgot your password?</label></a>
        </div>
        <input type="hidden" name="isVerified" id="isVerified" value="<%= profile.isVerified %>">
        <div class="form-group">
          <label>Director's name</label>
          <input type="text" class="form-control" id="directorsName" name="directorsName" value="<%= profile.directorsName %>">
        </div>
        <div class="form-group">
          <label>Contact Name</label>
          <input type="text" class="form-control" id="contactName" name="contactName" value="<%= profile.contactName %>">
        </div>
        <div class="form-group">
          <label>Title</label>
          <input required type="text" class="form-control" id="title" name="title" value="<%= profile.title %>">
        </div>
        <div class="form-group">
          <label>Company Registration No</label>
          <input type="text" class="form-control" id="companyRegistrationNo" name="companyRegistrationNo"
            value="<%= profile.companyRegistrationNo %>">
        </div>
        <div class="form-group">
          <label>Registered Country*</label>
          <input type="text" class="form-control country" id="registeredCountry" name="registeredCountry"
            value="<%= profile.registeredCountry %>" required>
        </div>
        <div class="form-group">
          <label>Company Address*</label>
          <input type="text" class="form-control" id="companyAddress" name="companyAddress"
            value="<%= profile.companyAddress %>" required>
        </div>
        <div class="form-group">
          <label>Area Covered*</label>
          <input required type="text" class="form-control" id="areaCovered" name="areaCovered"
            value="<%= profile.areaCovered %>">
        </div>
        <div class="form-group">
          <label>Contact Mobile Number*</label>
          <input type="tel" class="form-control" id="contactMobileNumber" name="contactMobileNumber"
            value="<%= profile.contactMobileNumber %>" required>
        </div>
        <div class="form-group">
          <label>Country*</label>
          <input type="text" class="form-control country" id="country" name="country" value="<%= profile.country %>" required>
        </div>
        <div class="form-group">
          <label>Industry*</label>
          <input type="text" class="form-control" id="industry" name="industry" value="<%= profile.industry %>" required>
        </div>
        <div class="form-group">
          <label>Employee Numbers*</label>
          <input type="number" class="form-control" id="employeeNumbers" name="employeeNumbers"
            value="<%= profile.employeeNumbers %>" required>
        </div>
        <div class="form-group">
          <label>Last Year Turnover*</label>
          <input type="money" class="form-control" id="lastYearTurnover" name="lastYearTurnover"
            value="<%= profile.lastYearTurnover %>" required>
        </div>
        <div class="form-group">
          <label>Website</label>
          <input type="url" class="form-control" id="website" name="website" value="<%= profile.website %>">
        </div>
        <div class="form-group">
          <label>Facebook URL</label>
          <input type="url" class="form-control" id="facebookURL" name="facebookURL" value="<%= profile.facebookURL %>">
        </div>
        <div class="form-group">
          <label>Instagram URL</label>
          <input type="url" class="form-control" id="instagramURL" name="instagramURL" value="<%= profile.instagramURL %>">
        </div>
        <div class="form-group">
          <label>Twitter URL</label>
          <input type="url" class="form-control" id="twitterURL" name="twitterURL" value="<%= profile.twitterURL %>">
        </div>
        <div class="form-group">
          <label>LinkedIn URL</label>
          <input type="url" class="form-control" id="linkedinURL" name="linkedinURL" value="<%= profile.linkedinURL %>">
        </div>
        <div class="form-group">
          <label>Other Social Media URL</label>
          <input type="url" class="form-control" id="otherSocialMediaURL" name="otherSocialMediaURL" value="<%= profile.otherSocialMediaURL %>">
        </div>
        <div class="form-group">
          <label>Products or Services Offered*</label>
          <input type="text" class="form-control" id="productsServicesOffered" name="productsServicesOffered" value="<%= profile.productsServicesOffered %>" required>
        </div>
        <div class="form-group">
          <label>Capability Description*</label>
          <input type="text" class="form-control" id="capabilityDescription" name="capabilityDescription" value="<%= profile.capabilityDescription %>" required>
        </div>
        <div class="form-group">
          <label>Relevant Experience*</label>
          <input type="text" class="form-control" id="relevantExperience" name="relevantExperience" value="<%= profile.relevantExperience %>" required>
        </div>
        <div class="form-group">
          <label>Supporting Information</label>
          <input type="text" class="form-control" id="supportingInformation" name="supportingInformation" value="<%= profile.supportingInformation %>">
        </div>

        <!-- Uploading files field section-->        
        <div class="form-group">
          <label class="text-muted form-text">
            You can upload your files to cloud services (e.g. Google Drive) and add the link to the folder here.
          </label>
        </div>
        
        <div class="form-group">
          <label>Certificates</label>          
          <input class="form-control fileupload" type="file" id="certificates" name="certificates" multiple>          
          <input class="form-control multiple btn btn-dark mt-2" type="submit" disabled value="Upload Files" />
        </div>

        <div class="form-group">
          <label>Antibribery policy</label>
          <input class="form-control fileupload" type="file" id="antibriberyPolicy" name="antibriberyPolicy" />
          <input class="form-control single btn btn-dark mt-2" type="submit" disabled value="Upload File" />
        </div>

        <div class="form-group">
          <label>Environment policy</label>
          <input class="form-control fileupload" type="file" id="environmentPolicy" name="environmentPolicy" />
          <input class="form-control single btn btn-dark mt-2" type="submit" disabled value="Upload File" />
        </div>

        <div class="form-group">
          <label>Quality management policy</label>
          <input class="form-control fileupload" type="file" id="qualityManagementPolicy"
            name="qualityManagementPolicy" />
          <input class="form-control single btn btn-dark mt-2" type="submit" disabled value="Upload File" />
        </div>

        <div class="form-group">
          <label>Occupational Safety and Health</label>
          <input class="form-control fileupload" type="file" id="occupationalSafetyAndHealthPolicy"
            name="occupationalSafetyAndHealth" />
          <input class="form-control single btn btn-dark mt-2" type="submit" disabled value="Upload File" />
        </div>

        <div class="form-group">
          <label>Other relevant files</label>
          <input class="form-control fileupload" type="file" id="otherRelevantFiles" name="otherFiles" multiple>
          <input class="form-control multiple btn btn-dark mt-2" type="submit" disabled value="Upload Files" />
        </div>
<!--
        <div class="form-group">
          <label>Certificates</label>
          <input type="url" class="form-control" id="certificatesUrls" value="< %= profile.certificatesUrls %>">
        </div>
        <div class="form-group">
          <label>Anti-bribery policy</label>
          <input type="url" class="form-control" id="antibriberyPolicyUrl" value="< %= profile.antibriberyPolicyUrl %>">
        </div>
        <div class="form-group">
          <label>Environment policy</label>
          <input type="url" class="form-control" id="environmentPolicyUrl" value="< %= profile.environmentPolicyUrl %>">
        </div>
        <div class="form-group">
          <label>Quality management policy</label>
          <input type="url" class="form-control" id="qualityManagementPolicyUrl" value="< %= profile.qualityManagementPolicyUrl%>">
        </div>
        <div class="form-group">
          <label>Occupational Safety and Health</label>
          <input type="url" class="form-control" id="occupationalSafetyAndHealthPolicyUrl" value="< %= profile.occupationalSafetyAndHealthPolicyUrl %>">
        </div>
        <div class="form-group">
          <label>Other relevant files</label>
          <input type="url" class="form-control" id="otherRelevantFilesUrls" value="< %= profile.otherRelevantFilesUrls %>">
        </div>-->

        <!--Mandatory check of agreements -->
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="UNITETermsAndConditions" name="UNITETermsAndConditions"
              <%= profile.UNITETermsAndConditions ? "checked" : "" %> required>
            <label class="form-check-label" for="invalidCheck2">
              <a href="../termsConditions">UNITE Terms And Conditions</a>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="antibriberyAgreement" name="antibriberyAgreement"
              <%= profile.antibriberyAgreement ? "checked" : "" %> required>
            <label class="form-check-label" for="invalidCheck2">
              <a href="../antibriberyAgreement">Antibribery Agreement</a>
            </label>
          </div>
        </div>
        <br>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" disabled id="updateProfile" value="Update Profile"
          class="btn btn-primary btn-block btn-lg">Update Profile</button>
      </form>
    </div>
  </div>
</body>

</html>