<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bid Request Details - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Another cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <script src="/https.js"></script>
  
  <script type="text/javascript">
      $(document).ready(function(){
        $("input").unbind('change').bind('change', function() {        
          $('#updateDetails').removeAttr('disabled');
        });
        
        $('#amount').bind('change', function() {
          $('#price').val($(this).val() * $('#defaultPrice').val());          
        });
      });
    
  </script>  
</head>

<body>

  <div class="container">
      <div>  
        <input type="button" class="btn btn-primary" value="Back" onclick="history.go(-1)">
      </div>    
    <form method="POST">
      <input type='hidden' name='createdAt' value="<%= request.createdAt %>">
      <div class="form-group">
        <label>Item description (short)</label>
        <input type="text" class="form-control" name="itemDescriptionShort" value="<%= request.itemDescription %>" required>
      </div>
      <div class="form-group">
        <label>Products/Services Offered</label>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="prodServicesButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="prodServicesButton">
            <a class="dropdown-item" href="#">First item</a>
            <a class="dropdown-item" href="#">Second item</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      <input type="text" class="form-control" name="productsServicesOffered" value="<%= request.productsServicesOffered %>" required>
      </div>
      <div class="form-group">
        <label>Amount</label>
        <input type="text" class="form-control" id="amount" name="amount" value="<%= request.amount %>" required>
      </div>            
      <div class="form-group">
        <label>Item description (long)*</label>
        <input type="text" class="form-control" name="itemDescriptionLong" value="<%= request.itemDescriptionLong %>" required>
      </div>
      <div class="form-group">
        <label>Item description (URL)</label>
        <input type="url" class="form-control" name="itemDescriptionURL" value="<%= request.itemDescriptionURL %>" required>
      </div>
      <div class="form-group">
        <label>Delivery location</label>
        <input type="text" class="form-control" name="deliveryLocation" value="<%= request.deliveryLocation %>" required>
      </div>
      <div class="form-group">
        <label>Delivery requirements</label>
        <input type="text" class="form-control" name="deliveryRequirements" value="<%= request.deliveryRequirements %>" required>
      </div>
      <div class="form-group">
        <label>Compliance requirements</label>
        <input type="text" class="form-control" name="complianceRequirements" value="<%= request.complianceRequirements %>" required>
      </div>
      <div class="form-group">
					<label>Other Requirements</label>
					<textarea class="form-control"><%= request.otherRequirements %></textarea>
				</div>
      <div class="form-group">
					<label>Price</label>
					<input type="number" id="price" class="form-control" readonly value="<%= request.price %>"></input>
          <input type="hidden" id="defaultPrice" value="<%= request.price %>">
			</div>
      
      <div class="form-group">          
          <label>Long item description(file)</label>
          <input type="url">
      </div>

      <button type="submit" disabled id="updateDetails" value="updateDetails" class="btn btn-primary btn-block btn-lg">Update Bid Details</button>      
      <a href="chat/index">
        <button class="btn btn-primary">Chat</button>
      </a>
      
    </form>
  </div>  
</body>
</html>